Repository jey3dayo/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: beautysh, zsh-syntax, yamllint, markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo, biome

beautysh:
  name: Format Zsh scripts with beautysh
  entry: beautysh
  args:
  - -i
  - '2'
  language: system
  pass_filenames: true

zsh-syntax:
  name: Check Zsh syntax
  entry: zsh
  args:
  - -n
  language: system
  pass_filenames: true

yamllint:
  name: Lint YAML files with yamllint
  entry: yamllint
  args:
  - -f
  - parsable
  language: system
  pass_filenames: true

markdown-bold-headings:
  name: Normalize internal Markdown bold headings
  entry: tsx ./agents/scripts/replace-bold-headings.ts
  language: system
  pass_filenames: true

markdownlint:
  name: Lint Markdown files with markdownlint-cli2
  entry: markdownlint-cli2
  args:
  - --fix
  language: system
  pass_filenames: true

prettier:
  name: Format Markdown/YAML with Prettier
  entry: prettier
  args:
  - --write
  - --ignore-unknown
  - --log-level
  - error
  language: system
  pass_filenames: true

ruff-format:
  name: Format Python files with ruff
  entry: bash
  args:
  - -c
  - uvx ruff format "$@"
  - --
  language: system
  pass_filenames: true

ruff-check:
  name: Lint Python files with ruff
  entry: bash
  args:
  - -c
  - uvx ruff check --fix "$@"
  - --
  language: system
  pass_filenames: true

taplo:
  name: Format TOML files with taplo
  entry: taplo
  args:
  - format
  language: system
  pass_filenames: true

biome:
  name: Format and lint JS/TS with Biome
  entry: biome
  args:
  - check
  - --write
  language: system
  pass_filenames: true

docs: translate batch-4 internal skills SKILL.md to English
  agents/internal/skills/generate-svg/SKILL.md
  agents/internal/skills/gh-fix-review/SKILL.md
  agents/internal/skills/git-automation/SKILL.md
  agents/internal/skills/git-worktree/SKILL.md
  agents/internal/skills/implementation-engine/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier

fix(ci): skip ci:gitleaks gracefully when gitleaks not installed
  mise/tasks/ci.toml
Due: taplo

fix(ci): remove bold heading patterns in premortem SKILL.md
  agents/internal/skills/premortem/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier

fix(ci): wrap glob patterns in backticks to fix MD037 lint errors
  agents/internal/skills/project-maintenance/SKILL.md
  agents/internal/skills/tsr/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier

fix(code-review): restore Japanese language directive in SKILL.md
  agents/internal/skills/code-review/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier

fix(ci): fail ci:gitleaks when gitleaks is not installed
  mise/tasks/ci.toml
Due: taplo

fix(bold-headings): preserve bold in ordered list items when content follows colon
  scripts/replace-bold-headings.test.ts
  scripts/replace-bold-headings.ts
Due: none

test(bold-headings): sync agents/scripts test cases with scripts/ version
  agents/scripts/replace-bold-headings.test.ts
Due: none

review skill output in Japanese
  agents/internal/skills/review/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier

fix(bold-headings): add directory exclusions matching MD_EXCLUDES/TASK_EXCLUDES
  agents/scripts/replace-bold-headings.test.ts
  scripts/replace-bold-headings.test.ts
  scripts/replace-bold-headings.ts
Due: none

docs(agent-creator): translate resources/templates and references to English
  agents/internal/skills/agent-creator/SKILL.md
  agents/internal/skills/agent-creator/references/agent-details.md
  agents/internal/skills/agent-creator/resources/templates/agent-template.md
Due: markdown-bold-headings, markdownlint, prettier

Fix directory exclusion edge cases
  agents/scripts/replace-bold-headings.test.ts
  scripts/replace-bold-headings.test.ts
  scripts/replace-bold-headings.ts
Due: none

fix(openclaw): gateway serviceをlatestシムリンク+直接nodeパスに変更
  .claude/rules/openclaw.md
  systemd/user/openclaw-gateway.service
Due: markdownlint, prettier

docs(openclaw): トラブルシューティングを設定ガイドラインに整理
  .claude/rules/openclaw.md
Due: markdownlint, prettier

fix(openclaw): レビュー指摘事項を修正
  systemd/user/openclaw-gateway.service
Due: none

fix(openclaw): ラッパースクリプト経由でバージョン完全非依存化
  scripts/openclaw-gateway
  systemd/user/openclaw-gateway.service
Due: none

docs(openclaw): ルールのpiパス・旧設定をラッパースクリプト構成に更新
  .claude/rules/openclaw.md
Due: markdownlint, prettier

style: mise format適用
  .claude/rules/openclaw.md
Due: markdownlint, prettier

fix openclaw gateway launcher resolution
  scripts/openclaw-gateway
Due: none

fix openclaw gateway review feedback
  .claude/rules/openclaw.md
  systemd/user/openclaw-gateway.service
Due: markdownlint, prettier

fix(openclaw): gateway serviceをバージョン非依存の起動設定に変更 (#141)
  .claude/rules/openclaw.md
  scripts/openclaw-gateway
  systemd/user/openclaw-gateway.service
Due: markdownlint, prettier

fix: Brewfile重複削除・ポリシー文書更新 (#107)
  .claude/rules/tools/tool-install-policy.md
  Brewfile
  TOOLS.md
  docs/setup.md
Due: markdownlint, prettier

style: tool-install-policy.md の bold ラベルパターンを除去
  .claude/rules/tools/tool-install-policy.md
Due: markdownlint, prettier

fix: bold-headings スクリプトを改善し、コロン後コンテンツありパターンも変換対象に
  .claude/README.md
  .claude/review-criteria.md
  .claude/rules/commands-deprecation.md
  .claude/rules/home-manager.md
  .claude/rules/nix-maintenance.md
  .claude/rules/openclaw.md
  .claude/rules/security.md
  .claude/rules/setup-and-env.md
  .claude/rules/tools/claude-code.md
  .claude/rules/tools/fzf-integration.md
  .claude/rules/tools/git-and-ssh.md
  .claude/rules/tools/git.md
  .claude/rules/tools/mise.md
  .claude/rules/tools/nvim.md
  .claude/rules/tools/ssh.md
  .claude/rules/tools/wezterm.md
  .claude/rules/tools/zsh.md
  .claude/rules/troubleshooting.md
  .claude/rules/workflows-and-maintenance.md
  AGENTS.md
  AGENTS.v1.md
  README.md
  agents/README.md
  agents/scripts/replace-bold-headings.test.ts
  docs/README.md
  docs/disaster-recovery.md
  docs/performance.md
  docs/setup.md
  docs/tools/fzf-integration.md
  docs/tools/git.md
  docs/tools/nvim.md
  docs/tools/ssh.md
  docs/tools/wezterm.md
  docs/tools/zsh.md
  mise/README.md
  scripts/replace-bold-headings.test.ts
  scripts/replace-bold-headings.ts
  ssh/README.md
  zsh/README.md
Due: markdownlint, prettier

refactor(nix): lib.nix/module.nix の重複コードを汎用ヘルパーに統合
  agents/nix/lib.nix
  agents/nix/module.nix
  home.nix
Due: none

fix(nix): scanMdEntries で symlink→file の readDir 失敗を tryEval でガード
  agents/nix/lib.nix
Due: none

refactor(nix): lib.nix/module.nix の重複コードを汎用ヘルパーに統合 (#143)
  agents/nix/lib.nix
  agents/nix/module.nix
  home.nix
Due: none

refactor(zsh): git.zsh (755行) を4ファイルに分割
  zsh/config/tools/git.zsh
  zsh/config/tools/git/core.zsh
  zsh/config/tools/git/menu.zsh
  zsh/config/tools/git/widgets.zsh
  zsh/config/tools/git/worktree.zsh
Due: beautysh, zsh-syntax

refactor(zsh): macOS固有環境変数を .zshenv から分離
  zsh/.zshenv
  zsh/config/os/macos-env.zsh
Due: beautysh, zsh-syntax

refactor(zsh): sources/config-loader.zsh の間接参照を除去
  zsh/.zshrc
  zsh/sources/config-loader.zsh
Due: beautysh, zsh-syntax

fix(zsh): styles.zsh と loader の source 順序を元のglob順に修正
  zsh/.zshrc
Due: none

refactor: task スキル削除（task-router に一本化）
  agents/internal/skills/task/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier

fix(zsh): loader.zsh の config_dir 変数リークを修正
  zsh/config/loader.zsh
Due: beautysh, zsh-syntax

refactor(zsh): 設定ファイル分割・整理 (#144)
  agents/internal/skills/task/SKILL.md
  zsh/.zshenv
  zsh/.zshrc
  zsh/config/loader.zsh
  zsh/config/os/macos-env.zsh
  zsh/config/tools/git.zsh
  zsh/config/tools/git/core.zsh
  zsh/config/tools/git/menu.zsh
  zsh/config/tools/git/widgets.zsh
  zsh/config/tools/git/worktree.zsh
  zsh/sources/config-loader.zsh
Due: beautysh, zsh-syntax, markdown-bold-headings, markdownlint, prettier

fix(skills): code-review, command-creator, codex-plan-review を復元
  agents/internal/skills/code-review/CHANGELOG.md
  agents/internal/skills/code-review/MIGRATION.md
  agents/internal/skills/code-review/README.md
  agents/internal/skills/code-review/SKILL.md
  agents/internal/skills/code-review/commands/review.md
  agents/internal/skills/code-review/config/default-projects.json
  agents/internal/skills/code-review/config/examples/.code-review-config.json
  agents/internal/skills/code-review/config/examples/caad-loca-project.json
  agents/internal/skills/code-review/detectors/.gitkeep
  agents/internal/skills/code-review/evaluators/.gitkeep
  agents/internal/skills/code-review/schemas/project-detection-schema.json
  agents/internal/skills/code-review/skills/SKILL.md
  agents/internal/skills/code-review/skills/references/default-criteria.md
  agents/internal/skills/code-review/skills/references/detailed-mode.md
  agents/internal/skills/code-review/skills/references/evaluation-framework.md
  agents/internal/skills/code-review/skills/references/github-integration.md
  agents/internal/skills/code-review/skills/references/simple-mode.md
  agents/internal/skills/codex-plan-review/SKILL.md
  agents/internal/skills/command-creator/SKILL.md
  agents/internal/skills/command-creator/references/command-details.md
  agents/internal/skills/command-creator/references/index.md
  agents/internal/skills/command-creator/resources/checklist.md
  agents/internal/skills/command-creator/resources/examples/phase-based-command.md
  agents/internal/skills/command-creator/resources/examples/session-managed-command.md
  agents/internal/skills/command-creator/resources/examples/simple-command.md
  agents/internal/skills/command-creator/resources/templates/command-template.md
Due: markdown-bold-headings, markdownlint, prettier, biome

refactor(skills): Review系スキル再編 + モデル非依存化
  agents/internal/skills/code-review-system/SKILL.md
  agents/internal/skills/code-review-system/references/auto-fix.md
  agents/internal/skills/code-review-system/references/ci-diagnosis.md
  agents/internal/skills/code-review-system/references/comment-handling.md
  agents/internal/skills/code-review-system/references/execution-modes.md
  agents/internal/skills/code-review-system/references/skill-integration-detail.md
  agents/internal/skills/code-review/CHANGELOG.md
  agents/internal/skills/code-review/MIGRATION.md
  agents/internal/skills/code-review/README.md
  agents/internal/skills/code-review/SKILL.md
  agents/internal/skills/code-review/commands/review.md
  agents/internal/skills/code-review/detectors/.gitkeep
  agents/internal/skills/code-review/evaluators/.gitkeep
  agents/internal/skills/code-review/examples/review-workflows.md
  agents/internal/skills/code-review/examples/troubleshooting-solutions.md
  agents/internal/skills/code-review/references/detailed-mode.md
  agents/internal/skills/code-review/references/evaluation-framework.md
  agents/internal/skills/code-review/references/project-customization.md
  agents/internal/skills/code-review/references/simple-mode.md
  agents/internal/skills/code-review/references/tech-stack-skills.md
  agents/internal/skills/code-review/schemas/project-detection-schema.json
  agents/internal/skills/code-review/skills/SKILL.md
  agents/internal/skills/code-review/skills/references/default-criteria.md
  agents/internal/skills/code-review/skills/references/github-integration.md
  agents/internal/skills/codex-plan-review/SKILL.md
  agents/internal/skills/codex-system/SKILL.md
  agents/internal/skills/codex-system/references/code-review-task.md
  agents/internal/skills/codex-system/references/delegation-patterns.md
  agents/internal/skills/codex-system/references/refactoring-task.md
  agents/internal/skills/docs-index/indexes/commands-index.md
  agents/internal/skills/docs-index/indexes/skills-index.md
  agents/internal/skills/premortem/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier, biome

fix(skills): codex-code-review を復元（モデル非依存化済み）
  agents/internal/skills/codex-code-review/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier

Path conditions:
  beautysh: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  zsh-syntax: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdown-bold-headings: any of: ^agents/internal/.*\.md$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-format: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-check: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  taplo: any of: \.toml$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  biome: any of: \.(js|jsx|ts|tsx|json)$ and \.(js|mjs|cjs)$, \.json$ and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
