Repository jey3dayo/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: beautysh, zsh-syntax, yamllint, markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo, biome

Path conditions:
  beautysh: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  zsh-syntax: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdown-bold-headings: any of: ^agents/internal/.*\.md$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-format: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-check: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  taplo: any of: \.toml$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  biome: any of: \.(js|jsx|ts|tsx|json)$ and \.(js|mjs|cjs)$, \.json$ and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))

fix(apm): stop selecting managed skill-creator externally
  nix/agent-skills-sources.nix
Due: none

chore(nix): drop stale external skill sources
  flake.lock
  flake.nix
  nix/agent-skills-sources.nix
Due: none

chore(nix): drop migrated skill sources
  flake.lock
  flake.nix
  nix/agent-skills-sources.nix
Due: none

chore(nix): drop second migrated skill batch
  flake.lock
  flake.nix
  nix/agent-skills-sources.nix
Due: none

fix(mise): make ci pass on windows
  docs/tools/nix.md
  home.nix
  mise/config.windows.toml
  mise/lib/run-ts-tests.sh
  mise/tasks/agents.toml
  mise/tasks/ci.toml
  mise/tasks/format.toml
  mise/tasks/integration.toml
  mise/tasks/lint.toml
  mise/tasks/test.toml
  mise/tasks/updates.toml
  scripts/apm-workspace.sh
  scripts/mise-wsl-task.ps1
  scripts/mise-wsl-task.sh
  scripts/setup-env.ps1.test.ts
Due: markdownlint, prettier, taplo

chore(nix): drop third migrated skill batch
  flake.lock
  flake.nix
  nix/agent-skills-sources.nix
Due: none

fix(scripts): address remaining review findings
  scripts/apm-workspace.sh
  scripts/apm-workspace.test.ts
  scripts/setup-env.ps1.test.ts
Due: none

chore(nix): remove external skill sources
  flake.lock
  flake.nix
  nix/agent-skills-sources.nix
Due: none

add llms entrypoint
  llms.md
Due: markdownlint, prettier

organize doc entrypoints
  CLAUDE.md
  README.md
  docs/README.md
  docs/documentation.md
Due: markdownlint, prettier

fix(scripts): support apm workspace sync on macos
  scripts/apm-workspace.sh
Due: none

fix(ci): install zsh for action tests
  .github/workflows/ci.yml
Due: yamllint, prettier

fix(scripts): remove legacy superpowers skill aliases
  scripts/apm-workspace.ps1
  scripts/apm-workspace.sh
  scripts/apm-workspace.test.ts
Due: none

fix(tooling): exclude claude worktrees from checks
  .agignore
  .fdignore
  .gitignore
  .ignore
  .markdownlint-cli2.jsonc
  .pre-commit-config.yaml
  .prettierignore
  biome.json
  mise/config.ci.toml
  mise/config.toml
  mise/config.windows.toml
  scripts/replace-bold-headings.test.ts
  scripts/replace-bold-headings.ts
Due: yamllint, prettier, taplo, biome

chore(scripts): format apm workspace alias case
  scripts/apm-workspace.sh
Due: none

refactor(apm-workspace): drop generated mise template
  .claude/rules/agent-skills-source-of-truth.md
  .github/workflows/validate.yml
  scripts/apm-workspace.ps1
  scripts/apm-workspace.sh
  scripts/apm-workspace.test.ts
  templates/apm-workspace/mise.toml
Due: yamllint, markdownlint, prettier, taplo

docs(apm-workspace): reflect self-contained mise ownership
  docs/tools/apm-workspace.md
Due: markdownlint, prettier

refactor(apm): keep bootstrap as only config entrypoint
  .claude/rules/agent-skills-source-of-truth.md
  .github/workflows/validate.yml
  .kiro/steering/tech.md
  docs/tools/apm-workspace.md
  docs/tools/mise-tasks.md
  docs/tools/mise.md
  mise/tasks/agents.toml
  scripts/apm-workspace-migrate-external.ps1
  scripts/apm-workspace.ps1
  scripts/apm-workspace.sh
  scripts/apm-workspace.test.ts
Due: yamllint, markdownlint, prettier, taplo

fix(opencode): restore AGENTS symlink target
  opencode/AGENTS.md
Due: markdownlint, prettier

refactor(apm): align tooling and docs with catalog skills
  .claude/rules/agent-skills-source-of-truth.md
  .github/workflows/validate.yml
  .kiro/steering/tech.md
  docs/tools/apm-workspace.md
  docs/tools/home-manager.md
  docs/tools/mise-tasks.md
  docs/tools/mise.md
  docs/tools/nix.md
  mise/config.ci.toml
  mise/config.toml
  mise/config.windows.toml
  mise/tasks/agents.toml
  opencode/AGENTS.md
  scripts/apm-workspace-migrate-external.ps1
  scripts/apm-workspace.ps1
  scripts/apm-workspace.sh
  scripts/apm-workspace.test.ts
  scripts/replace-bold-headings.test.ts
  scripts/replace-bold-headings.ts
Due: yamllint, markdownlint, prettier, taplo

fix(format): exclude apm lockfile from yaml formatting
  mise/config.ci.toml
  mise/config.default.toml
  mise/config.toml
  mise/config.windows.toml
  mise/tasks/format.toml
Due: taplo

refactor(apm): remove .config workspace control surface
  .claude/rules/agent-skills-source-of-truth.md
  .claude/rules/home-manager.md
  .github/workflows/validate.yml
  .kiro/steering/tech.md
  .mise.toml
  docs/tools/apm-workspace.md
  docs/tools/home-manager.md
  docs/tools/mise-tasks.md
  docs/tools/mise.md
  flake.nix
  mise/tasks/agents.toml
  scripts/apm-workspace.ps1
  scripts/apm-workspace.sh
  scripts/apm-workspace.test.ts
Due: yamllint, markdownlint, prettier, taplo

chore(config): remove microsoft/apm entry from default.toml
  mise/config.default.toml
Due: taplo

fix(zsh-abbr): update aic abbreviation from oco to aicommits
  zsh-abbr/user-abbreviations
Due: none

chore(mise): add design.md cli
  mise/config.default.toml
  mise/config.pi.toml
  mise/config.windows.toml
Due: taplo

test(nix): support WSL nix test execution
  scripts/dotfiles-materialized-entrypoints.test.ts
Due: none

refactor(nix): remove legacy agent skills distribution
  flake.nix
  mise/tasks/ci.toml
  nix/agent-skills-sources.nix
  nix/agent-skills.nix
  nix/sources.nix
  nix/targets.nix
  scripts/check-flake-sync.sh
Due: taplo

docs(apm): clarify skills ownership outside nix
  docs/tools/apm-workspace.md
  docs/tools/home-manager.md
  docs/tools/mise-tasks.md
  docs/tools/mise.md
  docs/tools/nix.md
Due: markdownlint, prettier

refactor(lua): extract shared helper logic
  nvim/lua/lsp/formatter_selector.lua
  nvim/lua/lsp/settings_factory.lua
  wezterm/utils.lua
Due: none

refactor(shell): share env bootstrap
  bash/.bashrc
  shell/env.sh
  zsh/.zshenv
  zsh/config/tools/mise-env.zsh
Due: beautysh, zsh-syntax

chore(env): update encrypted telegram config
  .env
  mise/tasks/env.toml
Due: taplo

chore(scripts): add telegram api health check
  scripts/check-telegram-api.sh
Due: none

fix: normalize mise windows tasks
  mise/tasks/ci.toml
  scripts/mise-wsl-task.ps1
Due: taplo

chore(openclaw): add service stability settings
  systemd/user/openclaw-gateway.service
Due: none

feat(nanoclaw): add service template and config for WSL2
  .gitignore
  nanoclaw/mount-allowlist.json
  systemd/user/nanoclaw-v2.service.template
Due: biome

Configure telegram mcp env placeholders
  .env
  .prettierignore
  mise/config.ci.toml
  mise/config.toml
  mise/config.windows.toml
  scripts/mise-wsl-task.ps1
Due: taplo

fix(mise): drop python and switch uv to ubi backend on pi
  mise/config.pi.toml
Due: taplo

chore(mise): clean up pi config
  mise/config.pi.toml
Due: taplo

fix(mise): switch uv from deprecated ubi backend to github backend
  mise/config.pi.toml
Due: taplo
