Repository jey3dayo/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: beautysh, zsh-syntax, yamllint, markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo, biome

Path conditions:
  beautysh: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  zsh-syntax: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdown-bold-headings: any of: ^agents/internal/.*\.md$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-format: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-check: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  taplo: any of: \.toml$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  biome: any of: \.(js|jsx|ts|tsx|json)$ and \.(js|mjs|cjs)$, \.json$ and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))

chore(brew): remove unused casks (sketch, deepl, goland, warp, firefox, react-native-debugger, quitter)
  Brewfile
  Brewfile.lock.json
Due: biome

chore(brew): remove devtoys cask
  Brewfile
  Brewfile.lock.json
Due: biome

chore(brew): remove devutils cask
  Brewfile
  Brewfile.lock.json
Due: biome

refactor(zsh): delegate task completion to the Go engine
  zsh/completions/_task
Due: none

fix(zsh): avoid atuin EIO on first lazy Ctrl-R
  zsh/lib/atuin.zsh
Due: beautysh, zsh-syntax

fix(zsh): avoid atuin EIO on first lazy Ctrl-R (#179)
  zsh/lib/atuin.zsh
Due: beautysh, zsh-syntax

test(zsh): cover atuin lazy Ctrl-R load path
  scripts/zsh-env-loading.test.ts
Due: none

test(zsh): guard atuin lazy-path test against preload and partial matches
  scripts/zsh-env-loading.test.ts
Due: none

test(zsh): avoid template-like placeholder in atuin preload check
  scripts/zsh-env-loading.test.ts
Due: none

test(zsh): cover atuin lazy Ctrl-R load path (#180)
  scripts/zsh-env-loading.test.ts
Due: none

fix: enable status indicator dots
  herdr/config.toml
Due: taplo

chore(opencode): ignore herdr-generated integration files
  .gitignore
Due: none

chore: update goimports to 0.51.0 and document standalone updates
  docs/tools/mise-tasks.md
  mise/entry.workstation-unix.toml
Due: markdownlint, prettier, taplo

chore(brew): add bash, poppler and tuxedo
  mise/config.macos.toml
Due: taplo

feat(mise): add update:standalone task for self-updating CLIs
  mise/local-tasks/updates.toml
Due: taplo

chore(brew): remove unused cmux tap
  Brewfile
  homebrew/trust.json
Due: biome

chore(brew): remove deprecated IntelliCode extensions
  Brewfile
Due: none

chore(brew): remove vagrant cask
  Brewfile
Due: none

chore(brew): remove tablepro cask
  Brewfile
Due: none

chore(brew): remove prisma-studio cask
  Brewfile
Due: none

chore(brew): remove deskpad cask
  Brewfile
Due: none

chore(brew): remove aiac and its tap
  Brewfile
  homebrew/trust.json
Due: biome

chore(brew): remove xquartz and teamviewer casks
  Brewfile
Due: none

chore(brew): remove unused taps
  Brewfile
  homebrew/trust.json
Due: biome

chore(brew): drop unused font casks and manage terminal fonts via casks
  Brewfile
Due: none

chore: update Biome schema reference to 2.5.15
  biome.json
Due: biome

chore(brew): manage design fonts via casks
  Brewfile
Due: none

fix: use maintained actionlint fork with pinned version
  mise/config.shared.toml
Due: taplo

chore: ignore actionlint local config
  .gitignore
Due: none

fix(mise): derive shared tool keys in config test and use actionlint fork in CI
  mise/entry.ci.toml
  scripts/mise-config.test.ts
Due: taplo

perf(mise): install prebuilt go tools via aqua and run brew/mise updates in parallel
  docs/tools/mise-config.md
  mise/entry.workstation-unix.toml
  mise/local-tasks/updates.toml
Due: markdownlint, prettier, taplo

chore(mise): replace actionlint with jactionlint (correctness profile)
  .github/jactionlint.yaml
  docs/tools/mise-config.md
  docs/tools/mise-tasks.md
  docs/tools/mise.md
  lefthook.yml
  mise/config.shared.toml
  mise/entry.ci.toml
  mise/local-tasks/lint.toml
Due: yamllint, markdownlint, prettier, taplo

chore(lefthook): jobs 形式へ移行し pre-push を CI と同順の逐次実行にする
  lefthook.yml
Due: yamllint, prettier
