Repository jey3dayo/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: beautysh, zsh-syntax, yamllint, markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo, biome

beautysh:
  name: Format Zsh scripts with beautysh
  entry: beautysh
  args:
  - -i
  - '2'
  language: system
  pass_filenames: true

zsh-syntax:
  name: Check Zsh syntax
  entry: zsh
  args:
  - -n
  language: system
  pass_filenames: true

yamllint:
  name: Lint YAML files with yamllint
  entry: yamllint
  args:
  - -f
  - parsable
  language: system
  pass_filenames: true

markdown-bold-headings:
  name: Normalize internal Markdown bold headings
  entry: tsx ./agents/scripts/replace-bold-headings.ts
  language: system
  pass_filenames: true

markdownlint:
  name: Lint Markdown files with markdownlint-cli2
  entry: markdownlint-cli2
  args:
  - --fix
  language: system
  pass_filenames: true

prettier:
  name: Format Markdown/YAML with Prettier
  entry: prettier
  args:
  - --write
  - --ignore-unknown
  - --log-level
  - error
  language: system
  pass_filenames: true

ruff-format:
  name: Format Python files with ruff
  entry: bash
  args:
  - -c
  - uvx ruff format "$@"
  - --
  language: system
  pass_filenames: true

ruff-check:
  name: Lint Python files with ruff
  entry: bash
  args:
  - -c
  - uvx ruff check --fix "$@"
  - --
  language: system
  pass_filenames: true

taplo:
  name: Format TOML files with taplo
  entry: taplo
  args:
  - format
  language: system
  pass_filenames: true

biome:
  name: Format and lint JS/TS with Biome
  entry: biome
  args:
  - check
  - --write
  language: system
  pass_filenames: true

chore(lint): drop nix lint/format hooks and tooling
  Brewfile
  lefthook.yml
  mise/config.ci.toml
  mise/config.default.toml
  mise/config.windows.toml
  mise/lib/nixfmt.sh
  mise/local-tasks/format.toml
  mise/local-tasks/integration.toml
  mise/local-tasks/lint.toml
Due: yamllint, prettier, taplo

docs: reflect home-manager removal and mise bootstrap deployment
  .claude/rules/agent-skills-source-of-truth.md
  .claude/rules/home-manager.md
  .claude/rules/nix-maintenance.md
  TODO.md
  docs/disaster-recovery.md
  docs/setup.md
  docs/tools/home-manager.md
  docs/tools/mise-tasks.md
  docs/tools/nix.md
Due: markdownlint, prettier

ci: replace home-manager deploy validation with mise dotfiles
  .github/workflows/ci.yml
  .github/workflows/validate.yml
  mise/local-tasks/ci.toml
Due: yamllint, prettier, taplo

docs: update README setup flow to mise bootstrap
  README.md
  docs/README.md
Due: markdownlint, prettier

docs: purge stale home-manager references after mise bootstrap migration
  .claude/rules/agent-skills-source-of-truth.md
  .claude/rules/tools/1password.md
  .claude/rules/tools/tool-install-policy.md
  .claude/rules/troubleshooting.md
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  docs/disaster-recovery.md
  docs/tools/1password.md
  docs/tools/mise-config.md
  docs/tools/mise-tasks.md
  docs/tools/mise.md
  docs/tools/workflows.md
  docs/tools/zsh.md
Due: markdownlint, prettier

docs: drop remaining nix references from README, gitignore, and rules
  .claude/rules/setup-and-env.md
  .gitignore
  README.md
  TODO.md
Due: markdownlint, prettier

build(apm): retire nix-dotfiles skill and orphaned darwin module
  .agents/skills/nix-dotfiles/SKILL.md
  .agents/skills/nix-dotfiles/agents/openai.yaml
  .agents/skills/nix-dotfiles/references/architecture.md
  .agents/skills/nix-dotfiles/references/commands.md
  .agents/skills/nix-dotfiles/references/troubleshooting.md
  .agents/skills/nix-dotfiles/scripts/diagnose.sh
  .claude/skills/nix-dotfiles/SKILL.md
  .claude/skills/nix-dotfiles/agents/openai.yaml
  .claude/skills/nix-dotfiles/references/architecture.md
  .claude/skills/nix-dotfiles/references/commands.md
  .claude/skills/nix-dotfiles/references/troubleshooting.md
  .claude/skills/nix-dotfiles/scripts/diagnose.sh
  apm.lock.yaml
  apm.yml
  modules/darwin/touch-id-sudo.nix
  skills/nix-dotfiles/SKILL.md
  skills/nix-dotfiles/agents/openai.yaml
  skills/nix-dotfiles/references/architecture.md
  skills/nix-dotfiles/references/commands.md
  skills/nix-dotfiles/references/troubleshooting.md
  skills/nix-dotfiles/scripts/diagnose.sh
Due: yamllint, markdownlint, prettier

docs: remove deleted nix tasks from task catalog
  docs/tools/mise-tasks.md
Due: markdownlint, prettier

ci: route local and CI deploy through ci:verify-deploy task
  .claude/commands/ci-local.sh
  .github/workflows/ci.yml
Due: yamllint, prettier

fix(bootstrap): load config.default.toml explicitly on first-run machines
  README.md
  docs/setup.md
  mise/README.md
  mise/config.default.toml
  mise/config.toml
  scripts/bootstrap-task.sh
  scripts/bootstrap.sh
Due: markdownlint, prettier, taplo

docs: fix remaining stale nix references found in review sweep
  .agents/skills/nvim/SKILL.md
  .claude/skills/nvim/SKILL.md
  docs/tools/mise-config.md
  docs/tools/mise.md
  llms.md
  scripts/env-detect.sh
  skills/nvim/SKILL.md
Due: markdownlint, prettier

docs: fix env-detect reference in mise README
  mise/README.md
Due: markdownlint, prettier

feat(npm): move npmrc to XDG path and drop ~/.npmrc shim
  mise/config.toml
  npm/npmrc
  scripts/launchd-codex-gui-env.sh
  shell/env.sh
Due: taplo

feat(mise): manage awsume via pipx backend
  mise/config.default.toml
Due: taplo

docs: record completed nix cleanup and XDG follow-up tasks
  TODO.md
Due: markdownlint, prettier

refactor(scripts): group windows and launchd scripts into subdirectories
  .claude/rules/tools/1password.md
  mise/config.default.toml
  mise/local-tasks/ci.toml
  mise/local-tasks/env.toml
  mise/local-tasks/updates.toml
  scripts/launchd/launchd-codex-gui-env.sh
  scripts/launchd/launchd-headroom-proxy.sh
  scripts/mise-biome.ps1
  scripts/windows/mise-update.ps1
  scripts/windows/mise-wsl-task.ps1
  scripts/windows/mise-wsl-task.sh
  scripts/windows/run-windows-powershell.sh
  scripts/windows/setup-env.ps1
  scripts/windows/setup-env.ps1.test.ts
Due: markdownlint, prettier, taplo

feat(bin): add replace-bold-headings PATH entrypoint
  bin/replace-bold-headings
Due: none

chore: ignore rclone/ (contains credentials)
  .gitignore
Due: none

docs: rewrite README getting started around mise bootstrap
  README.md
Due: markdownlint, prettier

docs: position mise bootstrap as the primary setup path
  .kiro/steering/product.md
  .kiro/steering/tech.md
  README.md
  docs/setup.md
  scripts/launchd/launchd-gui-env.sh
Due: markdownlint, prettier

refactor(launchd): rename codex-gui-env agent to gui-env
  mise/config.default.toml
Due: taplo

docs: sync scripts directory map and agent name in steering and TODO
  .kiro/steering/structure.md
  TODO.md
Due: markdownlint, prettier

refactor(mise): trim redundant comments in os-specific config files
  mise/config.ci.toml
  mise/config.pi.toml
  mise/config.windows.toml
Due: taplo

feat(mise): migrate Brewfile formulae to mise tools and bootstrap packages
  Brewfile
  bash/.bashrc
  homebrew/trust.json
  mise/config.default.toml
  mise/config.macos.toml
  mise/config.toml
  mise/tasks/brewfile.toml
  shell/env.sh
  zsh/.zshenv
  zsh/completions/_ghq
  zsh/completions/_sheldon
  zsh/completions/_task
Due: taplo, biome

docs: update setup and tool policy for mise bootstrap migration
  .claude/rules/tools/tool-install-policy.md
  README.md
  docs/setup.md
  docs/tools/mise-tasks.md
  docs/tools/workflows.md
  scripts/bootstrap.sh
Due: markdownlint, prettier

feat(mise): add ax CLI with minimum_release_age exclusion
  mise/config.default.toml
Due: taplo

fix(mise): add pnpm to pi config for npm backend shim resolution
  mise/config.pi.toml
Due: taplo

feat(zsh): bind tab to accept in fzf-tab popup
  zsh/lib/fzf-tab.zsh
Due: beautysh, zsh-syntax

fix(zsh): force case-insensitive fzf-tab matching and rebind multi-select toggle
  zsh/lib/fzf-tab.zsh
Due: beautysh, zsh-syntax

fix(zsh): try exact match first in matcher-list to avoid mixed-case prefix merge
  zsh/lib/completion.zsh
Due: beautysh, zsh-syntax

fix(zsh): apply review fixes (compinit freshness, LC_ALL, dedupe, keymaps)
  zsh/.zprofile
  zsh/.zshrc
  zsh/lib/atuin.zsh
  zsh/lib/completion.zsh
  zsh/lib/fzf.zsh
  zsh/lib/history.zsh
Due: beautysh, zsh-syntax

fix(zsh): skip nix-darwin /etc/zshrc to stop duplicate compinit and stray zcompdump
  zsh/.zshenv
Due: none

refactor(mise): split task runners into scripts
  docs/tools/mise-tasks.md
  docs/tools/mise.md
  mise/lib/lint-shell.sh
  mise/local-tasks/ci.toml
  mise/local-tasks/docs.toml
  mise/local-tasks/integration.toml
  mise/local-tasks/lint.toml
  mise/local-tasks/updates.toml
  mise/tasks/brewfile.toml
  scripts/brewfile-restore.sh
  scripts/mise-ci.sh
  scripts/mise-docs-update-counts.sh
  scripts/mise-doctor.sh
  scripts/mise-setup.sh
  scripts/update-submodules.sh
  scripts/windows/mise-update.ps1
Due: markdownlint, prettier, taplo

refactor(mise): dedupe settings shared with config.toml from per-OS configs
  mise/config.ci.toml
  mise/config.default.toml
  mise/config.pi.toml
  mise/config.windows.toml
Due: taplo

docs(mise): sync README with actual layout and drop hardcoded tool counts
  mise/README.md
Due: markdownlint, prettier

fix(zsh): restore mise GitHub token wrapper lost in startup rebuild
  zsh/.zshrc
  zsh/lib/mise.zsh
Due: beautysh, zsh-syntax

build(mise): add @earendil-works/pi-coding-agent to excludes
  mise/config.toml
Due: taplo

fix(lefthook): use fast lint on pre-push
  lefthook.yml
Due: yamllint, prettier

test(scripts): add coverage for env-detect.sh
  scripts/env-detect.test.ts
Due: none

docs(mise): flag undocumented go/node pin divergence for review
  mise/config.default.toml
  mise/config.pi.toml
  mise/config.windows.toml
Due: taplo

Path conditions:
  beautysh: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  zsh-syntax: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdown-bold-headings: any of: ^agents/internal/.*\.md$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-format: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-check: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  taplo: any of: \.toml$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  biome: any of: \.(js|jsx|ts|tsx|json)$ and \.(js|mjs|cjs)$, \.json$ and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
