Repository jey3dayo/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: beautysh, zsh-syntax, yamllint, markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo, biome

Path conditions:
  beautysh: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  zsh-syntax: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdown-bold-headings: any of: ^agents/internal/.*\.md$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-format: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-check: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  taplo: any of: \.toml$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  biome: any of: \.(js|jsx|ts|tsx|json)$ and \.(js|mjs|cjs)$, \.json$ and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))

feat(macos): add macOS app check helper
  scripts/check-macos-app.sh
Due: none

chore(mise): enable codex on raspberry pi
  mise/config.pi.toml
Due: taplo

fix(nix): format dotfiles module
  nix/dotfiles-module.nix
Due: none

chore(mise): remove trusted_config_paths from config.toml
  mise/config.toml
Due: taplo

fix(macos): simplify app check repair flag
  scripts/check-macos-app.sh
Due: none

Move 1Password token to dotenvx
  .claude/rules/tools/1password.md
  .env
  docs/tools/1password.md
  powershell/profile.d/env.ps1
  zsh/config/tools/1password.zsh
Due: beautysh, zsh-syntax, markdownlint, prettier

fix(1password): route env key helpers through dotenvx
  zsh/config/tools/1password.zsh
Due: beautysh, zsh-syntax

fix(1password): prefer account before dotenvx fallback
  zsh/config/tools/1password.zsh
Due: beautysh, zsh-syntax

fix: detect broken Codex app signatures
  scripts/check-macos-app.sh
Due: none

Update 1Password automation token
  .env
Due: none

refactor(nix): organize dotfiles entrypoints
  docs/superpowers/plans/2026-06-20-nix-dotfiles-structure-adoption.md
  flake.nix
  home.nix
  hosts/CA-20031129/default.nix
  modules/darwin/touch-id-sudo.nix
  nix/darwin.nix
  users/current/home.nix
Due: markdownlint, prettier

refactor(nix): organize dotfiles entrypoints
  flake.nix
  home.nix
  hosts/CA-20031129/default.nix
  modules/darwin/touch-id-sudo.nix
  nix/darwin.nix
  users/current/home.nix
Due: none

chore(mise): sequence update tasks after pull
  mise/tasks/updates.toml
Due: taplo

chore(mise): add headroom tool
  mise/config.default.toml
  mise/config.windows.toml
Due: taplo

fix(ci): format nix structure plan
  docs/superpowers/plans/2026-06-20-nix-dotfiles-structure-adoption.md
Due: markdownlint, prettier

fix(ci): format 1password shell helper
  zsh/config/tools/1password.zsh
Due: beautysh, zsh-syntax

fix(ci): format mise tasks docs
  docs/tools/mise-tasks.md
Due: markdownlint, prettier

fix(ci): satisfy statix inherit rule
  flake.nix
Due: none

chore(env): add slack bot token
  .env
Due: none

fix(nix): address flake factory review
  flake.nix
Due: none

Update trusted Homebrew taps
  homebrew/trust.json
Due: biome

chore(mise): update managed tool versions
  docs/tools/mise-config.md
  mise/config.default.toml
  mise/config.windows.toml
Due: markdownlint, prettier, taplo

feat(mise): add Headroom workflow tasks
  .mise.toml
  .rtk/rewrite-mode
  mise/tasks/headroom.toml
Due: taplo

feat(nix): launch Headroom proxy at login
  users/current/home.nix
Due: none

fix(nix): isolate Headroom launch agent runtime
  users/current/home.nix
Due: none

chore(mise): allow immediate Codex CLI updates
  mise/config.toml
Due: taplo

Revert "chore(mise): allow immediate Codex CLI updates"
  mise/config.toml
Due: taplo

chore(mise): align package management responsibilities
  Brewfile
  mise/config.default.toml
Due: taplo

docs(mise): document package management ownership
  AGENTS.md
  docs/setup.md
  docs/tools/mise-config.md
  docs/tools/mise.md
Due: markdownlint, prettier

chore(env): export dotenvx-managed secrets
  .env
Due: none

chore(mise): switch terraform mcp server source
  mise/config.default.toml
Due: taplo

feat(nix): expose Jina key to GUI apps
  .claude/rules/home-manager.md
  .claude/rules/tools/1password.md
  docs/tools/1password.md
  docs/tools/home-manager.md
  users/current/home.nix
Due: markdownlint, prettier

docs: normalize nix dotfiles plan headings
  docs/superpowers/plans/2026-06-20-nix-dotfiles-structure-adoption.md
Due: markdownlint, prettier

chore(atuin): enable ai integration
  atuin/config.toml
Due: taplo

refactor(zsh): simplify startup internals
  bash/.bashrc
  docs/tools/zsh.md
  scripts/zsh-env-loading.test.ts
  shell/env.sh
  spec/zsh_performance_spec.lua
  zsh/.zprofile
  zsh/.zshenv
  zsh/.zshrc
  zsh/lib/abbr.zsh
  zsh/lib/atuin.zsh
  zsh/lib/autosuggestions.zsh
  zsh/lib/fzf-tab.zsh
  zsh/lib/fzf.zsh
  zsh/lib/gh.zsh
  zsh/lib/git-widgets.zsh
  zsh/lib/ni.zsh
  zsh/lib/path.zsh
  zsh/lib/plugins.zsh
  zsh/lib/syntax-highlighting.zsh
  zsh/lib/tool-completions.zsh
  zsh/lib/zoxide.zsh
Due: beautysh, zsh-syntax, markdownlint, prettier

fix(zsh): stabilize lazy startup loading
  docs/tools/zsh.md
  scripts/zsh-env-loading.test.ts
  zsh/.zshrc
  zsh/lib/atuin.zsh
  zsh/lib/completion.zsh
  zsh/lib/gh-completion.zsh
  zsh/lib/history-search.zsh
  zsh/lib/history.zsh
  zsh/lib/prompt.zsh
  zsh/lib/tool-completions.zsh
  zsh/lib/zoxide.zsh
Due: beautysh, zsh-syntax, markdownlint, prettier

chore(env): update dotenvx environment
  .env
Due: none

chore(zed): set default agent model
  zed/settings.json
Due: biome

fix(ci): restore format and lint checks
  biome.json
  scripts/zsh-env-loading.test.ts
  users/current/home.nix
Due: biome
