Repository jey3dayo/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: beautysh, zsh-syntax, yamllint, markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo, biome

Path conditions:
  beautysh: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  zsh-syntax: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdown-bold-headings: any of: ^agents/internal/.*\.md$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-format: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-check: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  taplo: any of: \.toml$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  biome: any of: \.(js|jsx|ts|tsx|json)$ and \.(js|mjs|cjs)$, \.json$ and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))

chore(todo): track orphan dev-server detection check
  todo.txt
Due: none

test(scripts): isolate bootstrap PATH from system binaries
  scripts/bootstrap.test.ts
Due: none

feat: add terminal-browser to default tool configuration
  mise/config.default.toml
Due: taplo

feat: route Codex through the agmsg bridge when available
  zsh/.zshrc
  zsh/lib/agmsg.zsh
Due: beautysh, zsh-syntax

fix(mise): pin herdr to prevent pane spawn failures
  mise/config.default.toml
Due: taplo

feat(config): customize theme and terminal input behavior
  herdr/config.toml
Due: taplo

chore: use SSH protocol for GitHub CLI operations
  gh/config.yml
Due: yamllint, prettier

chore: correct GitHub CLI alias indentation
  gh/config.yml
Due: yamllint, prettier

feat(env): add command to print decrypted variables safely
  mise/local-tasks/env.toml
Due: taplo

feat(zsh): add col abbreviation for Luna worker and drop docker alias
  zsh-abbr/user-abbreviations
Due: none

chore(brew): remove codex cask superseded by mise
  Brewfile
Due: none

fix(env): bypass mise env injection when decrypting with dotenvx
  mise/local-tasks/env.toml
  scripts/setup-env.sh
Due: taplo

chore(env): rotate JINA_API_KEY
  .env
Due: none

feat(env): isolate TELEGRAM_BOT_TOKEN into on-demand .env.secrets
  .env
  .env.secrets
  bin/check-telegram-api
  bin/send-telegram
Due: none

fix(env): correct 1Password vault name in setup-env restore hint
  scripts/setup-env.sh
Due: none

feat(env): move remaining high-risk secrets into on-demand .env.secrets
  .env
  .env.secrets
  bin/aicommits-with-env
  bin/check-telegram-api
  bin/send-telegram
  mise/lib/run-restic.sh
  powershell/profile.d/env.ps1
  restic/backup.sh
  zsh/.zshrc
  zsh/lib/secrets.zsh
Due: beautysh, zsh-syntax

docs(1password): align vault name and token location with reality
  .claude/rules/tools/1password.md
  docs/tools/1password.md
Due: markdownlint, prettier

docs(1password): document two-layer env management and ws helper usage
  docs/tools/1password.md
Due: markdownlint, prettier

docs(1password): replace stale zsh token-save helper with direct dotenvx set
  docs/tools/1password.md
Due: markdownlint, prettier

chore(env): move ZAI_API_KEY to .env.secrets and drop TEST_ENV dummy
  .env
  .env.secrets
Due: none

docs: add env:print task entry and changelog for two-layer env migration
  CHANGELOG.md
  docs/tools/mise-tasks.md
Due: markdownlint, prettier

chore(brew): add pam-reattach for sudo Watch auth
  Brewfile
Due: none

feat(herdr): bind close_workspace to prefix+d
  herdr/config.toml
Due: taplo

chore: ignore GitLab CLI config lock file
  .gitignore
Due: none

fix(setup): install mise via official installer on all platforms
  Brewfile
  README.md
  docs/setup.md
  docs/tools/mise.md
  docs/tools/workflows.md
Due: markdownlint, prettier

chore(mise): replace corepack with mise-managed pnpm 11
  mise/config.default.toml
  mise/config.pi.toml
  mise/config.windows.toml
Due: taplo

chore(brew): remove unused heroku and its node dependency
  .claude/rules/tools/tool-install-policy.md
  Brewfile
  docs/tools/workflows.md
Due: markdownlint, prettier

chore(gitignore): anchor 1Password rule to the config root
  .gitignore
Due: none

chore(mise): bump tree-sitter-cli pin and biome schema after mise upgrade
  biome.json
  mise/config.default.toml
Due: taplo, biome

chore(mise): install codex via official installer instead of mise tools
  docs/tools/mise-config.md
  mise/config.default.toml
  mise/config.shared.toml
  mise/config.toml
  mise/lib/ensure-standalone.sh
Due: markdownlint, prettier, taplo

docs(tools): add self-updating standalone layer to tool install policy
  .claude/rules/tools/mise.md
  .claude/rules/tools/tool-install-policy.md
  docs/setup.md
  docs/tools/mise.md
  docs/tools/workflows.md
Due: markdownlint, prettier

feat: trust Orca cask in Homebrew
  homebrew/trust.json
Due: biome

chore(mise): move pnpm pin to shared overlay and sync config test
  mise/config.default.toml
  mise/config.pi.toml
  mise/config.shared.toml
  mise/config.windows.toml
  scripts/mise-config.test.ts
Due: taplo

feat(windows): install claude and codex via official installers in setup.ps1
  .claude/rules/tools/tool-install-policy.md
  docs/setup.md
  windows/setup.ps1
Due: markdownlint, prettier

refactor(mise): add workstation overlay for tools shared by default and Windows
  .claude/rules/tools/mise.md
  docs/setup.md
  docs/tools/mise-config.md
  docs/tools/mise.md
  mise/README.md
  mise/config.default.toml
  mise/config.windows.toml
  mise/config.workstation.toml
  scripts/mise-config.test.ts
  shell/env.sh
  windows/setup.ps1
  zsh/.zshenv
Due: markdownlint, prettier, taplo

refactor(mise): rename entry configs with entry. prefix by OS and role
  .claude/commands/ci-local.sh
  .claude/rules/tools/tool-install-policy.md
  .github/workflows/ci.yml
  README.md
  bash/.bashrc
  docs/README.md
  docs/setup.md
  docs/tools/mise-config.md
  docs/tools/mise.md
  mise/README.md
  mise/entry.ci.toml
  mise/entry.server-pi.toml
  mise/entry.workstation-unix.toml
  mise/entry.workstation-windows.toml
  powershell/profile.d/mise.ps1
  scripts/bootstrap.sh
  scripts/mise-config.test.ts
  scripts/windows/setup-env.ps1
  shell/env.sh
  windows/chocolatey/packages.config
  windows/setup.ps1
  zsh/.zshenv
Due: yamllint, markdownlint, prettier, taplo

feat: add Tailscale SSH host for Synology
  ssh/config.d/common/20-home-network.sshconfig
Due: none

chore(git): use SSH URLs for GitHub remotes
  git/config
Due: none

chore(plans): stop tracking finished plan files
  docs/superpowers/plans/2026-06-20-nix-dotfiles-structure-adoption.md
  plans/001-pre-push-lint-quick.md
  plans/002-env-detect-tests.md
  plans/003-mise-tool-pin-consistency.md
  plans/004-docs-drift-fixes.md
  plans/005-setup-env-restrictive-modes.md
  plans/006-mise-wsl-snapshot-hardening.md
  plans/007-docs-stale-cleanup.md
  plans/README.md
Due: markdownlint, prettier

chore(gitignore): ignore plans/ directory
  .gitignore
Due: none
