Repository jey3dayo/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: beautysh, zsh-syntax, yamllint, markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo, biome

beautysh:
  name: Format Zsh scripts with beautysh
  entry: beautysh
  args:
  - -i
  - '2'
  language: system
  pass_filenames: true

zsh-syntax:
  name: Check Zsh syntax
  entry: zsh
  args:
  - -n
  language: system
  pass_filenames: true

yamllint:
  name: Lint YAML files with yamllint
  entry: yamllint
  args:
  - -f
  - parsable
  language: system
  pass_filenames: true

markdown-bold-headings:
  name: Normalize internal Markdown bold headings
  entry: tsx ./agents/scripts/replace-bold-headings.ts
  language: system
  pass_filenames: true

markdownlint:
  name: Lint Markdown files with markdownlint-cli2
  entry: markdownlint-cli2
  args:
  - --fix
  language: system
  pass_filenames: true

prettier:
  name: Format Markdown/YAML with Prettier
  entry: prettier
  args:
  - --write
  - --ignore-unknown
  - --log-level
  - error
  language: system
  pass_filenames: true

ruff-format:
  name: Format Python files with ruff
  entry: bash
  args:
  - -c
  - uvx ruff format "$@"
  - --
  language: system
  pass_filenames: true

ruff-check:
  name: Lint Python files with ruff
  entry: bash
  args:
  - -c
  - uvx ruff check --fix "$@"
  - --
  language: system
  pass_filenames: true

taplo:
  name: Format TOML files with taplo
  entry: taplo
  args:
  - format
  language: system
  pass_filenames: true

biome:
  name: Format and lint JS/TS with Biome
  entry: biome
  args:
  - check
  - --write
  language: system
  pass_filenames: true

chore: Add .rtk/ to .gitignore file
  .gitignore
Due: none

style(tools): remove bold from important note
  .claude/rules/tools/ghostty.md
Due: markdownlint, prettier

chore: update .gitignore and add RTK filters file
  .gitignore
  .rtk/filters.toml
Due: taplo

fix(linear-task-ops): address review comments
  agents/internal/skills/linear-task-ops/scripts/linear_task.py
Due: ruff-format, ruff-check

feat(skills): add linear-task-ops to internal distribution (#161)
  .rtk/filters.toml
  agents/internal/skills/linear-task-ops/SKILL.md
  agents/internal/skills/linear-task-ops/references/asana-to-linear-mapping.md
  agents/internal/skills/linear-task-ops/references/linear-labels-jey.md
  agents/internal/skills/linear-task-ops/scripts/linear_task.py
Due: markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo

refactor(test): migrate TS tests from node:test to bun:test
  agents/scripts/replace-bold-headings.test.ts
  agents/scripts/skills-add/index.test.ts
  agents/scripts/skills-add/utils.test.ts
  agents/scripts/skills-sync-inputs.test.ts
  agents/scripts/validate-internal.test.ts
  mise/tasks/lib/run-ts-tests.sh
  mise/tasks/test.toml
  scripts/replace-bold-headings.test.ts
  scripts/setup-env.test.ts
  scripts/setup-gitleaks.test.ts
Due: taplo

fix(ci): biome import order - sort bun:test before node: imports
  scripts/replace-bold-headings.test.ts
  scripts/setup-env.test.ts
  scripts/setup-gitleaks.test.ts
Due: none

fix(ci): biome useTemplate - use template literal instead of string concat
  scripts/replace-bold-headings.test.ts
Due: none

fix(ci): add bun to CI mise configuration
  mise/config.ci.toml
Due: taplo

refactor: rename node_test_files to test_files and update messages
  mise/tasks/lib/run-ts-tests.sh
Due: none

refactor(test): migrate TS tests from node:test to bun:test (#162)
  agents/scripts/replace-bold-headings.test.ts
  agents/scripts/skills-add/index.test.ts
  agents/scripts/skills-add/utils.test.ts
  agents/scripts/skills-sync-inputs.test.ts
  agents/scripts/validate-internal.test.ts
  mise/config.ci.toml
  mise/tasks/lib/run-ts-tests.sh
  mise/tasks/test.toml
  scripts/replace-bold-headings.test.ts
  scripts/setup-env.test.ts
  scripts/setup-gitleaks.test.ts
Due: taplo

docs(nix): add distribution architecture diagram and refactor
  docs/tools/nix.md
Due: markdownlint, prettier

docs(nix): redesign Mermaid diagram to IN→PROCESS→OUT 3-column layout
  docs/tools/nix.md
Due: markdownlint, prettier

fix(nix): use markdown strings for Mermaid line breaks
  docs/tools/nix.md
Due: markdownlint, prettier

fix(nix): remove hardcoded counts from Mermaid diagram
  docs/tools/nix.md
Due: markdownlint, prettier

docs(disaster-recovery): remove hardcoded skill counts
  docs/disaster-recovery.md
Due: markdownlint, prettier

docs(nix): add distribution architecture diagram and refactor (#163)
  docs/disaster-recovery.md
  docs/tools/nix.md
Due: markdownlint, prettier

chore(env): remove commented out CLAUDE Code
  .env
Due: none

chore(Brewfile): add restic to Brewfile dependencies
  Brewfile
Due: none

feat(restic): migrate env.sh to dotenvx and add mise backup tasks
  .env
  .gitignore
  .mise.toml
  mise/tasks/backup.toml
  restic/backup.sh
  restic/excludes.txt
  restic/paths.txt
Due: taplo

fix(restic): address PR review comments
  mise/tasks/backup.toml
  restic/backup.sh
Due: taplo

feat(restic): add Desktop, Pictures, .ssh, .aws, .gnupg to backup paths
  restic/paths.txt
Due: none

feat(restic): add .claude, .codex, .kiro to backup paths
  restic/paths.txt
Due: none

feat(restic): add bin, .agents, .netrc, .my.cnf to backup paths
  restic/paths.txt
Due: none

feat(restic): add VS Code, Cursor, Windsurf settings to backup paths
  restic/paths.txt
Due: none

feat(restic): add cmux, Raycast, TablePlus, BetterSnapTool, BetterTouchTool to backup paths
  restic/paths.txt
Due: none

feat(restic): add Alfred, Ghostty, CleanShot, iStat, Homerow, and more app settings to backup paths
  restic/paths.txt
Due: none

feat(restic): add Chrome profile and browser cache exclusion patterns
  restic/excludes.txt
  restic/paths.txt
Due: none

feat(restic): add Insomnia to backup paths
  restic/paths.txt
Due: none

feat(restic): add Postman, rtk to backup paths
  restic/paths.txt
Due: none

feat(restic): add Vivaldi, zoxide to backup paths
  restic/paths.txt
Due: none

feat(restic): add Topre, Sequel Pro to backup paths
  restic/paths.txt
Due: none

feat(restic): add KeePassXC, keepassx to backup paths
  restic/paths.txt
Due: none

feat(restic): add Deckset-Paddle to backup paths
  restic/paths.txt
Due: none

feat(restic): add vibe-kanban, Antigravity, AnkerWork to backup paths
  restic/paths.txt
Due: none

chore(restic): remove vibe-kanban from backup paths (too large)
  restic/paths.txt
Due: none

fix(restic): separate prune from backup, add check and restore confirmation
  mise/tasks/backup.toml
  restic/backup.sh
Due: taplo

feat(restic): add exclusion patterns for large dirs and browser data
  restic/excludes.txt
Due: none

feat(restic): add more exclusion patterns for dev artifacts and caches
  restic/excludes.txt
Due: none

chore: update restic exclude and paths lists
  restic/excludes.txt
  restic/paths.txt
Due: none

Path conditions:
  beautysh: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  zsh-syntax: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdown-bold-headings: any of: ^agents/internal/.*\.md$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-format: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-check: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  taplo: any of: \.toml$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  biome: any of: \.(js|jsx|ts|tsx|json)$ and \.(js|mjs|cjs)$, \.json$ and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
