Repository jey3dayo/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: beautysh, zsh-syntax, yamllint, markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo, biome

Path conditions:
  beautysh: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  zsh-syntax: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdown-bold-headings: any of: ^agents/internal/.*\.md$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-format: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-check: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  taplo: any of: \.toml$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  biome: any of: \.(js|jsx|ts|tsx|json)$ and \.(js|mjs|cjs)$, \.json$ and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))

style(zsh): Comment out unused paths in .zprofile
  zsh/.zprofile
Due: none

security: remove access-tokens.conf from git tracking
  .gitignore
  nix/access-tokens.conf
Due: none

feat: enhance status line with PR and repo info
  ccstatusline/settings.json
Due: biome

fix(ccstatusline): compact jq filter in pr command
  ccstatusline/settings.json
Due: biome

fix(ssh): set nas HostName to IP (#154)
  ssh/config.d/common/20-home-network.sshconfig
Due: none

fix(agents): add skill path resolution guide to AGENTS.md
  AGENTS.md
Due: markdownlint, prettier

feat(karabiner): add complex keybind rules for cmux
  .claude/rules/tools/karabiner.md
  .pre-commit-config.yaml
  AGENTS.md
  karabiner/karabiner.json
Due: yamllint, markdownlint, prettier, biome

docs: update directory paths in AGENTS.md
  AGENTS.md
Due: markdownlint, prettier

docs: Add Ghostty rules documentation file
  .claude/rules/tools/ghostty.md
  ghostty/config
Due: markdownlint, prettier

docs(cmux): Add cmux keyboard shortcuts reference
  .claude/rules/tools/cmux.md
  .claude/rules/tools/ghostty.md
Due: markdownlint, prettier

chore: update markdown check in format.toml
  mise/tasks/format.toml
Due: taplo

feat: add support for bold labels with colon inside
  scripts/replace-bold-headings.test.ts
  scripts/replace-bold-headings.ts
Due: none

chore: update markdownlint ignore patterns
  .markdownlint-cli2.jsonc
Due: none

chore: update .gitignore with tmp directories
  .gitignore
Due: none

feat: add tokoroten-prompt-review skill source
  flake.lock
  flake.nix
  nix/agent-skills-sources.nix
Due: none

feat: add tokoroten/prompt-review skill source (#157)
  .gitignore
  flake.lock
  flake.nix
  nix/agent-skills-sources.nix
Due: none

docs: Add Home Manager and Nix maintenance guides
  .claude/rules/home-manager.md
  .claude/rules/nix-maintenance.md
  .claude/rules/openclaw.md
  docs/tools/home-manager.md
  docs/tools/nix.md
  docs/tools/openclaw.md
Due: markdownlint, prettier

refactor: compact rules + add docs for security, mise, workflows
  .claude/rules/security.md
  .claude/rules/tools/mise.md
  .claude/rules/workflows-and-maintenance.md
  docs/security.md
  docs/tools/mise.md
  docs/tools/workflows.md
Due: markdownlint, prettier

fix: address review comments - unify metadata format and expand paths scope
  .claude/rules/openclaw.md
  .claude/rules/tools/mise.md
  docs/security.md
  docs/tools/mise.md
  docs/tools/openclaw.md
  docs/tools/workflows.md
Due: markdownlint, prettier

docs: update README and documentation-rules for new docs files
  .claude/rules/documentation-rules.md
  docs/README.md
Due: markdownlint, prettier

fix: add source-doc and agents/nix paths to all source-backed rules
  .claude/rules/home-manager.md
  .claude/rules/nix-maintenance.md
  .claude/rules/openclaw.md
  .claude/rules/security.md
  .claude/rules/tools/mise.md
  .claude/rules/workflows-and-maintenance.md
Due: markdownlint, prettier

fix: remove dead links and fix Nix/Workflows SSoT references
  .claude/rules/workflows-and-maintenance.md
  docs/README.md
  docs/tools/openclaw.md
Due: markdownlint, prettier

docs: add mise task catalog and fix directory layout
  .claude/rules/tools/mise.md
  docs/tools/mise.md
Due: markdownlint, prettier

docs: update link in troubleshooting section
  docs/README.md
Due: markdownlint, prettier

refactor(tmux): consolidate plugin management and clean up options
  .gitmodules
  tmux/options.conf
  tmux/tpm.conf
Due: none

fix(tmux): address review - restore login shell and auto-install plugins
  nix/dotfiles-module.nix
  tmux/copy-paste.conf
Due: none

fix: expand tag vocabulary and remove duplicate workflows entry
  .claude/rules/documentation-rules.md
  docs/README.md
Due: markdownlint, prettier

refactor(tmux): consolidate plugin management and clean up options (#159)
  .gitmodules
  nix/dotfiles-module.nix
  tmux/copy-paste.conf
  tmux/options.conf
  tmux/tpm.conf
Due: none

fix: update SSoT references in project-context.md to docs/tools/workflows.md
  .claude/rules/project-context.md
Due: markdownlint, prettier

refactor: split mise.md into mise-tasks.md and mise-config.md (679→387 lines)
  .claude/rules/tools/mise.md
  docs/README.md
  docs/tools/mise-config.md
  docs/tools/mise-tasks.md
  docs/tools/mise.md
Due: markdownlint, prettier

fix: use standard layer/support tag in docs/security.md
  docs/security.md
Due: markdownlint, prettier

docs: add security.md to docs/README.md navigation
  docs/README.md
Due: markdownlint, prettier

docs: Update tag vocabulary in documentation rules
  .claude/rules/documentation-rules.md
Due: markdownlint, prettier

refactor: compact rules + add docs (home-manager, nix, openclaw, security, mise, workflows) (#158)
  .claude/rules/documentation-rules.md
  .claude/rules/home-manager.md
  .claude/rules/nix-maintenance.md
  .claude/rules/openclaw.md
  .claude/rules/project-context.md
  .claude/rules/security.md
  .claude/rules/tools/mise.md
  .claude/rules/workflows-and-maintenance.md
  docs/README.md
  docs/security.md
  docs/tools/home-manager.md
  docs/tools/mise-config.md
  docs/tools/mise-tasks.md
  docs/tools/mise.md
  docs/tools/nix.md
  docs/tools/openclaw.md
  docs/tools/workflows.md
Due: markdownlint, prettier

refactor(rtk): rewrite rules to table format and add filters.toml docs
  agents/internal/rules/tools/rtk.md
  mise/tasks/lib/run-ts-tests.sh
Due: markdown-bold-headings, markdownlint, prettier

feat(skills): distribute linear-task-ops for internal agents
  agents/internal/skills/linear-task-ops/SKILL.md
  agents/internal/skills/linear-task-ops/references/asana-to-linear-mapping.md
  agents/internal/skills/linear-task-ops/references/linear-labels-jey.md
  agents/internal/skills/linear-task-ops/scripts/linear_task.py
Due: markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check

chore(linear-task-ops): remove unused sys import
  agents/internal/skills/linear-task-ops/scripts/linear_task.py
Due: ruff-format, ruff-check

feat: improve test output handling in quiet mode
  mise/tasks/lib/run-ts-tests.sh
Due: none

refactor(rtk): rewrite rules to table format and add filters.toml docs (#160)
  agents/internal/rules/tools/rtk.md
  mise/tasks/lib/run-ts-tests.sh
Due: markdown-bold-headings, markdownlint, prettier

fix(ci): format linear-task-ops python and markdown files
  agents/internal/skills/linear-task-ops/SKILL.md
  agents/internal/skills/linear-task-ops/references/asana-to-linear-mapping.md
  agents/internal/skills/linear-task-ops/references/linear-labels-jey.md
  agents/internal/skills/linear-task-ops/scripts/linear_task.py
Due: markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check
