Repository jey3dayo/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: beautysh, zsh-syntax, yamllint, markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo, biome

Path conditions:
  beautysh: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  zsh-syntax: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdown-bold-headings: any of: ^agents/internal/.*\.md$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-format: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-check: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  taplo: any of: \.toml$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  biome: any of: \.(js|jsx|ts|tsx|json)$ and \.(js|mjs|cjs)$, \.json$ and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))

chore(brew): add nixfmt to Brewfile for Nix formatting support
  Brewfile
Due: none

chore(mise): add NIX_FILES env var for nix file targeting
  mise/config.toml
Due: taplo

feat(nix): add opencommitrc to home file deployments
  nix/dotfiles-files.nix
  opencommit/.opencommitrc
Due: none

style(nix): apply nixfmt formatting
  agents/nix/lib.nix
  flake.nix
  home.nix
  nix/agent-skills.nix
  nix/dotfiles-module.nix
  nix/env-detect.nix
  nix/sources.nix
  nix/targets.nix
Due: none

fix(mise): use correct statix crate from GitHub source
  mise/config.ci.toml
  mise/config.default.toml
Due: taplo

chore(ghostty): restore background-opacity to 0.94
  ghostty/config
Due: none

fix(ci): install nixfmt in format-and-lint
  .github/workflows/ci.yml
Due: yamllint, prettier

fix(ci): use nix shell fallback for nixfmt
  .github/workflows/ci.yml
  mise/tasks/format.toml
Due: yamllint, prettier, taplo

chore(gitignore): ignore tmux plugin directory created by TPM
  .gitignore
Due: none

fix(ci): extend module agent test timeout
  agents/scripts/module-agents-priority.test.ts
Due: none

fix(opencommit): rename config file from .opencommitrc to .opencommit
  nix/dotfiles-files.nix
  opencommit/.opencommit
  opencommit/.opencommitrc
Due: none

chore(config): add opencommitrc and restore ghostty opacity (#167)
  ghostty/config
  nix/dotfiles-files.nix
  opencommit/.opencommit
Due: none

feat(mise): add Nix lint and format workflow (#168)
  Brewfile
  agents/nix/lib.nix
  agents/nix/module.nix
  agents/scripts/module-agents-priority.test.ts
  flake.nix
  home.nix
  mise/config.ci.toml
  mise/config.default.toml
  mise/config.toml
  mise/tasks/format.toml
  mise/tasks/integration.toml
  mise/tasks/lint.toml
  nix/agent-skills.nix
  nix/dotfiles-module.nix
  nix/env-detect.nix
  nix/sources.nix
  nix/targets.nix
Due: taplo

fix(mise): clear stale git index locks before submodule reset
  mise/tasks/updates.toml
Due: taplo

chore(skills): remove deprecated gh-fix-review skill
  agents/internal/skills/code-review-system/SKILL.md
  agents/internal/skills/code-review-system/references/auto-fix.md
  agents/internal/skills/code-review/SKILL.md
  agents/internal/skills/distributions-manager/resources/examples/default-bundle.md
  agents/internal/skills/docs-index/indexes/skills-index.md
  agents/internal/skills/gh-fix-review/.pr-review-config.default.json
  agents/internal/skills/gh-fix-review/.pr-review-config.schema.json
  agents/internal/skills/gh-fix-review/README.md
  agents/internal/skills/gh-fix-review/SKILL.md
  agents/internal/skills/gh-fix-review/examples/default-config.json
  agents/internal/skills/gh-fix-review/examples/minimal-config.json
  agents/internal/skills/gh-fix-review/examples/performance-focused.json
  agents/internal/skills/gh-fix-review/examples/security-focused.json
  agents/internal/skills/gh-fix-review/references/configuration.md
  agents/internal/skills/gh-fix-review/references/index.md
  agents/internal/skills/greptileai/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier, biome

refactor(skills): redesign --fix mode and remove gh-fix-review
  agents/internal/skills/code-review-system/SKILL.md
  agents/internal/skills/code-review-system/references/auto-fix.md
  agents/internal/skills/code-review/SKILL.md
  agents/internal/skills/distributions-manager/resources/examples/default-bundle.md
  agents/internal/skills/docs-index/indexes/skills-index.md
  agents/internal/skills/gh-fix-review/.pr-review-config.default.json
  agents/internal/skills/gh-fix-review/.pr-review-config.schema.json
  agents/internal/skills/gh-fix-review/README.md
  agents/internal/skills/gh-fix-review/SKILL.md
  agents/internal/skills/gh-fix-review/examples/default-config.json
  agents/internal/skills/gh-fix-review/examples/minimal-config.json
  agents/internal/skills/gh-fix-review/examples/performance-focused.json
  agents/internal/skills/gh-fix-review/examples/security-focused.json
  agents/internal/skills/gh-fix-review/references/configuration.md
  agents/internal/skills/gh-fix-review/references/index.md
  agents/internal/skills/greptileai/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier, biome

fix(skills): address PR review comments on code-review-system
  agents/internal/skills/code-review-system/SKILL.md
  agents/internal/skills/code-review-system/references/auto-fix.md
Due: markdown-bold-headings, markdownlint, prettier

fix(skills): narrow allowed-tools scope for code-review-system
  agents/internal/skills/code-review-system/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier

refactor(skills): redesign --fix mode and remove gh-fix-review (#170)
  agents/internal/skills/code-review-system/SKILL.md
  agents/internal/skills/code-review-system/references/auto-fix.md
  agents/internal/skills/code-review/SKILL.md
  agents/internal/skills/distributions-manager/resources/examples/default-bundle.md
  agents/internal/skills/docs-index/indexes/skills-index.md
  agents/internal/skills/gh-fix-review/.pr-review-config.default.json
  agents/internal/skills/gh-fix-review/.pr-review-config.schema.json
  agents/internal/skills/gh-fix-review/README.md
  agents/internal/skills/gh-fix-review/SKILL.md
  agents/internal/skills/gh-fix-review/examples/default-config.json
  agents/internal/skills/gh-fix-review/examples/minimal-config.json
  agents/internal/skills/gh-fix-review/examples/performance-focused.json
  agents/internal/skills/gh-fix-review/examples/security-focused.json
  agents/internal/skills/gh-fix-review/references/configuration.md
  agents/internal/skills/gh-fix-review/references/index.md
  agents/internal/skills/greptileai/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier, biome

feat(scripts): strip bold from markdown table cells
  scripts/replace-bold-headings.test.ts
  scripts/replace-bold-headings.ts
Due: none

fix(ci): apply biome format to test file
  scripts/replace-bold-headings.test.ts
Due: none

fix(scripts): tighten table separator regex to require dashes in every cell
  scripts/replace-bold-headings.test.ts
  scripts/replace-bold-headings.ts
Due: none

feat(scripts): strip bold from markdown table cells (#171)
  scripts/replace-bold-headings.test.ts
  scripts/replace-bold-headings.ts
Due: none

style: strip bold from markdown table cells across repo
  .claude/rules/tools/tool-install-policy.md
  TOOLS.md
  agents/internal/agents/debug-operations.md
  agents/internal/skills/agent-creator/references/agent-details.md
  agents/internal/skills/cc-sdd/SKILL.md
  agents/internal/skills/cc-sdd/references/steering-system.md
  agents/internal/skills/chrome-debug/references/wsl-setup.md
  agents/internal/skills/code-review/references/tech-stack-skills.md
  agents/internal/skills/codex-system/SKILL.md
  agents/internal/skills/command-creator/references/command-details.md
  agents/internal/skills/distributions-manager/SKILL.md
  agents/internal/skills/distributions-manager/resources/examples/default-bundle.md
  agents/internal/skills/docs-index/SKILL.md
  agents/internal/skills/docs-index/indexes/agents-index.md
  agents/internal/skills/docs-index/indexes/commands-index.md
  agents/internal/skills/gemini-system/SKILL.md
  agents/internal/skills/knowledge-creator/skills/SKILL.md
  agents/internal/skills/mcp-tools/references/security-and-credentials.md
  agents/internal/skills/nix-dotfiles/references/architecture.md
  agents/internal/skills/nix-dotfiles/references/troubleshooting.md
  agents/internal/skills/nvim/skills/references/nvim.md
  agents/internal/skills/premortem/SKILL.md
  agents/internal/skills/refactoring/SKILL.md
  agents/internal/skills/rules-creator/references/rules-system.md
  agents/internal/skills/similarity/skills/SKILL.md
  agents/internal/skills/similarity/skills/references/report-analysis.md
  agents/internal/skills/task-to-pr/SKILL.md
  docs/performance.md
  docs/tools/home-manager.md
  docs/tools/nix.md
  docs/tools/nvim.md
Due: markdown-bold-headings, markdownlint, prettier

style: strip bold from markdown table cells across repo (#172)
  .claude/rules/tools/tool-install-policy.md
  TOOLS.md
  agents/internal/agents/debug-operations.md
  agents/internal/skills/agent-creator/references/agent-details.md
  agents/internal/skills/cc-sdd/SKILL.md
  agents/internal/skills/cc-sdd/references/steering-system.md
  agents/internal/skills/chrome-debug/references/wsl-setup.md
  agents/internal/skills/code-review/references/tech-stack-skills.md
  agents/internal/skills/codex-system/SKILL.md
  agents/internal/skills/command-creator/references/command-details.md
  agents/internal/skills/distributions-manager/SKILL.md
  agents/internal/skills/distributions-manager/resources/examples/default-bundle.md
  agents/internal/skills/docs-index/SKILL.md
  agents/internal/skills/docs-index/indexes/agents-index.md
  agents/internal/skills/docs-index/indexes/commands-index.md
  agents/internal/skills/gemini-system/SKILL.md
  agents/internal/skills/knowledge-creator/skills/SKILL.md
  agents/internal/skills/mcp-tools/references/security-and-credentials.md
  agents/internal/skills/nix-dotfiles/references/architecture.md
  agents/internal/skills/nix-dotfiles/references/troubleshooting.md
  agents/internal/skills/nvim/skills/references/nvim.md
  agents/internal/skills/premortem/SKILL.md
  agents/internal/skills/refactoring/SKILL.md
  agents/internal/skills/rules-creator/references/rules-system.md
  agents/internal/skills/similarity/skills/SKILL.md
  agents/internal/skills/similarity/skills/references/report-analysis.md
  agents/internal/skills/task-to-pr/SKILL.md
  docs/performance.md
  docs/tools/home-manager.md
  docs/tools/nix.md
  docs/tools/nvim.md
Due: markdown-bold-headings, markdownlint, prettier

refactor(skills): rename code-review-system to pr-feedback-orchestrator
  .claude/rules/commands-deprecation.md
  agents/internal/skills/code-review/SKILL.md
  agents/internal/skills/docs-index/SKILL.md
  agents/internal/skills/docs-index/indexes/commands-index.md
  agents/internal/skills/docs-index/indexes/skills-index.md
  agents/internal/skills/greptileai/SKILL.md
  agents/internal/skills/pr-feedback-orchestrator/SKILL.md
  agents/internal/skills/pr-feedback-orchestrator/references/auto-fix.md
  agents/internal/skills/pr-feedback-orchestrator/references/ci-diagnosis.md
  agents/internal/skills/pr-feedback-orchestrator/references/comment-handling.md
  agents/internal/skills/premortem/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier

test(scripts): cover bold list label suffix case
  scripts/replace-bold-headings.test.ts
Due: none

chore: refine skill routing rules
  .claude/rules/agent-skills-source-of-truth.md
  agents/external/agent-browser/SKILL.md
  agents/internal/skills/chrome-debug/SKILL.md
  agents/internal/skills/implementation-engine/SKILL.md
  agents/internal/skills/mise/skills/SKILL.md
  agents/internal/skills/nix-dotfiles/SKILL.md
  agents/internal/skills/refactoring/SKILL.md
  agents/internal/skills/task-to-pr/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier

chore: refine skill routing rules (#174)
  .claude/rules/agent-skills-source-of-truth.md
  agents/external/agent-browser/SKILL.md
  agents/internal/skills/chrome-debug/SKILL.md
  agents/internal/skills/implementation-engine/SKILL.md
  agents/internal/skills/mise/skills/SKILL.md
  agents/internal/skills/nix-dotfiles/SKILL.md
  agents/internal/skills/refactoring/SKILL.md
  agents/internal/skills/task-to-pr/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier

feat(skills): add dev-browser skill source and npm tool
  flake.lock
  flake.nix
  mise/config.default.toml
  nix/agent-skills-sources.nix
Due: taplo

chore(opencommit): enable one-line commits and omit scope
  opencommit/.opencommit
Due: none

feat(zsh-abbr): add aic abbreviation for oco
  zsh-abbr/user-abbreviations
Due: none

chore(nix): remove deprecated commands from obra/superpowers
  nix/agent-skills-sources.nix
Due: none

refactor: extract shared shell and nix format logic into task libs
  mise/config.default.toml
  mise/config.pi.toml
  mise/tasks/format.toml
  mise/tasks/integration.toml
  mise/tasks/lib/nixfmt.sh
  mise/tasks/lib/shell-format.sh
  mise/tasks/skills.toml
Due: taplo

fix(zsh): reset Kitty Keyboard Protocol on precmd to fix C-z corruption
  zsh/config/core/terminal.zsh
Due: beautysh, zsh-syntax

refactor(nix): remove localPath/localSkillsPath and update docs
  .claude/rules/agent-skills-source-of-truth.md
  .fdignore
  .markdownlint-cli2.jsonc
  .pre-commit-config.yaml
  .prettierignore
  agents/README.md
  agents/internal/skills/code-review/references/pr-comment-integration.md
  agents/internal/skills/distributions-manager/references/priority-mechanism.md
  agents/nix/lib.nix
  agents/nix/module.nix
  biome.json
  docs/tools/home-manager.md
  docs/tools/mise.md
  docs/tools/nix.md
  flake.nix
  mise/config.ci.toml
  mise/config.toml
Due: yamllint, markdown-bold-headings, markdownlint, prettier, taplo, biome
