Repository jey3dayo/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: beautysh, zsh-syntax, yamllint, markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo, biome

beautysh:
  name: Format Zsh scripts with beautysh
  entry: beautysh
  args:
  - -i
  - '2'
  language: system
  pass_filenames: true

zsh-syntax:
  name: Check Zsh syntax
  entry: zsh
  args:
  - -n
  language: system
  pass_filenames: true

yamllint:
  name: Lint YAML files with yamllint
  entry: yamllint
  args:
  - -f
  - parsable
  language: system
  pass_filenames: true

markdown-bold-headings:
  name: Normalize internal Markdown bold headings
  entry: tsx ./agents/scripts/replace-bold-headings.ts
  language: system
  pass_filenames: true

markdownlint:
  name: Lint Markdown files with markdownlint-cli2
  entry: markdownlint-cli2
  args:
  - --fix
  language: system
  pass_filenames: true

prettier:
  name: Format Markdown/YAML with Prettier
  entry: prettier
  args:
  - --write
  - --ignore-unknown
  - --log-level
  - error
  language: system
  pass_filenames: true

ruff-format:
  name: Format Python files with ruff
  entry: bash
  args:
  - -c
  - uvx ruff format "$@"
  - --
  language: system
  pass_filenames: true

ruff-check:
  name: Lint Python files with ruff
  entry: bash
  args:
  - -c
  - uvx ruff check --fix "$@"
  - --
  language: system
  pass_filenames: true

taplo:
  name: Format TOML files with taplo
  entry: taplo
  args:
  - format
  language: system
  pass_filenames: true

biome:
  name: Format and lint JS/TS with Biome
  entry: biome
  args:
  - check
  - --write
  language: system
  pass_filenames: true

remove bold from numbered labels in implementation guide
  agents/internal/skills/implementation-engine/references/phase-by-phase-guide.md
Due: markdown-bold-headings, markdownlint, prettier

fix(mise): pin cargo tool versions to avoid DNS resolution warnings
  mise/config.default.toml
Due: taplo

refactor: Add handling for bold labels with suffix
  agents/scripts/replace-bold-headings.ts
Due: none

docs: add VS Code and Go tools management sections
  .claude/rules/tools/tool-install-policy.md
  .mise.toml
  mise/tasks/docs.toml
Due: markdownlint, prettier, taplo

test(scripts): add tests for bold heading replacement
  agents/scripts/replace-bold-headings.test.ts
  agents/scripts/replace-bold-headings.ts
Due: none

chore: add benjitaylor-agentation to skill sources
  nix/agent-skills-sources.nix
Due: none

refactor: move bold-headings script to scripts/ and expand default scope
  mise/tasks/format.toml
  mise/tasks/skills.toml
  scripts/replace-bold-headings.test.ts
  scripts/replace-bold-headings.ts
Due: taplo

fix: correct Nix syntax error in agent-skills-sources.nix
  flake.lock
  flake.nix
  nix/agent-skills-sources.nix
Due: none

fix: apply biome formatting to replace-bold-headings.ts
  scripts/replace-bold-headings.ts
Due: none

fix: add packages:read permission to validate workflow for GitHub API access
  .github/workflows/validate.yml
Due: yamllint, prettier

refactor: move bold-headings script to scripts/ and expand default scope (#121)
  .github/workflows/validate.yml
  flake.lock
  flake.nix
  mise/tasks/format.toml
  mise/tasks/skills.toml
  nix/agent-skills-sources.nix
  scripts/replace-bold-headings.test.ts
  scripts/replace-bold-headings.ts
Due: yamllint, prettier, taplo

chore(systemd): make openclaw gateway service path portable
  systemd/user/openclaw-gateway.service
Due: none

fix(systemd): optimize openclaw-gateway PATH for version resilience
  systemd/user/openclaw-gateway.service
  systemd/user/openclaw-gateway.service.d/override.conf
Due: none

fix(systemd): address PR review comments for openclaw-gateway
  systemd/user/openclaw-gateway.service
  systemd/user/openclaw-gateway.service.d/override.conf
Due: none

fix(systemd): align RestartSec and KillMode with example recommendations
  systemd/user/openclaw-gateway.service
Due: none

fix(systemd): optimize openclaw-gateway PATH for version resilience (#122)
  systemd/user/openclaw-gateway.service
  systemd/user/openclaw-gateway.service.d/override.conf
Due: none

docs: clarify systemd design principles and premortem TODO rationale
  .claude/rules/openclaw.md
  agents/internal/skills/premortem/scripts/serena_integration.py
Due: markdownlint, prettier, ruff-format, ruff-check

docs: clarify systemd design principles and TODO rationale
  agents/internal/skills/premortem/scripts/serena_integration.py
Due: ruff-format, ruff-check

docs: remove redundant documentation files
  docs/openclaw-gateway-pi-deployment.md
  docs/security/dotenvx-1password-setup.md
  docs/troubleshooting/openclaw-gateway-raspberry-pi.md
  docs/troubleshooting/openclaw-modifications-20260215.md
  docs/troubleshooting/openclaw-post-reboot-verification.md
Due: markdownlint, prettier

docs: update README last modified date
  docs/README.md
Due: markdownlint, prettier

test: add unordered list test cases for bold heading replacement
  scripts/replace-bold-headings.test.ts
  scripts/replace-bold-headings.ts
Due: none

refactor: use optional chaining and formatting fixes
  scripts/replace-bold-headings.test.ts
  scripts/replace-bold-headings.ts
Due: none

feat(format): add Biome lint auto-fix to format task
  mise/tasks/format.toml
Due: taplo

refactor mise skills report alias
  mise/tasks/skills.toml
Due: taplo

fix: format:biome:check に lint チェックを追加して format:biome と対称化
  mise/tasks/format.toml
Due: taplo

Refactor mise skills report task alias (#123)
  mise/tasks/format.toml
  mise/tasks/skills.toml
  scripts/replace-bold-headings.test.ts
  scripts/replace-bold-headings.ts
Due: taplo

chore(pre-commit): update markdown lint entry path
  .pre-commit-config.yaml
  agents/internal/skills/chrome-debug/references/agent-browser-patterns.md
Due: yamllint, markdown-bold-headings, markdownlint, prettier

fix: update task_config.includes paths for mise v2026.2.15 config_root change
  .mise.toml
Due: taplo

chore: update opencode dependency format
  mise/config.default.toml
Due: taplo

fix: add npm:yarn and fix opencode backend for mise doctor
  mise/config.default.toml
Due: taplo

fix(scripts): correct block insertion logic depth check
  agents/scripts/skills-add.ts
Due: none

feat: Add millionco/react-doctor to source list
  agents/scripts/skills-add.ts
  flake.lock
  flake.nix
  nix/agent-skills-sources.nix
Due: none

refactor(scripts): migrate skills-add to subdirectory with types and tests
  agents/scripts/skills-add.ts
  agents/scripts/skills-add/index.ts
  agents/scripts/skills-add/types.ts
  agents/scripts/skills-add/utils.test.ts
  agents/scripts/skills-add/utils.ts
  mise/tasks/skills.toml
  mise/tasks/test.toml
Due: taplo

docs(refactoring): add refactoring skill guide
  agents/internal/skills/refactoring/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier

chore: exclude tmux/plugins and git submodules
  mise/config.toml
  scripts/replace-bold-headings.ts
Due: taplo

chore: update flake.lock
  flake.lock
Due: none

Path conditions:
  beautysh: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  zsh-syntax: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdown-bold-headings: any of: ^agents/internal/.*\.md$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-format: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-check: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  taplo: any of: \.toml$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  biome: any of: \.(js|jsx|ts|tsx|json)$ and \.(js|mjs|cjs)$, \.json$ and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
