Repository jey3dayo/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: beautysh, zsh-syntax, yamllint, markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo, biome

Path conditions:
  beautysh: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  zsh-syntax: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdown-bold-headings: any of: ^agents/internal/.*\.md$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-format: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-check: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  taplo: any of: \.toml$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  biome: any of: \.(js|jsx|ts|tsx|json)$ and \.(js|mjs|cjs)$, \.json$ and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))

refactor(backup): update dotenvx command syntax
  mise/tasks/backup.toml
  restic/backup.sh
Due: taplo

chore: update Brewfile
  Brewfile
Due: none

fix(restic): scope backup/restore/forget to current host and clean up paths
  restic/backup.sh
  restic/paths.txt
Due: none

style: Update wildcard path in excludes file
  restic/excludes.txt
Due: none

docs: Add SKILL.md for greptileai integration
  agents/internal/skills/greptileai/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier

feat(restic): introduce restic backup with dotenvx integration (#164)
  .env
  .gitignore
  .mise.toml
  Brewfile
  agents/internal/skills/greptileai/SKILL.md
  mise/tasks/backup.toml
  restic/backup.sh
  restic/excludes.txt
  restic/paths.txt
Due: markdown-bold-headings, markdownlint, prettier, taplo

fix(restic): address PR review comments
  restic/backup.sh
  restic/paths.txt
Due: none

feat(backup): add cleanup command to remove old snapshots
  mise/tasks/backup.toml
  restic/backup.sh
Due: taplo

feat(backup): add in-place restore functionality
  mise/tasks/backup.toml
  restic/backup.sh
Due: taplo

feat(constants): enable window resizing and IME support
  wezterm/constants.lua
  wezterm/win.lua
Due: none

fix(systemd): remove After=default.target from openclaw-cleanup.timer to break ordering cycle
  systemd/user/openclaw-cleanup.timer
Due: none

fix(wezterm): increase Windows initial_cols/initial_rows to 260/60
  wezterm/constants.lua
Due: none

chore(config): update AI commit settings with OpenAI base URL and model chore(config): set locale to en and increase request timeout to 20000ms
  .aicommits
Due: none

feat(mise): add opencommit to default npm tool versions for AI commit support
  mise/config.default.toml
Due: taplo

feat(env): add OCO_API_KEY to environment configuration
  .env
Due: none

chore(mise): add opencommit to toolchain for commit support
  mise/config.pi.toml
Due: taplo

Consolidate documentation SSOT and update doc links
  .claude/README.md
  .claude/doc-standards/references/tag-taxonomy.md
  .claude/rules/claude-code-usage.md
  .claude/rules/documentation-rules.md
  .claude/rules/home-manager.md
  .claude/rules/project-context.md
  .claude/rules/tools/tool-install-policy.md
  README.md
  TOOLS.md
  docs/README.md
  docs/disaster-recovery.md
  docs/documentation.md
  docs/performance.md
  docs/setup.md
  docs/tools/home-manager.md
  docs/tools/mise.md
  docs/tools/nix.md
  docs/tools/workflows.md
  ghostty/config
Due: markdownlint, prettier

Clarify docs metadata scope
  .claude/rules/documentation-rules.md
  docs/documentation.md
Due: markdownlint, prettier

Refactor documentation sources of truth and update Ghostty opacity (#165)
  .claude/README.md
  .claude/doc-standards/references/tag-taxonomy.md
  .claude/rules/claude-code-usage.md
  .claude/rules/documentation-rules.md
  .claude/rules/home-manager.md
  .claude/rules/project-context.md
  .claude/rules/tools/tool-install-policy.md
  README.md
  TOOLS.md
  docs/README.md
  docs/disaster-recovery.md
  docs/documentation.md
  docs/performance.md
  docs/setup.md
  docs/tools/home-manager.md
  docs/tools/mise.md
  docs/tools/nix.md
  docs/tools/workflows.md
  ghostty/config
Due: markdownlint, prettier

feat(skills-add): support Claude Code plugin format and deploy skill-embedded agents/commands
  agents/nix/lib.nix
  agents/nix/module.nix
  agents/scripts/skills-add/index-lib.ts
  agents/scripts/skills-add/index.test.ts
  flake.lock
  flake.nix
  nix/agent-skills-sources.nix
Due: none

revert: remove .claude-plugin/plugin.json support (unused)
  agents/nix/lib.nix
  agents/nix/module.nix
  agents/scripts/skills-add/index-lib.ts
  agents/scripts/skills-add/index.test.ts
Due: none

style: remove extra blank line in test file
  agents/scripts/skills-add/index.test.ts
Due: none

chore: remove tailscale with brew
  Brewfile
Due: none

fix(skills): namespace superpowers assets
  agents/nix/lib.nix
  agents/nix/module.nix
  nix/agent-skills-sources.nix
  nix/sources.nix
Due: none

fix: keep upstream ids for external assets
  agents/nix/lib.nix
  agents/nix/module.nix
Due: none

fix(nix): update PATH variable in tmux plugin installation script to ensure correct execution of tmux commands
  nix/dotfiles-module.nix
Due: none

fix(agents): prefer bundled agents over external duplicates
  agents/nix/module.nix
  agents/scripts/module-agents-priority.test.ts
Due: none

feat(skills-add): add obra/superpowers skills source (#166)
  Brewfile
  agents/nix/lib.nix
  agents/nix/module.nix
  agents/scripts/module-agents-priority.test.ts
  flake.lock
  flake.nix
  nix/agent-skills-sources.nix
  nix/dotfiles-module.nix
  nix/sources.nix
Due: none

chore(brew): add nixfmt to Brewfile for Nix formatting support
  Brewfile
Due: none

chore(mise): add NIX_FILES env var for nix file targeting
  mise/config.toml
Due: taplo

feat(mise): add statix and deadnix to tool configs
  mise/config.ci.toml
  mise/config.default.toml
Due: taplo

feat(mise): add format:nix and lint:nix tasks
  mise/tasks/format.toml
  mise/tasks/integration.toml
  mise/tasks/lint.toml
Due: taplo

style(nix): apply nixfmt formatting
  agents/nix/lib.nix
  flake.nix
  home.nix
  nix/agent-skills.nix
  nix/dotfiles-module.nix
  nix/env-detect.nix
  nix/sources.nix
  nix/targets.nix
Due: none

chore(ghostty): restore background-opacity to 0.94
  ghostty/config
Due: none

fix(mise): use correct statix crate from GitHub source
  mise/config.ci.toml
  mise/config.default.toml
Due: taplo

feat(nix): add opencommitrc to home file deployments
  nix/dotfiles-files.nix
  opencommit/.opencommitrc
Due: none

style(nix): apply nixfmt formatting to remaining files
  agents/nix/lib.nix
  agents/nix/module.nix
  flake.nix
  home.nix
  nix/dotfiles-module.nix
Due: none
