Repository jey3dayo/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: beautysh, zsh-syntax, yamllint, markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo, biome

Path conditions:
  beautysh: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  zsh-syntax: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdown-bold-headings: any of: ^agents/internal/.*\.md$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-format: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-check: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  taplo: any of: \.toml$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  biome: any of: \.(js|jsx|ts|tsx|json)$ and \.(js|mjs|cjs)$, \.json$ and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))

fix: disable system clipboard sync for WSL to prevent startup errors
  nvim/lua/plugins/editor.lua
Due: none

docs: update description for tauri-icon-gen skill to enhance clarity and readability
  agents/src/skills/tauri-icon-gen/SKILL.md
Due: markdownlint, prettier

chore(mise): add delta to windows config
  mise/config.windows.toml
Due: taplo

Add Epicenter Tauri skill source
  flake.nix
  nix/agent-skills-sources.nix
Due: none

feat(skills): add tauri dev screenshot skill
  agents/src/skills/tauri-dev-screenshot/SKILL.md
  agents/src/skills/tauri-dev-screenshot/agents/openai.yaml
  agents/src/skills/tauri-dev-screenshot/scripts/capture-tauri-window.ps1
Due: yamllint, markdownlint, prettier

docs(skills): simplify tauri screenshot frontmatter
  agents/src/skills/tauri-dev-screenshot/SKILL.md
Due: markdownlint, prettier

docs(mise): clarify windows config behavior
  .claude/rules/tools/mise.md
  docs/tools/mise.md
  mise/README.md
Due: markdownlint, prettier

feat(windows): add chocolatey bootstrap flow
  docs/setup.md
  windows/chocolatey/install.ps1
  windows/chocolatey/packages.config
  windows/setup.ps1
Due: markdownlint, prettier

fix(skills): capture tauri windows by hwnd
  agents/src/skills/tauri-dev-screenshot/SKILL.md
  agents/src/skills/tauri-dev-screenshot/scripts/capture-tauri-window.ps1
Due: markdownlint, prettier

fix(mise): validate skills via wsl on windows
  mise/tasks/skills.toml
  scripts/skills-validate.ps1
Due: taplo

fix(ci): handle broken skill symlinks
  agents/nix/lib.nix
  opencode/AGENTS.md
Due: markdownlint, prettier

fix(opencode): point AGENTS to distributed guide
  opencode/AGENTS.md
Due: markdownlint, prettier

docs(mise): format markdown tables
  .claude/rules/tools/mise.md
  docs/tools/mise.md
  mise/README.md
Due: markdownlint, prettier

test(windows): support powershell across runners
  scripts/install-agent-skills-lib.test.ts
Due: none

ci(actions): force javascript actions onto node 24
  .github/workflows/ci.yml
  .github/workflows/validate.yml
Due: yamllint, prettier

ci(actions): upgrade javascript actions to node 24
  .github/workflows/ci.yml
  .github/workflows/validate.yml
Due: yamllint, prettier

docs(agents): fix RTK rule references
  AGENTS.md
  agents/src/AGENTS.md
Due: markdownlint, prettier

docs(ai): add numeric-choice reply guard
  .claude/rules/claude-code-usage.md
  AGENTS.md
  agents/src/AGENTS.md
Due: markdownlint, prettier

docs(skills): update similarity-ts CLI options
  agents/src/skills/refactoring/SKILL.md
  agents/src/skills/similarity/skills/SKILL.md
Due: markdownlint, prettier

refactor(mise): extract internal task helpers
  docs/tools/mise.md
  mise/lib/ensure-busted.sh
  mise/lib/home-manager.sh
  mise/lib/nixfmt.sh
  mise/lib/run-restic.sh
  mise/lib/run-ts-tests.sh
  mise/lib/shell-format.sh
  mise/tasks/backup.toml
  mise/tasks/ci.toml
  mise/tasks/format.toml
  mise/tasks/home-manager.toml
  mise/tasks/skills.toml
  mise/tasks/test.toml
Due: markdownlint, prettier, taplo

build(mise): add cargo tools to windows config
  mise/config.windows.toml
Due: taplo

docs(agents): add voice notification rules
  agents/src/AGENTS.md
Due: markdownlint, prettier

fix(mise): support windows update tasks
  mise/tasks/updates.toml
  scripts/mise-update.ps1
Due: taplo

fix(mise): run ci tasks via wsl on windows
  .gitattributes
  mise/tasks/ci.toml
  scripts/mise-wsl-task.ps1
Due: taplo

build(flake): lock epicenter input
  flake.lock
Due: none

fix(mise): remove aws-cli from windows config
  docs/tools/mise.md
  mise/config.windows.toml
Due: markdownlint, prettier, taplo

fix(mise): use explicit aqua backends for shell tools on windows
  mise/config.windows.toml
Due: taplo

docs(mise): remove hardcoded windows tool counts
  docs/tools/mise.md
Due: markdownlint, prettier

chore(skills): update external skill locks
  flake.lock
Due: none

fix(mise): add windows ci task aliases
  mise/tasks/ci.toml
Due: taplo

fix(powershell): bridge windows profiles to dotfiles
  docs/setup.md
  powershell/profile.d/mise.ps1
  powershell/profile.d/op.ps1
  powershell/profile.d/zoxide.ps1
  powershell/profile.ps1
  windows/setup.ps1
Due: markdownlint, prettier

docs(claude): sync windows powershell setup guidance
  .claude/rules/setup-and-env.md
  .claude/rules/tools/mise.md
Due: markdownlint, prettier

fix(powershell): move op account default to env profile
  powershell/profile.d/env.ps1
Due: none

fix(op): support service account auth for dotenv keys
  powershell/profile.d/env.ps1
  scripts/setup-env.ps1
  scripts/setup-env.sh
  zsh/config/tools/1password.zsh
Due: beautysh, zsh-syntax

docs(1password): add service account token guide
  docs/tools/1password.md
  docs/tools/zsh.md
Due: markdownlint, prettier

docs(1password): align dotenv key item name
  docs/tools/1password.md
  scripts/setup-env.ps1
  scripts/setup-env.sh
  zsh/config/tools/1password.zsh
Due: beautysh, zsh-syntax, markdownlint, prettier

docs(1password): sync rules and setup references
  .claude/rules/tools/1password.md
  docs/setup.md
  docs/tools/1password.md
  docs/tools/zsh.md
Due: markdownlint, prettier

feat(tauri-webview-geometry): add geometry debugging skill
  agents/src/skills/tauri-webview-geometry/SKILL.md
  agents/src/skills/tauri-webview-geometry/agents/openai.yaml
  agents/src/skills/tauri-webview-geometry/references/geometry-model.md
Due: yamllint, markdownlint, prettier

fix(skills): tolerate bundle staging edge cases on windows
  scripts/install-agent-skills.ps1
Due: none

fix(agent-skills): skip external commands for codex target
  agents/nix/module.nix
  agents/scripts/module-agents-priority.test.ts
  nix/targets.nix
Due: none
