Repository jey3dayo/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: beautysh, zsh-syntax, yamllint, markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo, biome

Path conditions:
  beautysh: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  zsh-syntax: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdown-bold-headings: any of: ^agents/internal/.*\.md$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-format: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-check: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  taplo: any of: \.toml$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  biome: any of: \.(js|jsx|ts|tsx|json)$ and \.(js|mjs|cjs)$, \.json$ and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))

fix(env): create .env.local with mode 0600 before publish
  scripts/setup-env.sh
  scripts/setup-env.test.ts
  scripts/windows/setup-env.ps1
Due: none

fix(env): harden temp file modes before decrypt plaintext lands
  scripts/setup-env.sh
  scripts/setup-env.test.ts
  scripts/windows/setup-env.ps1
Due: none

fix(env): avoid non-null assertion in temp mode test
  scripts/setup-env.test.ts
Due: none

docs: align pre-push and mise docs with lefthook reality
  .agents/skills/nvim/SKILL.md
  .claude/rules/setup-and-env.md
  .claude/skills/nvim/SKILL.md
  .github/workflows/ci.yml
  docs/tools/mise-tasks.md
  docs/tools/mise.md
  docs/tools/workflows.md
Due: yamllint, markdownlint, prettier

docs: quarantine legacy Nix and Home Manager instructions
  docs/superpowers/plans/2026-06-20-nix-dotfiles-structure-adoption.md
  docs/tools/nix.md
Due: markdownlint, prettier

docs: tighten pre-push wording and archive HM plan commands
  docs/superpowers/plans/2026-06-20-nix-dotfiles-structure-adoption.md
  docs/tools/workflows.md
Due: markdownlint, prettier

fix(mise): keep TASK_EXCLUDES free of glob characters
  mise/config.ci.toml
  mise/config.toml
  mise/config.windows.toml
  scripts/mise-task-excludes.test.ts
Due: taplo

fix(scripts): make bold heading check skip deployed dirs and fail on findings
  scripts/replace-bold-headings.test.ts
  scripts/replace-bold-headings.ts
Due: none

docs(plans): add 2026-08-14 advisor plans and branch map
  plans/005-setup-env-restrictive-modes.md
  plans/006-mise-wsl-snapshot-hardening.md
  plans/007-docs-stale-cleanup.md
  plans/README.md
Due: markdownlint, prettier

fix(ssh): rename Synology host alias and update default login user
  ssh/README.md
  ssh/config.d/common/20-home-network.sshconfig
Due: markdownlint, prettier

chore: add disabled provider entries to the default configuration
  codexbar/config.json
Due: biome

chore(zsh): stop tracking generated mise completion file
  .gitignore
  zsh/completions/_mise
  zsh/lib/completion.zsh
Due: beautysh, zsh-syntax

feat(terraform): distribute terraformrc with plugin cache enabled
  mise/config.toml
  mole/whitelist
  terraform/terraformrc
Due: taplo

fix: run dependency updates sequentially and make brew upgrade non-interactive
  mise/local-tasks/updates.toml
Due: taplo

fix(mise): make dependency updates non-interactive and rollback-safe
  mise/local-tasks/updates.toml
  scripts/windows/mise-update.ps1
Due: taplo

chore: update configured OpenAI model
  .aicommits
Due: none

chore: update last seen CLI version to 0.19.0
  hunk/state.json
Due: biome

fix: make diff abbreviations compare against origin HEAD
  zsh-abbr/user-abbreviations
Due: none

fix: show working tree changes in gd abbreviation
  zsh-abbr/user-abbreviations
Due: none

fix(zsh): complete remote Taskfile options unconditionally
  zsh/completions/_task
Due: none

chore(mise): standardize Go, Node.js, and eza versions
  docs/tools/mise-config.md
  mise/config.default.toml
  mise/config.pi.toml
  mise/config.windows.toml
Due: markdownlint, prettier, taplo

chore(git): copy environment files into worktrees
  git/config
Due: none

chore: update Biome schema reference to 2.5.9
  biome.json
Due: biome

chore(gitignore): ignore chromium/pulse/environment.d and reorganize entries
  .gitignore
Due: none

chore(nix): remove legacy documentation and formatter
  .claude/rules/workflows-and-maintenance.md
  docs/README.md
  docs/disaster-recovery.md
  docs/tools/nix.md
  docs/tools/workflows.md
  mise/config.macos.toml
Due: markdownlint, prettier, taplo

fix(git): restore TLS verification and limit env copies
  git/config
Due: none

fix(nvim): resolve JSON language server from PATH
  nvim/lua/lsp/settings/jsonls.lua
Due: none

chore(mise): remove unused husky tool
  docs/tools/mise-config.md
  mise/config.default.toml
Due: markdownlint, prettier, taplo

test(scripts): cover bootstrap and test discovery
  mise/lib/pre-push-check.sh
  mise/lib/run-ts-tests.sh
  scripts/bootstrap.sh
  scripts/bootstrap.test.ts
  scripts/dotfiles-materialized-entrypoints.test.ts
  scripts/env-detect.test.ts
  scripts/pre-push-check.test.ts
  scripts/replace-bold-headings.test.ts
  scripts/repo-file.ts
  scripts/run-ts-tests-discovery.test.ts
  scripts/setup-gitleaks.test.ts
  scripts/windows/setup-env.ps1.test.ts
  scripts/zsh-env-loading.test.ts
Due: none

ci: run checks for extensionless bin changes
  .github/workflows/ci.yml
Due: yamllint, prettier

test(scripts): reuse repository path helper for env setup
  scripts/setup-env.test.ts
Due: none

docs(ci): clarify local mise configuration selection
  .github/workflows/ci.yml
Due: yamllint, prettier

docs(changelog): record maintenance updates
  CHANGELOG.md
Due: markdownlint, prettier

chore(todo): track mise tool consolidation
  todo.txt
Due: none

chore: update development tool versions
  mise/config.default.toml
Due: taplo

fix: secure env keys and enforce standalone config exclusions
  scripts/mise-task-excludes.test.ts
  scripts/repo-file.ts
  scripts/setup-env.sh
  scripts/setup-env.test.ts
Due: none

fix(herdr): swap workspace/tab rename keybindings
  herdr/config.toml
Due: taplo

refactor(mise): share common tool configuration
  .github/workflows/ci.yml
  bash/.bashrc
  mise/config.default.toml
  mise/config.pi.toml
  mise/config.shared.toml
  mise/config.toml
  mise/config.windows.toml
  powershell/profile.d/mise.ps1
  scripts/mise-config.test.ts
  scripts/windows/setup-env.ps1
  shell/env.sh
  windows/setup.ps1
  zsh/.zshenv
Due: yamllint, prettier, taplo

docs(mise): describe shared tool overlay
  .claude/rules/tools/tool-install-policy.md
  docs/setup.md
  docs/tools/mise-config.md
  docs/tools/mise-tasks.md
  docs/tools/mise.md
  mise/README.md
  scripts/bootstrap.sh
Due: markdownlint, prettier

chore(todo): archive mise tool consolidation
  done.txt
  todo.txt
Due: none
