Repository jey3dayo/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: beautysh, zsh-syntax, yamllint, markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo, biome

beautysh:
  name: Format Zsh scripts with beautysh
  entry: beautysh
  args:
  - -i
  - '2'
  language: system
  pass_filenames: true

zsh-syntax:
  name: Check Zsh syntax
  entry: zsh
  args:
  - -n
  language: system
  pass_filenames: true

yamllint:
  name: Lint YAML files with yamllint
  entry: yamllint
  args:
  - -f
  - parsable
  language: system
  pass_filenames: true

markdown-bold-headings:
  name: Normalize internal Markdown bold headings
  entry: tsx ./agents/scripts/replace-bold-headings.ts
  language: system
  pass_filenames: true

markdownlint:
  name: Lint Markdown files with markdownlint-cli2
  entry: markdownlint-cli2
  args:
  - --fix
  language: system
  pass_filenames: true

prettier:
  name: Format Markdown/YAML with Prettier
  entry: prettier
  args:
  - --write
  - --ignore-unknown
  - --log-level
  - error
  language: system
  pass_filenames: true

ruff-format:
  name: Format Python files with ruff
  entry: bash
  args:
  - -c
  - uvx ruff format "$@"
  - --
  language: system
  pass_filenames: true

ruff-check:
  name: Lint Python files with ruff
  entry: bash
  args:
  - -c
  - uvx ruff check --fix "$@"
  - --
  language: system
  pass_filenames: true

taplo:
  name: Format TOML files with taplo
  entry: taplo
  args:
  - format
  language: system
  pass_filenames: true

biome:
  name: Format and lint JS/TS with Biome
  entry: biome
  args:
  - check
  - --write
  language: system
  pass_filenames: true

docs(rules): compress tool guidance
  .claude/rules/home-manager.md
  .claude/rules/tools/git-and-ssh.md
  .claude/rules/tools/zsh.md
Due: markdownlint, prettier

chore(nix): stabilize activation checks
  agents/nix/module.nix
  agents/src/skills/tauri-webview-geometry/agents/openai.yaml
  nix/dotfiles-module.nix
  scripts/dotfiles-materialized-entrypoints.test.ts
  scripts/install-agent-skills.test.ts
Due: yamllint, prettier

docs(skills): improve atomic-commit with full CC types and staging guidance
  agents/src/skills/atomic-commit/SKILL.md
Due: markdownlint, prettier

fix(nix): revert activation to individual attrs and fix nixfmt fallback
  mise/lib/nixfmt.sh
  nix/dotfiles-module.nix
Due: none

fix(skills): support blob skill urls in skills:add
  agents/scripts/skills-add/index-lib.ts
  agents/scripts/skills-add/index.test.ts
  agents/scripts/skills-add/utils.test.ts
  agents/scripts/skills-add/utils.ts
Due: none

feat(skills): add empirical prompt tuning source
  flake.nix
  nix/agent-skills-sources.nix
Due: none

docs(skills): add apm migration guidance
  agents/src/skills/apm-usage/SKILL.md
  agents/src/skills/distributions-manager/SKILL.md
  agents/src/skills/distributions-manager/references/architecture.md
  agents/src/skills/distributions-manager/references/creating-bundles.md
  agents/src/skills/distributions-manager/references/priority-mechanism.md
  agents/src/skills/distributions-manager/resources/checklist.md
  agents/src/skills/distributions-manager/resources/examples/default-bundle.md
  agents/src/skills/distributions-manager/resources/templates/README.template.md
  agents/src/skills/rtk/SKILL.md
  agents/src/skills/rtk/references/command-reference.md
Due: markdownlint, prettier

feat(apm): bootstrap ~/.apm workspace from dotfiles
  .github/workflows/ci.yml
  .mise.toml
  agents/src/skills/apm-usage/SKILL.md
  docs/tools/apm-workspace.md
  docs/tools/mise-tasks.md
  docs/tools/mise.md
  mise/tasks/agents.toml
  mise/tasks/ci.toml
  mise/tasks/skills.toml
  scripts/apm-workspace.ps1
  scripts/apm-workspace.sh
  templates/apm-workspace/mise.toml
Due: yamllint, markdownlint, prettier, taplo

refactor(agents): rename legacy skill tasks
  agents/scripts/skills-add/index.ts
  agents/src/skills/distributions-manager/SKILL.md
  agents/src/skills/distributions-manager/references/architecture.md
  agents/src/skills/distributions-manager/references/creating-bundles.md
  agents/src/skills/distributions-manager/references/priority-mechanism.md
  agents/src/skills/distributions-manager/resources/checklist.md
  agents/src/skills/distributions-manager/resources/examples/default-bundle.md
  agents/src/skills/distributions-manager/resources/templates/README.template.md
  agents/src/skills/nix-dotfiles/SKILL.md
  agents/src/skills/rtk/SKILL.md
  agents/src/skills/rtk/references/command-reference.md
  docs/tools/home-manager.md
  scripts/mise-wsl-task.ps1
  scripts/replace-bold-headings.ts
  scripts/skills-check.sh
  scripts/skills-validate.ps1
Due: markdownlint, prettier

fix(apm): run powershell commands from workspace root
  scripts/apm-workspace.ps1
Due: none

chore(mise): add apm tool to default configs
  docs/tools/mise-config.md
  mise/config.default.toml
  mise/config.windows.toml
Due: markdownlint, prettier, taplo

feat(apm): vendor external skills into workspace
  scripts/apm-workspace-migrate-external.ps1
  scripts/apm-workspace.ps1
  scripts/apm-workspace.sh
  templates/apm-workspace/mise.toml
Due: taplo

docs(apm): document external skill migration
  agents/src/skills/apm-usage/SKILL.md
  docs/tools/apm-workspace.md
Due: markdownlint, prettier

fix(mise): support biome checks on windows
  biome.json
  mise/tasks/format.toml
  mise/tasks/lint.toml
  scripts/mise-biome.ps1
  scripts/setup-env.ps1.test.ts
  scripts/setup-env.test.ts
Due: taplo, biome

feat(apm): support profiled internal bundles
  agents/src/internal-apm-next-simple.txt
  scripts/apm-workspace.ps1
  scripts/apm-workspace.sh
  templates/apm-workspace/mise.toml
Due: taplo

feat(apm): support medium internal bundles
  agents/src/internal-apm-medium.txt
  scripts/apm-workspace.ps1
  scripts/apm-workspace.sh
  templates/apm-workspace/mise.toml
Due: taplo

feat(apm): add heavy internal bundle profile
  agents/src/internal-apm-heavy.txt
  templates/apm-workspace/mise.toml
Due: taplo

feat(apm): support remaining internal bundle profile
  agents/src/internal-apm-remaining.txt
  scripts/apm-workspace.ps1
  scripts/apm-workspace.sh
  templates/apm-workspace/mise.toml
Due: taplo

docs(apm): document profiled internal bundles
  agents/src/skills/apm-usage/SKILL.md
  docs/tools/apm-workspace.md
  docs/tools/mise-tasks.md
  docs/tools/mise.md
Due: markdownlint, prettier

fix(apm): derive internal bundle readme titles
  scripts/apm-workspace.ps1
  scripts/apm-workspace.sh
Due: none

fix(apm): clear legacy internal links before install
  scripts/apm-workspace.ps1
  scripts/apm-workspace.sh
Due: none

fix(apm): normalize workspace gitignore after installs
  scripts/apm-workspace.ps1
  scripts/apm-workspace.sh
Due: none

chore(apm): track first-batch internal inventory
  agents/src/internal-apm-first-batch.txt
Due: none

feat(apm): report internal profile coverage in doctor
  agents/src/skills/apm-usage/SKILL.md
  docs/tools/apm-workspace.md
  docs/tools/mise-tasks.md
  docs/tools/mise.md
  mise/tasks/agents.toml
  scripts/apm-workspace.ps1
  scripts/apm-workspace.sh
Due: markdownlint, prettier, taplo

feat(apm): audit internal inventory coverage in doctor
  agents/src/skills/apm-usage/SKILL.md
  docs/tools/apm-workspace.md
  docs/tools/mise-tasks.md
  docs/tools/mise.md
  scripts/apm-workspace.ps1
  scripts/apm-workspace.sh
Due: markdownlint, prettier

feat(apm): add internal drift validation
  agents/src/skills/apm-usage/SKILL.md
  docs/tools/apm-workspace.md
  docs/tools/mise-tasks.md
  docs/tools/mise.md
  scripts/apm-workspace.ps1
  scripts/apm-workspace.sh
  templates/apm-workspace/mise.toml
Due: markdownlint, prettier, taplo

fix(apm): fail on install diagnostics
  agents/src/skills/apm-usage/SKILL.md
  docs/tools/apm-workspace.md
  docs/tools/mise-tasks.md
  docs/tools/mise.md
  scripts/apm-workspace.ps1
  scripts/apm-workspace.sh
Due: markdownlint, prettier

feat(apm): pin external refs from lockfile
  agents/src/skills/apm-usage/SKILL.md
  docs/tools/apm-workspace.md
  docs/tools/mise-tasks.md
  docs/tools/mise.md
  scripts/apm-workspace.ps1
  scripts/apm-workspace.sh
  templates/apm-workspace/mise.toml
Due: markdownlint, prettier, taplo

perf(apm): batch external skill migration
  scripts/apm-workspace.ps1
  scripts/apm-workspace.sh
Due: none

refactor(apm): align workspace tooling with catalog model
  nix/agent-skills-sources.nix
  scripts/apm-workspace.ps1
  scripts/apm-workspace.sh
  templates/apm-workspace/mise.toml
Due: taplo

docs(apm): document catalog workspace flow
  agents/src/skills/apm-usage/SKILL.md
  docs/tools/apm-workspace.md
  docs/tools/mise-tasks.md
  docs/tools/mise.md
Due: markdownlint, prettier

refactor(apm): sync managed catalog guidance assets
  agents/src/skills/apm-usage/SKILL.md
  docs/tools/apm-workspace.md
  scripts/apm-workspace.ps1
  scripts/apm-workspace.sh
Due: markdownlint, prettier

feat(apm): add managed commands to catalog flow
  agents/src/commands/adversarial-review.md
  agents/src/commands/cancel.md
  agents/src/commands/rescue.md
  agents/src/commands/result.md
  agents/src/commands/review.md
  agents/src/commands/setup.md
  agents/src/commands/status.md
  agents/src/skills/apm-usage/SKILL.md
  docs/tools/apm-workspace.md
  scripts/apm-workspace.ps1
  scripts/apm-workspace.sh
Due: markdownlint, prettier

refactor(apm): make catalog the managed source of truth
  agents/src/skills/apm-usage/SKILL.md
  agents/src/skills/dev-browser/SKILL.md
  agents/src/skills/drawio/SKILL.md
  agents/src/skills/drawio/resources/assets/templates/aws-basic.drawio.xml
  agents/src/skills/drawio/resources/references/font-config.md
  agents/src/skills/drawio/resources/references/xml-structure.md
  agents/src/skills/golang/SKILL.md
  agents/src/skills/golang/references/golang-details.md
  agents/src/skills/knowledge-creator/SKILL.md
  agents/src/skills/knowledge-creator/references/agent-skills-standard.md
  agents/src/skills/mise/SKILL.md
  agents/src/skills/mise/references/best-practices.md
  agents/src/skills/mise/references/config-templates.md
  agents/src/skills/mise/references/current-patterns.md
  agents/src/skills/mise/references/tool-management.md
  agents/src/skills/mise/resources/examples/npm-package-migration.md
  agents/src/skills/mise/resources/templates/mise-config-template.toml
  agents/src/skills/nvim/SKILL.md
  agents/src/skills/nvim/references/nvim.md
  agents/src/skills/react-grid-layout/SKILL.md
  agents/src/skills/react-grid-layout/examples/cols-width-calculation.tsx
  agents/src/skills/react-grid-layout/examples/timed-layout.tsx
  agents/src/skills/react-grid-layout/references/02-cols-width-calculation.md
  agents/src/skills/react-grid-layout/references/03-typescript-nextjs.md
  agents/src/skills/react-grid-layout/references/04-asta-patterns.md
  agents/src/skills/react/SKILL.md
  agents/src/skills/react/references/index.md
  agents/src/skills/similarity/SKILL.md
  agents/src/skills/similarity/references/report-analysis.md
  agents/src/skills/slide-docs/SKILL.md
  agents/src/skills/slide-docs/references/index.md
  agents/src/skills/typescript/SKILL.md
  agents/src/skills/typescript/references/type-safety-patterns.md
  agents/src/skills/zsh/SKILL.md
  docs/tools/apm-workspace.md
  scripts/apm-workspace.ps1
  scripts/apm-workspace.sh
Due: markdownlint, prettier, taplo

fix(apm): align catalog readme normalization
  scripts/apm-workspace.ps1
  scripts/apm-workspace.sh
Due: none

docs(apm): remove legacy config-agents references
  AGENTS.md
  docs/superpowers/plans/2026-03-27-rename-agents-internal-to-src.md
  docs/superpowers/specs/2026-03-27-rename-agents-internal-to-src-design.md
  docs/tools/apm-workspace.md
  docs/tools/home-manager.md
  docs/tools/mise-tasks.md
  docs/tools/mise.md
  docs/tools/nix.md
  flake.nix
  home.nix
  mise/tasks/agents.toml
  templates/apm-workspace/mise.toml
Due: markdownlint, prettier, taplo

build(apm): remove legacy agent maintenance tasks
  .github/workflows/validate.yml
  mise/tasks/agents.toml
  mise/tasks/ci.toml
  scripts/apm-workspace.ps1
  scripts/apm-workspace.sh
  scripts/install-agent-skills-lib.ps1
  scripts/install-agent-skills-lib.test.ts
  scripts/install-agent-skills.ps1
  scripts/mise-wsl-task.ps1
  scripts/skills-check.sh
  scripts/skills-validate.ps1
  templates/apm-workspace/mise.toml
Due: yamllint, prettier, taplo

docs(apm): simplify managed catalog guidance
  .claude/rules/agent-skills-source-of-truth.md
  .claude/rules/home-manager.md
  .kiro/steering/product.md
  .kiro/steering/tech.md
  docs/tools/apm-workspace.md
  docs/tools/home-manager.md
  docs/tools/mise-tasks.md
  docs/tools/mise.md
Due: markdownlint, prettier

chore(git): enforce lf line endings
  .gitattributes
Due: none

Path conditions:
  beautysh: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  zsh-syntax: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdown-bold-headings: any of: ^agents/internal/.*\.md$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-format: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-check: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  taplo: any of: \.toml$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  biome: any of: \.(js|jsx|ts|tsx|json)$ and \.(js|mjs|cjs)$, \.json$ and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
