Repository jey3dayo/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: beautysh, zsh-syntax, yamllint, markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo, biome

beautysh:
  name: Format Zsh scripts with beautysh
  entry: beautysh
  args:
  - -i
  - '2'
  language: system
  pass_filenames: true

zsh-syntax:
  name: Check Zsh syntax
  entry: zsh
  args:
  - -n
  language: system
  pass_filenames: true

yamllint:
  name: Lint YAML files with yamllint
  entry: yamllint
  args:
  - -f
  - parsable
  language: system
  pass_filenames: true

markdown-bold-headings:
  name: Normalize internal Markdown bold headings
  entry: tsx ./agents/scripts/replace-bold-headings.ts
  language: system
  pass_filenames: true

markdownlint:
  name: Lint Markdown files with markdownlint-cli2
  entry: markdownlint-cli2
  args:
  - --fix
  language: system
  pass_filenames: true

prettier:
  name: Format Markdown/YAML with Prettier
  entry: prettier
  args:
  - --write
  - --ignore-unknown
  - --log-level
  - error
  language: system
  pass_filenames: true

ruff-format:
  name: Format Python files with ruff
  entry: bash
  args:
  - -c
  - uvx ruff format "$@"
  - --
  language: system
  pass_filenames: true

ruff-check:
  name: Lint Python files with ruff
  entry: bash
  args:
  - -c
  - uvx ruff check --fix "$@"
  - --
  language: system
  pass_filenames: true

taplo:
  name: Format TOML files with taplo
  entry: taplo
  args:
  - format
  language: system
  pass_filenames: true

biome:
  name: Format and lint JS/TS with Biome
  entry: biome
  args:
  - check
  - --write
  language: system
  pass_filenames: true

fix(nix): sources.nix に外部ソース欠落時の防御的チェックを追加 (#133)
  .claude/rules/home-manager.md
  nix/sources.nix
Due: markdownlint, prettier

fix(ci): apply shfmt formatting to check-flake-sync.sh
  scripts/check-flake-sync.sh
Due: none

fix(ci): apply shfmt project settings (-i 2 -ci -bn)
  scripts/check-flake-sync.sh
Due: none

fix(ci): apply taplo formatting to ci.toml
  mise/tasks/ci.toml
Due: taplo

fix: improve URL extraction robustness and flexible indent matching
  scripts/check-flake-sync.sh
Due: none

feat(ci): add flake.nix / agent-skills-sources.nix sync check (#137)
  .github/workflows/validate.yml
  mise/tasks/ci.toml
  mise/tasks/skills.toml
  scripts/check-flake-sync.sh
Due: yamllint, prettier, taplo

fix(nix): remove dead code, add invalid env warning, document edge cases
  home.nix
  nix/env-detect.nix
Due: none

fix(nix): env-detect.nix dead code削除・警告追加・エッジケース文書化 (#135)
  home.nix
  nix/env-detect.nix
Due: none

fix(nix): add hasAttr guard for missing flake inputs in sources.nix
  .claude/rules/home-manager.md
  nix/sources.nix
Due: markdownlint, prettier

fix(docs): correct lib.nix line numbers for mkValidateScript and mkChecks
  .claude/rules/home-manager.md
Due: markdownlint, prettier

fix(nix): sources.nix に外部ソース欠落時の防御的チェックを追加 (#138)
  .claude/rules/home-manager.md
  nix/sources.nix
Due: markdownlint, prettier

docs: document validate scope and enhance mkValidateScript (#134) (#136)
  .claude/rules/home-manager.md
  agents/nix/lib.nix
Due: markdownlint, prettier

feat(ci): add 4-tier CI task hierarchy and actionlint integration
  .github/workflows/ci.yml
  CLAUDE.md
  mise/tasks/ci.toml
  mise/tasks/integration.toml
  mise/tasks/lint.toml
Due: yamllint, markdownlint, prettier, taplo

docs: add codex plan review skill documentation
  agents/internal/skills/codex-plan-review/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier

chore(agents): Remove openai.yaml files
  agents/internal/skills/claude-system/agents/openai.yaml
  agents/internal/skills/git-worktree/agents/openai.yaml
  agents/internal/skills/premortem/agents/openai.yaml
Due: yamllint, prettier

feat(tasks): add skills upgrade task in skills.toml
  flake.lock
  mise/tasks/skills.toml
Due: taplo

chore: ignore .plans/ directory
  .gitignore
Due: none

fix(ci): ci:full に ci:verify-deploy 依存関係を追加
  mise/tasks/ci.toml
Due: taplo

feat(skills): add codex-code-review skill
  .markdownlint-cli2.jsonc
  agents/internal/skills/codex-code-review/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier

refactor(ci): remove redundant command existence checks for mise-managed tools
  mise/config.ci.toml
  mise/config.default.toml
  mise/tasks/ci.toml
  mise/tasks/integration.toml
  mise/tasks/lint.toml
Due: taplo

style(docs): Remove bold from list items with arrows
  .claude/rules/home-manager.md
  AGENTS.v1.md
  agents/external/codex-system/SKILL.md
  agents/external/gemini-system/SKILL.md
  agents/internal/agents/github-pr-reviewer.md
  agents/internal/agents/kiro/spec-design.md
  agents/internal/agents/terraform-operations.md
  agents/internal/skills/code-quality-improvement/SKILL.md
  agents/internal/skills/codex-code-review/SKILL.md
  agents/internal/skills/codex-plan-review/SKILL.md
  agents/internal/skills/codex-system/SKILL.md
  agents/internal/skills/gemini-system/SKILL.md
  agents/internal/skills/knowledge-creator/skills/SKILL.md
  agents/scripts/replace-bold-headings.test.ts
Due: markdown-bold-headings, markdownlint, prettier

test: Add tests for bold label removal with arrow
  scripts/replace-bold-headings.test.ts
  scripts/replace-bold-headings.ts
Due: none

fix(ci): add actionlint to CI config
  mise/config.ci.toml
Due: taplo

fix(ci): ensure ci:verify-deploy runs after hm:deploy
  mise/tasks/ci.toml
Due: taplo

docs(ci): clarify lint vs lint:quick scope with lint:links
  mise/tasks/integration.toml
Due: taplo

refactor(ci): move commands above aliases in ci.toml
  mise/tasks/ci.toml
Due: taplo

refactor(ci): replace ci:full depends with sequential run
  agents/internal/skills/codex-code-review/SKILL.md
  mise/tasks/ci.toml
Due: markdown-bold-headings, markdownlint, prettier, taplo

docs(codex-review): translate SKILL.md body to English
  agents/internal/skills/codex-code-review/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier

docs(codex-plan-review): translate SKILL.md to English
  agents/internal/skills/codex-plan-review/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier

docs(codex-system): translate SKILL.md Japanese sections to English
  agents/internal/skills/codex-system/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier

docs(gemini-system): translate SKILL.md Japanese sections to English
  agents/internal/skills/gemini-system/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier

docs: translate code-quality-improvement and terraform-operations to English
  agents/internal/agents/terraform-operations.md
  agents/internal/skills/code-quality-improvement/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier

feat(ci): CI タスク階層化・スキル追加・冗長チェック削除 (#139)
  .claude/rules/home-manager.md
  .github/workflows/ci.yml
  .gitignore
  .markdownlint-cli2.jsonc
  AGENTS.v1.md
  CLAUDE.md
  agents/external/codex-system/SKILL.md
  agents/external/gemini-system/SKILL.md
  agents/internal/agents/github-pr-reviewer.md
  agents/internal/agents/kiro/spec-design.md
  agents/internal/agents/terraform-operations.md
  agents/internal/skills/claude-system/agents/openai.yaml
  agents/internal/skills/code-quality-improvement/SKILL.md
  agents/internal/skills/codex-code-review/SKILL.md
  agents/internal/skills/codex-plan-review/SKILL.md
  agents/internal/skills/codex-system/SKILL.md
  agents/internal/skills/gemini-system/SKILL.md
  agents/internal/skills/git-worktree/agents/openai.yaml
  agents/internal/skills/knowledge-creator/skills/SKILL.md
  agents/internal/skills/premortem/agents/openai.yaml
  agents/scripts/replace-bold-headings.test.ts
  flake.lock
  mise/config.ci.toml
  mise/config.default.toml
  mise/tasks/ci.toml
  mise/tasks/integration.toml
  mise/tasks/lint.toml
  mise/tasks/skills.toml
  scripts/replace-bold-headings.test.ts
  scripts/replace-bold-headings.ts
Due: yamllint, markdown-bold-headings, markdownlint, prettier, taplo

docs: translate batch-1 internal skills SKILL.md to English
  agents/internal/skills/agent-creator/SKILL.md
  agents/internal/skills/agents-only/SKILL.md
  agents/internal/skills/cc-sdd/SKILL.md
  agents/internal/skills/chrome-debug/SKILL.md
  agents/internal/skills/claude-system/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier

docs: translate batch-2 internal skills SKILL.md to English
  agents/internal/skills/code-quality-automation/SKILL.md
  agents/internal/skills/code-review-system/SKILL.md
  agents/internal/skills/code-review/SKILL.md
  agents/internal/skills/command-creator/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier

docs: translate batch-5 internal skills SKILL.md to English
  agents/internal/skills/integration-framework/SKILL.md
  agents/internal/skills/learnings-knowledge/SKILL.md
  agents/internal/skills/markdown-docs/SKILL.md
  agents/internal/skills/marketplace-builder/SKILL.md
  agents/internal/skills/mcp-tools/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier

docs: translate batch-7 internal skills SKILL.md to English
  agents/internal/skills/refactoring/SKILL.md
  agents/internal/skills/review/SKILL.md
  agents/internal/skills/rules-creator/SKILL.md
  agents/internal/skills/sync-origin/SKILL.md
  agents/internal/skills/task/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier

docs: translate batch-3 internal skills SKILL.md to English
  agents/internal/skills/doc-standards/SKILL.md
  agents/internal/skills/docs-index/SKILL.md
  agents/internal/skills/docs-manager/SKILL.md
  agents/internal/skills/documentation-management/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier

docs: translate batch-8 internal skills SKILL.md to English
  agents/internal/skills/task-router/SKILL.md
  agents/internal/skills/todo-orchestrator/SKILL.md
  agents/internal/skills/tsr/SKILL.md
  agents/internal/skills/wezterm/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier

docs: translate batch-6 internal skills SKILL.md to English
  agents/internal/skills/nix-dotfiles/SKILL.md
  agents/internal/skills/polish/SKILL.md
  agents/internal/skills/predictive-analysis/SKILL.md
  agents/internal/skills/premortem/SKILL.md
  agents/internal/skills/project-maintenance/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier

Path conditions:
  beautysh: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  zsh-syntax: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdown-bold-headings: any of: ^agents/internal/.*\.md$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-format: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-check: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  taplo: any of: \.toml$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  biome: any of: \.(js|jsx|ts|tsx|json)$ and \.(js|mjs|cjs)$, \.json$ and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
