Repository jey3dayo/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: beautysh, zsh-syntax, yamllint, markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo, biome

beautysh:
  name: Format Zsh scripts with beautysh
  entry: beautysh
  args:
  - -i
  - '2'
  language: system
  pass_filenames: true

zsh-syntax:
  name: Check Zsh syntax
  entry: zsh
  args:
  - -n
  language: system
  pass_filenames: true

yamllint:
  name: Lint YAML files with yamllint
  entry: yamllint
  args:
  - -f
  - parsable
  language: system
  pass_filenames: true

markdown-bold-headings:
  name: Normalize internal Markdown bold headings
  entry: tsx ./agents/scripts/replace-bold-headings.ts
  language: system
  pass_filenames: true

markdownlint:
  name: Lint Markdown files with markdownlint-cli2
  entry: markdownlint-cli2
  args:
  - --fix
  language: system
  pass_filenames: true

prettier:
  name: Format Markdown/YAML with Prettier
  entry: prettier
  args:
  - --write
  - --ignore-unknown
  - --log-level
  - error
  language: system
  pass_filenames: true

ruff-format:
  name: Format Python files with ruff
  entry: bash
  args:
  - -c
  - uvx ruff format "$@"
  - --
  language: system
  pass_filenames: true

ruff-check:
  name: Lint Python files with ruff
  entry: bash
  args:
  - -c
  - uvx ruff check --fix "$@"
  - --
  language: system
  pass_filenames: true

taplo:
  name: Format TOML files with taplo
  entry: taplo
  args:
  - format
  language: system
  pass_filenames: true

biome:
  name: Format and lint JS/TS with Biome
  entry: biome
  args:
  - check
  - --write
  language: system
  pass_filenames: true

feat(skills): codex スキル改善 — Quick Reference・resume制約・エラーハンドリング追加
  agents/internal/skills/codex-code-review/SKILL.md
  agents/internal/skills/codex-plan-review/SKILL.md
  agents/internal/skills/codex-system/SKILL.md
  agents/internal/skills/codex-system/references/troubleshooting.md
Due: markdown-bold-headings, markdownlint, prettier

fix(skills): --full-auto と read-only の矛盾解消 + resume 制約記述を訂正
  agents/internal/skills/codex-code-review/SKILL.md
  agents/internal/skills/codex-plan-review/SKILL.md
  agents/internal/skills/codex-system/SKILL.md
  agents/internal/skills/codex-system/references/code-review-task.md
  agents/internal/skills/codex-system/references/troubleshooting.md
Due: markdown-bold-headings, markdownlint, prettier

style: prettier フォーマット修正
  agents/internal/skills/codex-system/SKILL.md
  agents/internal/skills/codex-system/references/troubleshooting.md
Due: markdown-bold-headings, markdownlint, prettier

feat(skills): codex スキル改善 — Quick Reference・resume制約・エラーハンドリング (#146)
  agents/internal/skills/codex-code-review/SKILL.md
  agents/internal/skills/codex-plan-review/SKILL.md
  agents/internal/skills/codex-system/SKILL.md
  agents/internal/skills/codex-system/references/code-review-task.md
  agents/internal/skills/codex-system/references/troubleshooting.md
Due: markdown-bold-headings, markdownlint, prettier

fix(mise): npm:yarn を config.default.toml から削除
  mise/config.default.toml
Due: taplo

fix(skills): 壊れ参照一括修正 — commands.shared除去・パス誤記・YAML作成
  agents/internal/skills/command-creator/references/command-details.md
  agents/internal/skills/gh-fix-review/SKILL.md
  agents/internal/skills/gh-fix-review/references/index.md
  agents/internal/skills/nix-dotfiles/README.md
  agents/internal/skills/nix-dotfiles/SKILL.md
  agents/internal/skills/nix-dotfiles/references/commands.md
  agents/internal/skills/nix-dotfiles/references/troubleshooting.md
  agents/internal/skills/premortem/references/examples/session-ml-pipeline.yaml
  agents/internal/skills/premortem/references/questions/data-systems.yaml
  agents/internal/skills/premortem/references/questions/infrastructure.yaml
  agents/internal/skills/premortem/references/questions/mobile-apps.yaml
  agents/internal/skills/premortem/references/questions/security.yaml
Due: yamllint, markdown-bold-headings, markdownlint, prettier

chore: .gitignore に astro/ を追加
  .gitignore
Due: none

fix(skills): 壊れ参照一括修正 — commands.shared除去・パス誤記・YAML作成 (#147)
  .gitignore
  agents/internal/skills/command-creator/references/command-details.md
  agents/internal/skills/gh-fix-review/SKILL.md
  agents/internal/skills/gh-fix-review/references/index.md
  agents/internal/skills/nix-dotfiles/README.md
  agents/internal/skills/nix-dotfiles/SKILL.md
  agents/internal/skills/nix-dotfiles/references/commands.md
  agents/internal/skills/nix-dotfiles/references/troubleshooting.md
  agents/internal/skills/premortem/references/examples/session-ml-pipeline.yaml
  agents/internal/skills/premortem/references/questions/data-systems.yaml
  agents/internal/skills/premortem/references/questions/infrastructure.yaml
  agents/internal/skills/premortem/references/questions/mobile-apps.yaml
  agents/internal/skills/premortem/references/questions/security.yaml
Due: yamllint, markdown-bold-headings, markdownlint, prettier

style(docs): remove bold from list items
  agents/internal/skills/code-review-system/references/auto-fix.md
  agents/internal/skills/code-review-system/references/comment-handling.md
  agents/internal/skills/code-review/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier

fix(openclaw): 循環依存 & memory-core プラグイン不足を修正
  .claude/rules/openclaw.md
  scripts/openclaw-cleanup
  systemd/user/openclaw-cleanup.service
  systemd/user/openclaw-gateway.service
Due: markdownlint, prettier

docs(openclaw): Troubleshootingにmemory-coreと循環依存の対処法を追記
  .claude/rules/openclaw.md
Due: markdownlint, prettier

refactor(openclaw): openclaw.md の重複・冗長箇所を整理（656→527行）
  .claude/rules/openclaw.md
Due: markdownlint, prettier

fix(scripts): openclaw-cleanup の bundled-plugins sync を glob パターンに修正
  scripts/openclaw-cleanup
Due: none

docs(rules): openclaw cleanup script の bundled-plugins sync 説明を追加
  .claude/rules/openclaw.md
Due: markdownlint, prettier

fix(openclaw): harden plugin sync cleanup and gateway prechecks
  scripts/openclaw-cleanup
  systemd/user/openclaw-gateway.service
Due: none

fix(openclaw): 循環依存 & memory-core プラグイン不足を修正 (2026.2.26+) (#148)
  .claude/rules/openclaw.md
  scripts/openclaw-cleanup
  systemd/user/openclaw-cleanup.service
  systemd/user/openclaw-gateway.service
Due: markdownlint, prettier

chore(gitignore): ignore local chromium and pulse config dirs
  .gitignore
Due: none

chore(gitignore): ignore local chromium and pulse config dirs (#149)
  .gitignore
Due: none

chore(mise): add gitleaks to Raspberry Pi toolset
  mise/config.pi.toml
Due: taplo

chore(mise): add luacheck to Raspberry Pi toolset
  mise/config.pi.toml
Due: taplo

chore(mise): add gitleaks/luacheck to Raspberry Pi config (#150)
  mise/config.pi.toml
Due: taplo

fix(mise): remove invalid luacheck tool entry for pi config
  mise/config.pi.toml
Due: taplo

docs(mise): document Pi luacheck/luarocks policy and add config note
  .claude/rules/tools/mise.md
  mise/config.pi.toml
Due: markdownlint, prettier, taplo

fix(mise): resolve luacheck registry warning on Raspberry Pi (#151)
  .claude/rules/tools/mise.md
  mise/config.pi.toml
Due: markdownlint, prettier, taplo

style(docs): format mise rule markdown
  .claude/rules/tools/mise.md
Due: markdownlint, prettier

style(docs): format mise rule markdown (#152)
  .claude/rules/tools/mise.md
Due: markdownlint, prettier

chore(mise): add ghq to default tools
  mise/config.default.toml
Due: taplo

chore(mise): add ghq to pi tools
  mise/config.pi.toml
Due: taplo

feat(code-review): add PR comment handling feature
  agents/internal/skills/code-review/SKILL.md
  agents/internal/skills/code-review/references/detailed-mode.md
  agents/internal/skills/code-review/references/pr-comment-integration.md
  agents/internal/skills/code-review/references/simple-mode.md
  agents/internal/skills/gh-fix-review/SKILL.md
Due: markdown-bold-headings, markdownlint, prettier

chore(ssh): switch IdentityFile to id_ed25519
  ssh/config.d/common/00-global.sshconfig
  ssh/config.d/common/10-dev-services.sshconfig
  ssh/config.d/common/20-home-network.sshconfig
Due: none

chore(ssh): switch IdentityFile to id_ed25519 (#153)
  ssh/config.d/common/00-global.sshconfig
  ssh/config.d/common/10-dev-services.sshconfig
  ssh/config.d/common/20-home-network.sshconfig
Due: none

fix(ssh): set nas HostName to IP
  ssh/config.d/common/20-home-network.sshconfig
Due: none

chore(mise): add glab
  mise/config.default.toml
Due: taplo

feat: Add settings.json for ccstatusline
  ccstatusline/settings.json
Due: biome

feat(settings): add context-length and custom-text
  ccstatusline/settings.json
Due: biome

feat(settings): update status line with new components
  ccstatusline/settings.json
Due: biome

feat(ccstatusline): adjust layout and relocate session-clock
  ccstatusline/settings.json
Due: biome

feat(ccstatusline): reorder In/Out and cost for semantic clarity
  ccstatusline/settings.json
Due: biome

feat(ccstatusline): shorten In/Out label to I/O
  ccstatusline/settings.json
Due: biome

Path conditions:
  beautysh: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  zsh-syntax: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdown-bold-headings: any of: ^agents/internal/.*\.md$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-format: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-check: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  taplo: any of: \.toml$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  biome: any of: \.(js|jsx|ts|tsx|json)$ and \.(js|mjs|cjs)$, \.json$ and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
