Repository jey3dayo/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: beautysh, zsh-syntax, yamllint, markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo, biome

Path conditions:
  beautysh: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  zsh-syntax: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdown-bold-headings: any of: ^agents/internal/.*\.md$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-format: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-check: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  taplo: any of: \.toml$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  biome: any of: \.(js|jsx|ts|tsx|json)$ and \.(js|mjs|cjs)$, \.json$ and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))

feat(ccstatusline): align Session and Weekly icons vertically
  ccstatusline/settings.json
Due: biome

feat(ccstatusline): align Block icon with Session and Weekly
  ccstatusline/settings.json
Due: biome

feat(ccstatusline): add space before 5h in Block label
  ccstatusline/settings.json
Due: biome

feat(ccstatusline): move emoji to front of Block/Session/Weekly labels
  ccstatusline/settings.json
Due: biome

feat(ccstatusline): unify color system to 4-role palette aligned with starship
  ccstatusline/settings.json
Due: biome

feat(ccstatusline): combine block progress and reset-timer as 65.6%(1hr 43m)
  ccstatusline/settings.json
Due: biome

style(settings): update color codes in JSON config
  ccstatusline/settings.json
Due: biome

feat(ccstatusline): apply 3-level visual hierarchy with tertiary gray for labels
  ccstatusline/settings.json
Due: biome

fix(ccstatusline): restore context-length color to green as secondary value
  ccstatusline/settings.json
Due: biome

fix(ccstatusline): make Ctx label green to match context values
  ccstatusline/settings.json
Due: biome

feat(ccstatusline): wrap weekly-reset-timer in parentheses to match block format
  ccstatusline/settings.json
Due: biome

feat(ccstatusline): remove separator before weekly-reset-timer
  ccstatusline/settings.json
Due: biome

feat(ccstatusline): change block-timer progress to green to align with usage-rate semantics
  ccstatusline/settings.json
Due: biome

feat(ccstatusline): demote Ctx parentheses to gray, keep label and values green
  ccstatusline/settings.json
Due: biome

feat(ccstatusline): redesign visual hierarchy — Ctx+Block as co-equal primary signals
  ccstatusline/settings.json
Due: biome

feat(ccstatusline): move Block label to green — blue reserved for model/system only
  ccstatusline/settings.json
Due: biome

feat(ccstatusline): introduce 3-level hierarchy with two gray tones and bold-value-only rule
  ccstatusline/settings.json
Due: biome

feat(ccstatusline): finalize 3-layer hierarchy — constraint/state/meta with mature green
  ccstatusline/settings.json
Due: biome

feat(glab): add aliases.yml and ignore config.yml/bin
  .gitignore
  glab-cli/aliases.yml
Due: yamllint, prettier

feat(ccstatusline): deepen primary green and step back Block label for Ctx dominance
  ccstatusline/settings.json
Due: biome

feat(ccstatusline): visual hierarchy redesign + glab setup (#156)
  .gitignore
  ccstatusline/settings.json
  glab-cli/aliases.yml
Due: yamllint, prettier, biome

chore(steering): sync with current dotfiles patterns
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
Due: markdownlint, prettier

feat: Add new theme 0x96f configuration
  ghostty/config
  ghostty/themes/0x96f
Due: none

feat(colorscheme): update to 0x96f colorscheme
  nvim/lua/colorscheme.lua
  nvim/lua/plugins/colorschemes.lua
Due: none

chore: ignore btop log files
  .gitignore
Due: none

feat(home): add btop package to home configuration
  home.nix
Due: none

feat(themes): Add new 0x96f theme file
  btop/btop.conf
  btop/themes/0x96f.theme
Due: none

style(settings.json): update color codes in config
  ccstatusline/settings.json
Due: biome

style(ui): update notify plugin options
  nvim/lua/plugins/ui.lua
Due: none

feat(nvim): enhance yank and substitute features
  nvim/lua/config/mini-pick.lua
  nvim/lua/plugins/editor.lua
Due: none

refactor(editor): remove suffix from yank configuration
  nvim/lua/plugins/editor.lua
Due: none

feat: add new abbreviation for Claude with auto mode
  zsh-abbr/user-abbreviations
Due: none

refactor(mini-clue): add custom sort function for clues
  nvim/lua/config/mini-clue.lua
  nvim/lua/config/mini-pick.lua
  nvim/lua/plugins/editor.lua
Due: none

feat(brewfile): disable auto-update for specific tap
  mise/tasks/brewfile.toml
Due: taplo

feat: Add quiet mode to run-ts-tests script
  mise/tasks/lib/run-ts-tests.sh
Due: none

refactor(test): remove redundant dependency checks
  mise/tasks/lib/run-ts-tests.sh
  mise/tasks/test.toml
Due: taplo

docs(mise): update usage guidelines for tool checks
  .claude/rules/tools/mise.md
Due: markdownlint, prettier

style(settings): update color codes in settings.json
  ccstatusline/settings.json
Due: biome

style: Remove unnecessary markdown formatting
  .claude/rules/openclaw.md
  .claude/rules/tools/mise.md
Due: markdownlint, prettier

chore: update flake.lock
  flake.lock
Due: none
