Repository jey3dayo/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: beautysh, zsh-syntax, yamllint, markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo, biome

beautysh:
  name: Format Zsh scripts with beautysh
  entry: beautysh
  args:
  - -i
  - '2'
  language: system
  pass_filenames: true

zsh-syntax:
  name: Check Zsh syntax
  entry: zsh
  args:
  - -n
  language: system
  pass_filenames: true

yamllint:
  name: Lint YAML files with yamllint
  entry: yamllint
  args:
  - -f
  - parsable
  language: system
  pass_filenames: true

markdown-bold-headings:
  name: Normalize internal Markdown bold headings
  entry: tsx ./agents/scripts/replace-bold-headings.ts
  language: system
  pass_filenames: true

markdownlint:
  name: Lint Markdown files with markdownlint-cli2
  entry: markdownlint-cli2
  args:
  - --fix
  language: system
  pass_filenames: true

prettier:
  name: Format Markdown/YAML with Prettier
  entry: prettier
  args:
  - --write
  - --ignore-unknown
  - --log-level
  - error
  language: system
  pass_filenames: true

ruff-format:
  name: Format Python files with ruff
  entry: bash
  args:
  - -c
  - uvx ruff format "$@"
  - --
  language: system
  pass_filenames: true

ruff-check:
  name: Lint Python files with ruff
  entry: bash
  args:
  - -c
  - uvx ruff check --fix "$@"
  - --
  language: system
  pass_filenames: true

taplo:
  name: Format TOML files with taplo
  entry: taplo
  args:
  - format
  language: system
  pass_filenames: true

biome:
  name: Format and lint JS/TS with Biome
  entry: biome
  args:
  - check
  - --write
  language: system
  pass_filenames: true

refactor(zsh): make init load order explicit
  zsh/.zshrc
Due: none

refactor(zsh): clean completion init helpers
  zsh/init/zz-completion.zsh
Due: beautysh, zsh-syntax

refactor(zsh): scope sheldon bootstrap variables
  zsh/init/sheldon.zsh
Due: beautysh, zsh-syntax

refactor(zsh): use native counts in quick check
  zsh/config/core/path.zsh
Due: beautysh, zsh-syntax

fix(mise): exclude generated files from checks
  .markdownlint-cli2.jsonc
  mise/config.ci.toml
  mise/config.toml
  mise/config.windows.toml
  mise/tasks/format.toml
  mise/tasks/lint.toml
Due: taplo

refactor(nvim): consolidate dial keymaps
  nvim/lua/config/dial-config.lua
Due: none

refactor(nvim): split editor plugin configs
  nvim/lua/config/mini-ai.lua
  nvim/lua/config/mini-bracketed.lua
  nvim/lua/config/mini-files.lua
  nvim/lua/config/mini-hipatterns.lua
  nvim/lua/config/mini-misc.lua
  nvim/lua/config/mini-sessions.lua
  nvim/lua/config/mini-trailspace.lua
  nvim/lua/config/substitute.lua
  nvim/lua/config/undo-glow.lua
  nvim/lua/config/yanky.lua
  nvim/lua/plugins/editor.lua
Due: none

refactor(nvim): remove unused utility helpers
  nvim/lua/core/utils.lua
  nvim/spec/core/utils_spec.lua
Due: none

refactor(wezterm): split key table config
  wezterm/key_tables.lua
  wezterm/keybinds.lua
Due: none

refactor(wezterm): remove unused utility helpers
  spec/wezterm_utils_spec.lua
  wezterm/utils.lua
Due: none

refactor(nvim): split focused editor configs
  nvim/lua/config/flash.lua
  nvim/lua/config/mini-comment.lua
  nvim/lua/config/mini-jump2d.lua
  nvim/lua/config/mini-surround.lua
  nvim/lua/plugins/editor.lua
Due: none

refactor(nvim): simplify lsp debug reporting
  nvim/lua/lsp/debug.lua
Due: none

docs(nvim): sync current config layout
  .claude/rules/tools/nvim.md
  docs/tools/nvim.md
Due: markdownlint, prettier

build(nix): update flake inputs
  flake.lock
Due: none

gitignore local mimeapps
  .gitignore
Due: none

fix(zsh): load plugins after interactive path setup
  scripts/zsh-env-loading.test.ts
  zsh/.zshrc
  zsh/config/core/interactive-path.zsh
  zsh/init/sheldon.zsh
Due: beautysh, zsh-syntax

docs(zsh): clarify interactive path bootstrap
  docs/tools/zsh.md
Due: markdownlint, prettier

chore(mise): treat zsh dotfiles as zsh checks
  mise/lib/shell-format.sh
  mise/tasks/lint.toml
Due: taplo

docs(home-manager): clarify catalog guidance paths
  docs/tools/home-manager.md
Due: markdownlint, prettier

feat(mise): pull before update tasks
  docs/tools/mise-tasks.md
  mise/tasks/updates.toml
Due: markdownlint, prettier, taplo

fix(mise): load windows tool config for setup-env
  mise/tasks/env.toml
  powershell/profile.d/mise.ps1
  scripts/setup-env.ps1
Due: taplo

perf(zsh): defer atuin startup loading
  spec/zsh_performance_spec.lua
  zsh/config/core/constants.zsh
  zsh/config/loaders/tools.zsh
Due: beautysh, zsh-syntax

chore(mise): update apm cli pin
  mise/config.default.toml
  mise/config.windows.toml
Due: taplo

fix(zsh): satisfy biome formatting
  scripts/zsh-env-loading.test.ts
Due: none

fix(zsh): restore Homebrew path for login shells
  restic/backup.sh
  scripts/zsh-env-loading.test.ts
  zsh/.zprofile
Due: none

chore(restic): clarify Homebrew path prefix
  restic/backup.sh
Due: none

fix(zsh): expose mise in agent shells
  scripts/zsh-env-loading.test.ts
  shell/env.sh
  zsh/.zshenv
Due: none

chore(brew): add session manager plugin
  Brewfile
Due: none

chore(deps): update home-manager and tmux plugin
  flake.lock
Due: none

docs(mise): align nix task catalog
  docs/tools/mise-tasks.md
Due: markdownlint, prettier

Update LinearMouse LAMZU settings
  linearmouse/linearmouse.json
Due: biome

docs(mise): refresh tool inventory
  docs/tools/mise-config.md
  mise/README.md
Due: markdownlint, prettier

chore(deps): update nix flake lock
  flake.lock
Due: none

Update APM CLI version
  mise/config.windows.toml
Due: taplo

chore(nvim): disable unused lazy rocks support
  .gitignore
  nvim/lua/init_lazy.lua
Due: none

chore(config): update local environment settings
  .env
  .gitignore
  linearmouse/linearmouse.json
Due: biome

chore(brew): sync Brewfile with installed state and drop deprecated formulae
  Brewfile
Due: none

feat(macos): add RemoveQuarantine Quick Action and nix deployment support
  home.nix
  macos/services/RemoveQuarantine.workflow/Contents/Info.plist
  macos/services/RemoveQuarantine.workflow/Contents/document.wflow
  nix/dotfiles-files.nix
  nix/dotfiles-module.nix
Due: none

fix(mise): switch uv to github backend and bump apm-cli
  mise/config.default.toml
  mise/config.windows.toml
Due: taplo

chore(homebrew): track tap trust list and ignore lock file
  .gitignore
  homebrew/trust.json
Due: biome

Path conditions:
  beautysh: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  zsh-syntax: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdown-bold-headings: any of: ^agents/internal/.*\.md$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-format: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-check: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  taplo: any of: \.toml$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  biome: any of: \.(js|jsx|ts|tsx|json)$ and \.(js|mjs|cjs)$, \.json$ and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
