Repository jey3dayo/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: beautysh, zsh-syntax, yamllint, markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo, biome

beautysh:
  name: Format Zsh scripts with beautysh
  entry: beautysh
  args:
  - -i
  - '2'
  language: system
  pass_filenames: true

zsh-syntax:
  name: Check Zsh syntax
  entry: zsh
  args:
  - -n
  language: system
  pass_filenames: true

yamllint:
  name: Lint YAML files with yamllint
  entry: yamllint
  args:
  - -f
  - parsable
  language: system
  pass_filenames: true

markdown-bold-headings:
  name: Normalize internal Markdown bold headings
  entry: tsx ./agents/scripts/replace-bold-headings.ts
  language: system
  pass_filenames: true

markdownlint:
  name: Lint Markdown files with markdownlint-cli2
  entry: markdownlint-cli2
  args:
  - --fix
  language: system
  pass_filenames: true

prettier:
  name: Format Markdown/YAML with Prettier
  entry: prettier
  args:
  - --write
  - --ignore-unknown
  - --log-level
  - error
  language: system
  pass_filenames: true

ruff-format:
  name: Format Python files with ruff
  entry: bash
  args:
  - -c
  - uvx ruff format "$@"
  - --
  language: system
  pass_filenames: true

ruff-check:
  name: Lint Python files with ruff
  entry: bash
  args:
  - -c
  - uvx ruff check --fix "$@"
  - --
  language: system
  pass_filenames: true

taplo:
  name: Format TOML files with taplo
  entry: taplo
  args:
  - format
  language: system
  pass_filenames: true

biome:
  name: Format and lint JS/TS with Biome
  entry: biome
  args:
  - check
  - --write
  language: system
  pass_filenames: true

chore(apm): align global apm cli source
  mise/config.default.toml
  mise/config.windows.toml
Due: taplo

build(mise): add npm:dbdocs latest to default tool config
  mise/config.default.toml
Due: taplo

chore: ignore NuGet and opencode/agents directories
  .gitignore
Due: none

fix(ci): remove deleted check-flake-sync.sh step from validate workflow
  .github/workflows/validate.yml
Due: yamllint, prettier

feat(atuin): add shell history via mise with sync support
  atuin/config.toml
  docs/setup.md
  mise/config.default.toml
  zsh/config/loaders/tools.zsh
  zsh/config/tools/atuin.zsh
Due: beautysh, zsh-syntax, markdownlint, prettier, taplo

feat(scripts): add Telegram message sender
  scripts/send-telegram.sh
Due: none

feat: add setup:tauri:ubuntu task to install Tauri deps
  mise/tasks/updates.toml
Due: taplo

Update APM CLI pin
  mise/config.windows.toml
Due: taplo

fix(ci): format telegram sender script
  scripts/send-telegram.sh
Due: none

Update apm cli version
  mise/config.windows.toml
Due: taplo

fix(mise): stabilize setup env hook on windows
  mise/tasks/env.toml
Due: taplo

fix(mise): route windows powershell tasks through bash wrapper
  mise/tasks/ci.toml
  mise/tasks/env.toml
  mise/tasks/updates.toml
  scripts/run-windows-powershell.sh
Due: taplo

fix(mise): keep setup env hook on bash path
  mise/tasks/env.toml
Due: taplo

chore(linearmouse): consolidate mouse settings
  Brewfile
  linearmouse/linearmouse.json
Due: biome

fix(mise): prioritize shims in zsh startup
  zsh/.zprofile
  zsh/.zshenv
Due: none

chore(brew): prune unused casks
  Brewfile
Due: none

Update APM CLI to 0.13.0
  mise/config.windows.toml
Due: taplo

chore(mole): add cleanup whitelist
  .gitignore
  mole/whitelist
Due: none

chore(karabiner): map kana key to right option
  karabiner/karabiner.json
Due: biome

docs: add audience/developer tags to Nix and Home Manager docs
  docs/disaster-recovery.md
  docs/tools/home-manager.md
  docs/tools/nix.md
Due: markdownlint, prettier

chore: allow TODO files to be tracked
  .gitignore
Due: none

chore(biome): ignore linearmouse.json in scanner excludes
  biome.json
Due: biome

Update Karabiner keyboard mappings
  .claude/rules/tools/karabiner.md
  karabiner/karabiner.json
Due: markdownlint, prettier, biome

build(homebrew): update Brewfile.lock.json lockfile
  Brewfile.lock.json
Due: biome

feat(mise): wrap update and upgrade with MISE_GITHUB_TOKEN
  zsh/config/tools/mise.zsh
Due: beautysh, zsh-syntax

feat(linearmouse): add reverse vertical scroll for LAMZU THORN
  linearmouse/linearmouse.json
Due: biome

style: reorder GOG_ACCOUNT env entry in .env
  .env
Due: none

feat(nix): add nix-darwin touch id sudo config
  flake.lock
  flake.nix
Due: none

test(mise): include darwin system build in nix ci
  mise/tasks/ci.toml
Due: taplo

refactor(nix): split darwin system module
  flake.nix
  nix/darwin.nix
Due: none

fix(zsh): correct command existence checks
  zsh/config/tools/brew.zsh
  zsh/config/tools/direnv.zsh
  zsh/config/tools/gh.zsh
Due: beautysh, zsh-syntax

chore(openclaw): remove retired openclaw assets
  .claude/rules/openclaw.md
  .gitignore
  .kiro/steering/structure.md
  docs/README.md
  docs/tools/mise.md
  docs/tools/openclaw.md
  mise/config.default.toml
  mise/config.pi.toml
  mise/config.windows.toml
  nanoclaw/mount-allowlist.json
  scripts/openclaw-cleanup
  scripts/openclaw-gateway
  scripts/replace-bold-headings.test.ts
  scripts/send-telegram.sh
  systemd/user/nanoclaw-v2.service.template
  systemd/user/openclaw-cleanup.service
  systemd/user/openclaw-cleanup.timer
  systemd/user/openclaw-gateway.service
  systemd/user/openclaw-gateway.service.d/override.conf
  systemd/user/openclaw-gateway.service.example
  zsh/lazy-sources/openclaw.zsh
Due: beautysh, zsh-syntax, markdownlint, prettier, taplo, biome

fix(mise): keep windows tasks on project config
  mise/config.windows.toml
  powershell/profile.d/mise.ps1
  powershell/profile.d/zoxide.ps1
Due: taplo

fix(zsh): avoid blocking sheldon cache refresh
  zsh/config/tools/gh.zsh
  zsh/config/tools/mise.zsh
  zsh/init/sheldon.zsh
Due: beautysh, zsh-syntax

chore(mise): update windows apm cli version
  mise/config.windows.toml
Due: taplo

chore(zed): configure panel docking
  zed/settings.json
Due: biome

fix(zsh): keep mise shims first in path
  zsh/.zprofile
Due: none

fix(zsh): promote mise tool paths before user paths
  zsh/.zprofile
  zsh/config/tools/mise.zsh
Due: beautysh, zsh-syntax

fix(shell): normalize mise path activation
  bash/.bashrc
  zsh/.zprofile
  zsh/config/core/interactive-path.zsh
  zsh/config/tools/mise.zsh
Due: beautysh, zsh-syntax

refactor(zsh): split interactive startup settings
  zsh/.zshenv
  zsh/.zshrc
  zsh/config/core/path.zsh
  zsh/config/tools/mise.zsh
  zsh/init/history.zsh
  zsh/init/options.zsh
Due: beautysh, zsh-syntax

Path conditions:
  beautysh: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  zsh-syntax: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdown-bold-headings: any of: ^agents/internal/.*\.md$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-format: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-check: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  taplo: any of: \.toml$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  biome: any of: \.(js|jsx|ts|tsx|json)$ and \.(js|mjs|cjs)$, \.json$ and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
