Repository jey3dayo/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: beautysh, zsh-syntax, yamllint, markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo, biome

Path conditions:
  beautysh: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  zsh-syntax: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdown-bold-headings: any of: ^agents/internal/.*\.md$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-format: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-check: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  taplo: any of: \.toml$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  biome: any of: \.(js|jsx|ts|tsx|json)$ and \.(js|mjs|cjs)$, \.json$ and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))

docs(tauri-icon-gen): fix codex and linux icon workflow
  agents/src/skills/tauri-icon-gen/SKILL.md
Due: markdownlint, prettier

feat(powershell): add gog completions
  powershell/profile.d/gog.ps1
Due: none

chore(gitignore): ignore tmp directory
  .gitignore
Due: none

fix(env): store gog account in dotenvx config
  .env
Due: none

fix(env): avoid concurrent setup-env temp collisions
  scripts/setup-env.ps1
  scripts/setup-env.ps1.test.ts
  scripts/setup-env.sh
  scripts/setup-env.test.ts
Due: none

fix(mise): replace deprecated vfox setting
  mise/config.ci.toml
  mise/config.default.toml
  mise/config.pi.toml
  mise/config.toml
  mise/config.windows.toml
Due: taplo

fix(skills): correct tauri-icon-gen frontmatter yaml
  agents/src/skills/tauri-icon-gen/SKILL.md
Due: markdownlint, prettier

chore: add --quiet to setup-env enter hook
  .mise.toml
Due: taplo

feat(nix): add copied-entry-point dotfiles support and test updates
  agents/scripts/module-agents-priority.test.ts
  nix/dotfiles-files.nix
  nix/dotfiles-module.nix
  scripts/install-agent-skills-lib.test.ts
Due: none

chore: remove the .aicommits dotfile from managed home entries
  nix/dotfiles-files.nix
Due: none

chore: add Voicevox tap and cask to Brewfile
  Brewfile
Due: none

fix(skills): add macOS support for tauri-dev-screenshot
  agents/src/skills/tauri-dev-screenshot/SKILL.md
  agents/src/skills/tauri-dev-screenshot/agents/openai.yaml
  agents/src/skills/tauri-dev-screenshot/scripts/capture-tauri-window-macos.swift
Due: yamllint, markdownlint, prettier

fix(nvim): migrate treesitter config to main branch
  nvim/lua/config/nvim-treesitter.lua
  nvim/lua/core/ftplugin_loader.lua
  nvim/lua/keymaps.lua
  nvim/lua/plugins/treesitter.lua
Due: none

fix(nvim): replace deprecated lsp handler wrappers
  nvim/lua/config/conform.lua
  nvim/lua/config/native-lsp-ui.lua
  nvim/lua/core/mise.lua
  nvim/lua/lsp/handlers.lua
Due: none

refactor(nvim): split config options from setup modules
  nvim/lua/config/comment.lua
  nvim/lua/config/hlchunk.lua
  nvim/lua/config/leap.lua
  nvim/lua/config/lualine.lua
  nvim/lua/config/mason.lua
  nvim/lua/config/nvim-autopairs.lua
  nvim/lua/config/nvim-insx.lua
  nvim/lua/config/wildfire.lua
  nvim/lua/core/mise.lua
  nvim/lua/lsp/ui.lua
  nvim/lua/plugins/lsp.lua
  nvim/lua/plugins/treesitter.lua
  nvim/lua/plugins/ui.lua
  nvim/lua/setup/conform.lua
  nvim/lua/setup/lualine.lua
  nvim/lua/setup/mason.lua
  nvim/lua/setup/nvim-lint.lua
  nvim/lua/setup/nvim-treesitter.lua
Due: none

fix(mise): add julia runtime for nvim health
  mise/config.default.toml
Due: taplo

fix(nvim): reduce TextYankPost health warnings
  nvim/lua/plugins/editor.lua
Due: none

fix(nvim): register nonstandard lsp filetype aliases
  nvim/ftplugin/aspnetcorerazor.lua
  nvim/ftplugin/astro-markdown.lua
  nvim/ftplugin/blade.lua
  nvim/ftplugin/django-html.lua
  nvim/ftplugin/edge.lua
  nvim/ftplugin/eelixir.lua
  nvim/ftplugin/ejs.lua
  nvim/ftplugin/erb.lua
  nvim/ftplugin/gohtml.lua
  nvim/ftplugin/gohtmltmpl.lua
  nvim/ftplugin/gotmpl.lua
  nvim/ftplugin/gowork.lua
  nvim/ftplugin/hbs.lua
  nvim/ftplugin/html-eex.lua
  nvim/ftplugin/jade.lua
  nvim/ftplugin/leaf.lua
  nvim/ftplugin/markdown.mdx.lua
  nvim/ftplugin/mdx.lua
  nvim/ftplugin/mustache.lua
  nvim/ftplugin/njk.lua
  nvim/ftplugin/nunjucks.lua
  nvim/ftplugin/postcss.lua
  nvim/ftplugin/razor.lua
  nvim/ftplugin/reason.lua
  nvim/ftplugin/slim.lua
  nvim/ftplugin/sugarss.lua
  nvim/ftplugin/templ.lua
  nvim/ftplugin/terraform-vars.lua
  nvim/ftplugin/yaml.docker-compose.lua
  nvim/ftplugin/yaml.gitlab.lua
  nvim/ftplugin/yaml.helm-values.lua
  nvim/lua/core/ftplugin_alias.lua
  nvim/lua/filetype.lua
  nvim/lua/lsp/config.lua
  nvim/lua/setup/conform.lua
  nvim/spec/filetype_spec.lua
  nvim/spec/ftplugin_aliases_spec.lua
Due: none

fix: finalize shell and tooling updates
  AGENTS.md
  mise/config.default.toml
  mise/config.pi.toml
  scripts/dotfiles-materialized-entrypoints.test.ts
  scripts/install-agent-skills-lib.test.ts
  scripts/zsh-env-loading.test.ts
  zsh/.zprofile
  zsh/.zshenv
  zsh/.zshrc
  zsh/config/loaders/tools.zsh
  zsh/config/tools/bun.zsh
Due: beautysh, zsh-syntax, markdownlint, prettier, taplo

fix(mise): stabilize tree-sitter cli on WSL
  mise/config.default.toml
  scripts/tree-sitter
Due: taplo

fix(zsh): restore bun fallback for login shells
  zsh/.zprofile
Due: none

fix(nvim): resolve mise binaries by install version
  nvim/lua/core/mise.lua
Due: none

test(scripts): handle native pwsh paths
  scripts/install-agent-skills-lib.test.ts
Due: none

feat: add gonta223-humanizer-ja as an agent skills source
  flake.lock
  flake.nix
  nix/agent-skills-sources.nix
Due: none

docs(agents): add DESIGN.md UI rules
  agents/src/AGENTS.md
Due: markdownlint, prettier

style(nvim): format mise candidate insertion
  nvim/lua/core/mise.lua
Due: none

feat(agents): add design-md-review skill
  agents/src/skills/design-md-review/SKILL.md
  agents/src/skills/design-md-review/agents/openai.yaml
  agents/src/skills/design-md-review/references/design-md-criteria.md
Due: yamllint, markdownlint, prettier

feat(agents): manage plugin roots from source metadata
  agents/README.md
  agents/nix/module.nix
  agents/scripts/module-agents-priority.test.ts
  docs/tools/home-manager.md
  nix/agent-skills-sources.nix
  nix/sources.nix
Due: markdownlint, prettier

fix(scripts): align windows homeLinks deployment
  scripts/install-agent-skills.ps1
  scripts/install-agent-skills.test.ts
Due: none

Revert "fix(scripts): align windows homeLinks deployment"
  scripts/install-agent-skills.ps1
  scripts/install-agent-skills.test.ts
Due: none

Revert "feat(agents): manage plugin roots from source metadata"
  agents/README.md
  agents/nix/module.nix
  agents/scripts/module-agents-priority.test.ts
  docs/tools/home-manager.md
  nix/agent-skills-sources.nix
  nix/sources.nix
Due: markdownlint, prettier

fix(home): restore understand plugin root link
  home.nix
Due: none

Reapply "fix(scripts): align windows homeLinks deployment"
  scripts/install-agent-skills.ps1
  scripts/install-agent-skills.test.ts
Due: none

Revert "fix(home): restore understand plugin root link"
  home.nix
Due: none

Reapply "feat(agents): manage plugin roots from source metadata"
  agents/README.md
  agents/nix/module.nix
  agents/scripts/module-agents-priority.test.ts
  docs/tools/home-manager.md
  nix/agent-skills-sources.nix
  nix/sources.nix
Due: markdownlint, prettier

docs(tauri-dev-screenshot): clarify macOS screenshot usage
  agents/src/skills/tauri-dev-screenshot/SKILL.md
Due: markdownlint, prettier

fix(home): expose mise tools to GUI apps
  home.nix
Due: none

feat(agents): add episodic memory source
  flake.lock
  flake.nix
  nix/agent-skills-sources.nix
Due: none

docs(agents): refine shared guide rules
  agents/src/AGENTS.md
Due: markdownlint, prettier

docs(documentation): reduce duplicated guidance
  .claude/rules/setup-and-env.md
  .claude/rules/tools/mise.md
  .claude/rules/workflows-and-maintenance.md
  docs/README.md
Due: markdownlint, prettier
