Repository jey3dayo/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: beautysh, zsh-syntax, yamllint, markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo, biome

Path conditions:
  beautysh: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  zsh-syntax: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdown-bold-headings: any of: ^agents/internal/.*\.md$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-format: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-check: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  taplo: any of: \.toml$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  biome: any of: \.(js|jsx|ts|tsx|json)$ and \.(js|mjs|cjs)$, \.json$ and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))

docs: fix stale references in nix.md, TOOLS.md, and kiro steering
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  TOOLS.md
  docs/tools/nix.md
Due: markdownlint, prettier

docs(plans): add /improve audit plans and index
  plans/001-pre-push-lint-quick.md
  plans/002-env-detect-tests.md
  plans/003-mise-tool-pin-consistency.md
  plans/004-docs-drift-fixes.md
  plans/README.md
Due: markdownlint, prettier

fix(test): update mise PATH assertion for the GitHub-token wrapper function
  scripts/zsh-env-loading.test.ts
Due: none

fix(test): raise default bun:test timeout to 15s
  bunfig.toml
Due: taplo

fix(test): use --timeout CLI flag instead of bunfig.toml (ineffective on bun 1.3.14)
  bunfig.toml
  mise/lib/run-ts-tests.sh
Due: taplo

fix(mise): pin eza to 0.23.4
  mise/config.default.toml
Due: taplo

feat(zsh): add hunkdiff abbreviations excluding generated files
  zsh-abbr/user-abbreviations
Due: none

chore(env): comment out ZAI_API_KEY export in .env
  .env
Due: none

chore(mise): lower minimum_release_age from 3d to 1d
  mise/config.toml
Due: taplo

build(biome): update schema URL to 2.5.3
  biome.json
Due: biome

fix(zsh): make fzf-tab require Enter to accept a completion
  zsh/lib/fzf-tab.zsh
Due: beautysh, zsh-syntax

build(mise): add npm:agmsg latest to default tool config
  mise/config.default.toml
Due: taplo

chore(tmux): remove tpm plugin management (herdr移行のため)
  .gitmodules
  mise/config.ci.toml
  mise/config.toml
  mise/config.windows.toml
  scripts/bootstrap-task.sh
  tmux/tpm.conf
Due: taplo

chore(tooling): remove remaining tmux/plugins references
  .fdignore
  .gitignore
  .markdownlint-cli2.jsonc
  .prettierignore
  .styluaignore
  biome.json
  scripts/replace-bold-headings.test.ts
  scripts/replace-bold-headings.ts
  scripts/windows/mise-wsl-task.ps1
  typos.toml
Due: taplo, biome

feat(nvim,mise): add dockerfmt and terraform formatter wiring
  mise/config.default.toml
  nvim/lua/setup/conform.lua
Due: taplo

chore: remove rtk config and tooling references from mise and docs
  .rtk/filters.toml
  .rtk/rewrite-mode
  docs/tools/mise-config.md
  hunk/state.json
  mise/config.default.toml
  mise/config.windows.toml
  mise/local-tasks/headroom.toml
  restic/paths.txt
Due: markdownlint, prettier, taplo, biome

build(biome): bump schema to 2.5.4
  biome.json
Due: biome

fix(nvim): stop forcing XDG_STATE_HOME to /tmp in bootstrap
  nvim/lua/core/bootstrap.lua
Due: none

chore(brew): remove webex cask from Brewfile and lockfile
  Brewfile
  Brewfile.lock.json
Due: biome

fix(zsh-abbr): point hdm and hdd to origin/main and origin/develop
  zsh-abbr/user-abbreviations
Due: none

chore(mise): keep backup tasks local
  .gitignore
  .mise.toml
  docs/tools/mise.md
  mise/README.md
  mise/local-tasks/backup.toml
Due: markdownlint, prettier, taplo

chore(git): ignore local 1Password state
  .gitignore
Due: none

build(mise): add herdr to default config and remove brew entry
  mise/config.default.toml
  mise/config.macos.toml
Due: taplo

build(mise): move copilot cli from brew to aqua
  .claude/rules/tools/tool-install-policy.md
  Brewfile
  Brewfile.lock.json
  homebrew/trust.json
  mise/config.default.toml
Due: markdownlint, prettier, taplo, biome

build(mise): bump windows apm cli to 0.26.0
  mise/config.windows.toml
Due: taplo

docs(plans): normalize markdown formatting
  plans/001-pre-push-lint-quick.md
  plans/002-env-detect-tests.md
  plans/003-mise-tool-pin-consistency.md
  plans/004-docs-drift-fixes.md
Due: markdownlint, prettier

chore(brew): remove orbstack cask
  Brewfile
  Brewfile.lock.json
Due: biome

chore(mise): remove unused docs:update-counts task
  .mise.toml
  docs/tools/mise.md
  mise/README.md
  mise/local-tasks/docs.toml
  scripts/mise-docs-update-counts.sh
Due: markdownlint, prettier, taplo

chore(mise): move setup:tauri:ubuntu to the ultra-rss-reader repo
  mise/local-tasks/updates.toml
Due: taplo

chore(headroom): remove headroom proxy integration
  .mise.toml
  README.md
  docs/disaster-recovery.md
  docs/setup.md
  docs/tools/mise-tasks.md
  mise/README.md
  mise/config.default.toml
  mise/config.macos.toml
  mise/config.toml
  mise/config.windows.toml
  mise/local-tasks/headroom.toml
  scripts/bootstrap-task.sh
  scripts/launchd/launchd-headroom-proxy.sh
Due: markdownlint, prettier, taplo

docs: remove .kiro/steering and its dangling references
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
Due: markdownlint, prettier

docs: clean up dangling .kiro/steering references
  .claude/README.md
  .claude/review-criteria.md
  .claude/rules/claude-code-usage.md
  .claude/rules/project-context.md
  .prettierignore
  README.md
  TOOLS.md
  docs/README.md
  llms.md
Due: markdownlint, prettier

docs: remove stale AGENTS.v1.md and commands-deprecation rule
  .claude/rules/commands-deprecation.md
  AGENTS.v1.md
Due: markdownlint, prettier

docs(skills): trigger nvim skill on LSP tool ecosystem vocabulary
  .claude/skills/nvim/SKILL.md
Due: markdownlint, prettier

chore(biome): bump schema URL to 2.5.5
  biome.json
Due: biome

chore(mise): auto-approve tool upgrades
  mise/local-tasks/updates.toml
Due: taplo

fix(herdr): use prefix+tab for next/previous tab keybinding
  herdr/config.toml
Due: taplo

fix(herdr): drop ctrl+tab direct shortcuts for tab navigation
  herdr/config.toml
Due: taplo

feat(codexbar): enable cursor and add provider entries
  codexbar/config.json
Due: biome

chore(apm): align targets to claude/codex/cursor/opencode/agent-skills
  apm.yml
Due: yamllint, prettier
