Repository jey3dayo/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: beautysh, zsh-syntax, yamllint, markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo, biome

beautysh:
  name: Format Zsh scripts with beautysh
  entry: beautysh
  args:
  - -i
  - '2'
  language: system
  pass_filenames: true

zsh-syntax:
  name: Check Zsh syntax
  entry: zsh
  args:
  - -n
  language: system
  pass_filenames: true

yamllint:
  name: Lint YAML files with yamllint
  entry: yamllint
  args:
  - -f
  - parsable
  language: system
  pass_filenames: true

markdown-bold-headings:
  name: Normalize internal Markdown bold headings
  entry: tsx ./agents/scripts/replace-bold-headings.ts
  language: system
  pass_filenames: true

markdownlint:
  name: Lint Markdown files with markdownlint-cli2
  entry: markdownlint-cli2
  args:
  - --fix
  language: system
  pass_filenames: true

prettier:
  name: Format Markdown/YAML with Prettier
  entry: prettier
  args:
  - --write
  - --ignore-unknown
  - --log-level
  - error
  language: system
  pass_filenames: true

ruff-format:
  name: Format Python files with ruff
  entry: bash
  args:
  - -c
  - uvx ruff format "$@"
  - --
  language: system
  pass_filenames: true

ruff-check:
  name: Lint Python files with ruff
  entry: bash
  args:
  - -c
  - uvx ruff check --fix "$@"
  - --
  language: system
  pass_filenames: true

taplo:
  name: Format TOML files with taplo
  entry: taplo
  args:
  - format
  language: system
  pass_filenames: true

biome:
  name: Format and lint JS/TS with Biome
  entry: biome
  args:
  - check
  - --write
  language: system
  pass_filenames: true

fix(claude): drop project-level sonnet model pin
  .claude/settings.json
Due: biome

chore(claude): remove stale cmux references from rule files
  .claude/rules/tools/cmux.md
  .claude/rules/tools/ghostty.md
  .claude/rules/tools/karabiner.md
Due: markdownlint, prettier

chore(claude): remove duplicate wezterm terminal rule
  .claude/rules/tools/terminal.md
Due: markdownlint, prettier

chore(claude): fix stale and duplicated facts in tool rules
  .claude/rules/performance.md
  .claude/rules/setup-and-env.md
  .claude/rules/tools/fzf-integration.md
  .claude/rules/tools/ssh.md
  .claude/rules/troubleshooting.md
Due: markdownlint, prettier

chore(claude): remove dead command/file references and simplify review rubric
  .claude/commands/refactoring.md
  .claude/review-criteria.md
  .claude/rules/claude-code-usage.md
  .claude/rules/tools/claude-code.md
Due: markdownlint, prettier

refactor(nvim-skill): replace star-rating rubric with benchmark-based evaluation
  .agents/skills/nvim/SKILL.md
  .claude/skills/nvim/SKILL.md
  skills/nvim/SKILL.md
Due: markdownlint, prettier

fix(zsh): narrow committed tuicr diff
  zsh-abbr/user-abbreviations
Due: none

fix(windows): validate WSL task before snapshot
  scripts/windows/mise-wsl-task.ps1
Due: none

fix: harden dotenv files and WSL snapshots
  scripts/setup-env.sh
  scripts/setup-env.test.ts
  scripts/windows/mise-wsl-task.ps1
  scripts/windows/mise-wsl-task.sh
  scripts/windows/setup-env.ps1
  zsh-abbr/user-abbreviations
Due: none

fix(mise): expose config selectors to GUI apps
  mise/config.macos.toml
  scripts/mise-config.test.ts
Due: taplo

feat(zsh): add gh browse widget and swap with branch switch keybind
  zsh/lib/git-widgets.zsh
Due: beautysh, zsh-syntax

fix(mise): disable github.use_git_credentials to stop credential recursion
  mise/config.toml
Due: taplo

refactor(test): derive git widget bindings from git-widgets.zsh
  scripts/zsh-env-loading.test.ts
Due: none

fix(test): skip git widget binding check when fzf-git.sh is unavailable
  scripts/zsh-env-loading.test.ts
Due: none

fix(zsh): drop unreachable ^g^B binding so ^g^b opens gh browse
  docs/tools/fzf-integration.md
  docs/tools/zsh.md
  zsh/lib/git-widgets.zsh
Due: beautysh, zsh-syntax, markdownlint, prettier

chore: remove dev3000 from workstation tools
  mise/config.workstation.toml
Due: taplo

feat(herdr): bind pane rename to the comma row and move tab rename to shift+t
  herdr/config.toml
Due: taplo

chore(brew): drop deprecated codex-app cask
  Brewfile
Due: none

chore(brew): update tap trust entries
  homebrew/trust.json
Due: biome

chore(codex): track agmsg session hooks
  .codex/hooks.json
Due: biome

chore(codex): untrack agmsg session hooks with machine-specific paths
  .codex/hooks.json
  .gitignore
Due: biome

chore(git): widen wt.copy to .env* so worktrees get dotenvx keys
  git/config
Due: none

docs(nvim): align skill and docs with the actual config
  .agents/skills/nvim/SKILL.md
  .agents/skills/nvim/references/nvim.md
  .claude/skills/nvim/SKILL.md
  .claude/skills/nvim/references/nvim.md
  docs/tools/nvim.md
  skills/nvim/SKILL.md
  skills/nvim/references/nvim.md
Due: markdownlint, prettier

fix(rules): correct relative doc links in .claude/rules/tools
  .claude/rules/tools/1password.md
  .claude/rules/tools/fzf-integration.md
  .claude/rules/tools/git-and-ssh.md
  .claude/rules/tools/git.md
  .claude/rules/tools/nvim.md
  .claude/rules/tools/ssh.md
  .claude/rules/tools/wezterm.md
  .claude/rules/tools/zsh.md
Due: markdownlint, prettier

docs: drop dated history and stale counts from AI-facing rules
  .agents/skills/wezterm/references/wezterm.md
  .claude/rules/tools/tool-install-policy.md
  .claude/skills/wezterm/references/wezterm.md
  global_rules.md
  skills/wezterm/references/wezterm.md
Due: markdownlint, prettier

chore(docs): align metadata config and PR template with this repo
  .claude/doc-standards/config.yaml
  .github/PULL_REQUEST_TEMPLATE.md
Due: yamllint, markdownlint, prettier

chore(apm): refresh lockfile after the nvim and wezterm skill updates
  apm.lock.yaml
Due: yamllint, prettier

docs(rules): document the repo-local skill ownership and re-deploy flow
  .claude/rules/agent-skills-source-of-truth.md
Due: markdownlint, prettier

chore(apm): pin the repo-local skill dependencies to a SHA
  .claude/rules/agent-skills-source-of-truth.md
  apm.lock.yaml
  apm.yml
Due: yamllint, markdownlint, prettier

fix(rules): correct paths, commands and themes that no longer exist
  .claude/review-criteria.md
  .claude/rules/tools/mise.md
  .claude/rules/tools/nvim.md
  .claude/rules/tools/ssh.md
  .claude/rules/tools/zsh.md
Due: markdownlint, prettier

fix(fzf): document the FZF integration that actually exists
  .claude/rules/tools/fzf-integration.md
  docs/tools/fzf-integration.md
Due: markdownlint, prettier

docs: drop the unimplemented zsh-help family and fix the widget list
  README.md
  docs/performance.md
  docs/setup.md
  docs/tools/wezterm.md
Due: markdownlint, prettier

chore: update statusline settings schema to version 4
  ccstatusline/settings.json
Due: biome

chore: update Biome schema to 2.5.12
  biome.json
Due: biome

chore: remove Serena agent from workstation tooling
  .gitignore
  docs/tools/mise-config.md
  mise/entry.workstation-unix.toml
Due: markdownlint, prettier, taplo

chore: ignore opencode rules and Claude configuration
  .gitignore
Due: none

chore(mise): ensure playwright through a bootstrap final hook
  mise/entry.workstation-unix.toml
  mise/lib/ensure-python-libs.sh
Due: taplo

chore(restic): update backup paths and exclude generated app data
  restic/excludes.txt
  restic/paths.txt
Due: none

chore: ignore local CodexBar configuration
  .gitignore
  codexbar/config.json
Due: biome

feat: add witr to managed development tools
  mise/config.toml
Due: taplo

Path conditions:
  beautysh: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  zsh-syntax: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdown-bold-headings: any of: ^agents/internal/.*\.md$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-format: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-check: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  taplo: any of: \.toml$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  biome: any of: \.(js|jsx|ts|tsx|json)$ and \.(js|mjs|cjs)$, \.json$ and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
