Repository jey3dayo/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: beautysh, zsh-syntax, yamllint, markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo, biome

Path conditions:
  beautysh: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  zsh-syntax: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdown-bold-headings: any of: ^agents/internal/.*\.md$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-format: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-check: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  taplo: any of: \.toml$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  biome: any of: \.(js|jsx|ts|tsx|json)$ and \.(js|mjs|cjs)$, \.json$ and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))

chore(mise): update apm cli
  mise/config.default.toml
  mise/config.windows.toml
Due: taplo

fix(zsh): avoid compinit prompt in ci
  zsh/lib/completion.zsh
Due: beautysh, zsh-syntax

fix(zsh): skip global compinit
  zsh/.zshenv
Due: none

fix(ci): include zsh entrypoint dotfiles
  .github/workflows/ci.yml
Due: yamllint, prettier

test(zsh): allow minimal ci toolset
  scripts/zsh-env-loading.test.ts
Due: none

test(zsh): treat prompt theme as optional
  scripts/zsh-env-loading.test.ts
Due: none

chore(ci): add pre-push checks
  .pre-commit-config.yaml
  docs/tools/workflows.md
  mise/lib/pre-push-check.sh
  mise/tasks/ci.toml
Due: yamllint, markdownlint, prettier, taplo

fix(nix): inject gh token before nix tasks
  docs/tools/nix.md
  mise/lib/home-manager.sh
  mise/tasks/ci.toml
Due: markdownlint, prettier, taplo

docs: document operational guardrails
  docs/disaster-recovery.md
  docs/tools/home-manager.md
  docs/tools/mise-tasks.md
  docs/tools/workflows.md
Due: markdownlint, prettier

docs(claude): qualify local ci task commands
  .claude/rules/claude-code-usage.md
Due: markdownlint, prettier

chore(zed): enable language server
  zed/settings.json
Due: biome

docs: add OKF documentation governance
  .claude/rules/documentation-rules.md
  .docs-manager-config.json
  .markdownlint-cli2.jsonc
  docs/documentation.md
Due: markdownlint, prettier, biome

feat(aicommits): add env-injecting wrapper and zsh integration
  scripts/aicommits-with-env
  zsh/.zshrc
  zsh/lib/aicommits.zsh
Due: beautysh, zsh-syntax

chore(ghostty): move leader key from ctrl+x to ctrl+b
  .claude/rules/tools/ghostty.md
  ghostty/config
Due: markdownlint, prettier

feat(herdr): add config with custom keybindings and theme
  .gitignore
  herdr/config.toml
Due: taplo

chore(karabiner): remove obsolete cmux ctrl+x leader rule
  .claude/rules/tools/karabiner.md
  karabiner/karabiner.json
Due: markdownlint, prettier, biome

chore(ghostty): treat left option as alt for alt keybinds
  ghostty/config
Due: none

chore(herdr): rework workspace/tab/pane keybindings
  herdr/config.toml
Due: taplo

chore(herdr): match accent to 0x96f palette
  herdr/config.toml
Due: taplo

chore(homebrew): trust tilt-dev/tap/tilt
  homebrew/trust.json
Due: biome

chore(mise): add sentry-cli via aqua
  mise/config.default.toml
Due: taplo

chore(herdr): add rename keybindings and fix agent prefix conflict
  herdr/config.toml
Due: taplo

chore(herdr): bind goto navigator to prefix+space
  herdr/config.toml
Due: taplo

chore(herdr): move notification target to space, restore workspace/goto keys
  herdr/config.toml
Due: taplo

chore(mise): remove chrome devtools MCP package
  mise/config.windows.toml
Due: taplo

feat(config): add onboarding toggle defaulting to false
  herdr/config.toml
Due: taplo

chore: update Brewfile
  Brewfile
Due: none

chore: remove unused/duplicate casks from Brewfile
  Brewfile
Due: none

chore: remove jmeter and icu4c@77
  Brewfile
Due: none

chore: remove cocoapods and its ruby dependency
  Brewfile
Due: none

build(brew): remove cmigemo from Brewfile
  Brewfile
Due: none

build(biome): bump schema URL to 2.5.2
  biome.json
Due: biome

chore(brew): remove legacy and unused formulae/casks
  .subversion/README.txt
  .subversion/config
  .subversion/servers
  Brewfile
  homebrew/trust.json
Due: biome

chore(mise): add npm hunkdiff tool
  mise/config.default.toml
Due: taplo

fix(keys): resolve alt+r conflict between ghostty and herdr resize
  ghostty/config
  herdr/config.toml
Due: taplo

chore(biome): exclude codexbar and hunk app state files from formatting
  biome.json
  codexbar/config.json
  hunk/state.json
Due: biome

style(zed): switch dark theme from One Dark to Ayu Dark
  zed/settings.json
Due: biome

feat(herdr): add herdr-unread script bound to prefix+space
  bin/herdr-unread
  herdr/config.toml
Due: taplo

chore(herdr): remove stale resize_mode comment
  herdr/config.toml
Due: taplo

fix(bin): add fix-mise-path shim copier for hunk and hunkdiff
  bin/fix-mise-path
Due: none
