Repository jey3dayo/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: beautysh, zsh-syntax, yamllint, markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo, biome

Path conditions:
  beautysh: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  zsh-syntax: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdown-bold-headings: any of: ^agents/internal/.*\.md$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-format: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-check: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  taplo: any of: \.toml$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  biome: any of: \.(js|jsx|ts|tsx|json)$ and \.(js|mjs|cjs)$, \.json$ and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))

chore(prettier): ignore codexbar directory in .prettierignore
  .prettierignore
Due: none

docs(nvim): add nix-dotfiles related skill and trim triggers
  .agents/skills/nvim/SKILL.md
  .claude/skills/nvim/SKILL.md
Due: markdownlint, prettier

chore(mise): exclude codexbar from TASK_EXCLUDES configs
  mise/config.ci.toml
  mise/config.toml
  mise/config.windows.toml
Due: taplo

fix(zsh): regenerate stale mise and task completions
  zsh/completions/_mise
  zsh/completions/_task
Due: none

feat(mise): add update:completions task to regenerate zsh completions
  mise/local-tasks/updates.toml
  scripts/update-completions.sh
Due: taplo

chore(hunk): bump lastSeenCliVersion to 0.17.6
  hunk/state.json
Due: biome

chore(brew): remove dropbox cask from Brewfile
  Brewfile
  Brewfile.lock.json
Due: biome

feat(linearmouse): add reverse scroll for Razer DeathAdder Essential
  linearmouse/linearmouse.json
Due: biome

feat(shell): relocate agmsg message store to XDG state dir
  shell/env.sh
Due: none

feat(herdr): add agent panel sort, toast delay, and CJK IME switching
  herdr/config.toml
Due: taplo

chore(hunk): bump lastSeenCliVersion to 0.17.7
  hunk/state.json
Due: biome

chore(zsh): regenerate mise completion spec cache filename
  zsh/completions/_mise
Due: none

chore(herdr): add plugins lock file
  herdr/.plugins.lock
Due: none

build(biome): update schema URL to 2.5.6
  biome.json
Due: biome

chore(rules): scope cmux/troubleshooting rules to lazy-load paths
  .claude/rules/tools/cmux.md
  .claude/rules/troubleshooting.md
Due: markdownlint, prettier

feat(mise): add agavra/tuicr default github package
  mise/config.default.toml
Due: taplo

fix(shell): remove LM Studio CLI auto-appended PATH from bash configs
  bash/.bash_profile
  bash/.bashrc
Due: none

feat(zsh): add LM Studio CLI bin to PATH
  zsh/lib/path.zsh
Due: beautysh, zsh-syntax

chore(mole): add default purge_paths config
  mole/purge_paths
Due: none

chore(ccstatusline): remove daily usage limit segment
  ccstatusline/settings.json
Due: biome

chore(mise): add ccstatusline npm package
  mise/config.default.toml
Due: taplo

chore(mise): align apm-cli pin with the ~/.apm workspace
  mise/config.default.toml
  mise/config.windows.toml
Due: taplo

chore(homebrew): remove peekaboo from trusted casks
  homebrew/trust.json
Due: biome

chore: exclude apm-deployed opencode commands from git and lint
  .gitignore
  .markdownlint-cli2.jsonc
  .prettierignore
  mise/config.ci.toml
  mise/config.toml
  mise/config.windows.toml
Due: taplo

chore(helm): remove portainer repository
  helm/repositories.yaml
Due: yamllint, prettier

fix(helm): preserve splunk repository
  helm/repositories.yaml
Due: yamllint, prettier

chore: TODO.mdをtodo.txt/CHANGELOG.mdへ移行
  CHANGELOG.md
  TODO.md
  todo.txt
Due: markdownlint, prettier

fix(zsh): refresh cached mise completion spec version
  zsh/completions/_mise
Due: none

chore(lefthook): pre-pushジョブにglobを追加
  lefthook.yml
Due: yamllint, prettier

chore: update recorded CLI version to 0.18.1
  hunk/state.json
Due: biome

chore(zsh): refresh mise completion spec cache version
  zsh/completions/_mise
Due: none

fix(zsh): make gd use tuicr and move git diff to gD
  zsh-abbr/user-abbreviations
Due: none

chore: untrack cursor CLI config and cache files
  .gitignore
  cursor/cli-config.json
Due: biome

chore: update Biome schema reference to 2.5.8
  biome.json
Due: biome

fix(mise): keep TASK_EXCLUDES free of glob characters
  mise/config.ci.toml
  mise/config.toml
  mise/config.windows.toml
  scripts/mise-task-excludes.test.ts
Due: taplo

fix(scripts): make bold heading check skip deployed dirs and fail on findings
  scripts/replace-bold-headings.test.ts
  scripts/replace-bold-headings.ts
Due: none

docs(plans): add 2026-08-14 advisor plans and branch map
  plans/005-setup-env-restrictive-modes.md
  plans/006-mise-wsl-snapshot-hardening.md
  plans/007-docs-stale-cleanup.md
  plans/README.md
Due: markdownlint, prettier

fix(windows): harden mise WSL snapshot secret and task handling
  scripts/windows/mise-wsl-task.ps1
  scripts/windows/mise-wsl-task.sh
Due: none
