Repository jey3dayo/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: beautysh, zsh-syntax, yamllint, markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo, biome

beautysh:
  name: Format Zsh scripts with beautysh
  entry: beautysh
  args:
  - -i
  - '2'
  language: system
  pass_filenames: true

zsh-syntax:
  name: Check Zsh syntax
  entry: zsh
  args:
  - -n
  language: system
  pass_filenames: true

yamllint:
  name: Lint YAML files with yamllint
  entry: yamllint
  args:
  - -f
  - parsable
  language: system
  pass_filenames: true

markdown-bold-headings:
  name: Normalize internal Markdown bold headings
  entry: tsx ./agents/scripts/replace-bold-headings.ts
  language: system
  pass_filenames: true

markdownlint:
  name: Lint Markdown files with markdownlint-cli2
  entry: markdownlint-cli2
  args:
  - --fix
  language: system
  pass_filenames: true

prettier:
  name: Format Markdown/YAML with Prettier
  entry: prettier
  args:
  - --write
  - --ignore-unknown
  - --log-level
  - error
  language: system
  pass_filenames: true

ruff-format:
  name: Format Python files with ruff
  entry: bash
  args:
  - -c
  - uvx ruff format "$@"
  - --
  language: system
  pass_filenames: true

ruff-check:
  name: Lint Python files with ruff
  entry: bash
  args:
  - -c
  - uvx ruff check --fix "$@"
  - --
  language: system
  pass_filenames: true

taplo:
  name: Format TOML files with taplo
  entry: taplo
  args:
  - format
  language: system
  pass_filenames: true

biome:
  name: Format and lint JS/TS with Biome
  entry: biome
  args:
  - check
  - --write
  language: system
  pass_filenames: true

feat(zsh-abbr): add hd abbreviation for hunkdiff diff
  zsh-abbr/user-abbreviations
Due: none

chore(bin): organize user commands
  README.md
  bash/.bashrc
  bin/aicommits-with-env
  bin/check-macos-app
  bin/check-telegram-api
  bin/send-telegram
  bin/tree-sitter
  docs/tools/workflows.md
  llms.md
  mise/lib/pre-push-check.sh
  mise/lib/shell-format.sh
  mise/tasks/lint.toml
  zsh/lib/aicommits.zsh
  zsh/lib/path.zsh
Due: beautysh, zsh-syntax, markdownlint, prettier, taplo

chore(security): remove bitly integration
  .cvimrc
  .vimperatorrc
Due: none

fix(bin): rework fix-mise-path to durable ~/.local/bin symlinks
  bin/fix-mise-path
Due: none

feat(zsh-abbr): exclude yarn.lock from hd diff
  zsh-abbr/user-abbreviations
Due: none

chore(mise): keep dotfiles tasks local
  .claude/rules/tools/zsh.md
  .github/workflows/ci.yml
  .mise.toml
  docs/tools/mise.md
  docs/tools/workflows.md
  mise/config.default.toml
  mise/config.pi.toml
  mise/lib/pre-push-check.sh
  mise/local-tasks/backup.toml
  mise/local-tasks/brewfile.toml
  mise/local-tasks/ci.toml
  mise/local-tasks/docs.toml
  mise/local-tasks/env.toml
  mise/local-tasks/format.toml
  mise/local-tasks/headroom.toml
  mise/local-tasks/home-manager.toml
  mise/local-tasks/integration.toml
  mise/local-tasks/lint.toml
  mise/local-tasks/test.toml
  mise/local-tasks/updates.toml
  scripts/mise-wsl-task.ps1
  scripts/mise-wsl-task.sh
Due: yamllint, markdownlint, prettier, taplo

chore(mise): expose safe global tasks
  .mise.toml
  docs/tools/mise.md
  mise/tasks/backup.toml
  mise/tasks/brewfile.toml
Due: markdownlint, prettier, taplo

fix(ci): mirror checkout into $HOME/.config for hm:deploy
  .github/workflows/ci.yml
Due: yamllint, prettier

chore(zsh-abbr): simplify hd abbreviation to plain hunkdiff diff
  zsh-abbr/user-abbreviations
Due: none

fix(nvim): brighten MiniPickMatchCurrent highlight for visibility
  nvim/lua/colorscheme.lua
Due: none

chore(hooks): migrate dotfiles hooks to lefthook
  .claude/rules/security.md
  .claude/rules/tools/zsh.md
  .pre-commit-config.yaml
  docs/security.md
  docs/tools/mise-config.md
  docs/tools/workflows.md
  lefthook.yml
  mise/config.default.toml
  mise/config.windows.toml
Due: yamllint, markdownlint, prettier, taplo

chore(hooks): cover nix and workflow files
  lefthook.yml
Due: yamllint, prettier

chore(gitignore): ignore herdr release-notes.json in runtime files
  .gitignore
Due: none

chore(mise): exclude hunkdiff/codex from minimum_release_age gate
  hunk/config.toml
  mise/config.toml
Due: taplo

fix(mise): stop config.toml from shadowing OS-specific settings
  mise/config.pi.toml
  mise/config.toml
Due: taplo

chore(mise): gate tool upgrades with minimum_release_age
  mise/config.toml
Due: taplo

chore(mise): unify uv install via github backend on windows/ci
  mise/config.ci.toml
  mise/config.windows.toml
Due: taplo

docs(mise): document config precedence and release-age gate
  docs/tools/mise-config.md
  docs/tools/mise.md
  mise/README.md
Due: markdownlint, prettier

build(mise): add @earendil-works/pi-coding-agent package
  mise/config.default.toml
  mise/config.pi.toml
Due: taplo

refactor(lefthook): split pre-push ci into per-check jobs
  lefthook.yml
Due: yamllint, prettier

chore(herdr): rebind tab navigation to prefix+shift+n/p
  herdr/config.toml
Due: taplo

fix(git): switch credential helper to osxkeychain
  git/config
Due: none

chore(hunk): bump lastSeenCliVersion to 0.17.0
  hunk/state.json
Due: biome

chore(prettier): exclude gh/config.yml from formatting
  .prettierignore
Due: none

chore(gitignore): exclude browser-harness runtime state
  .gitignore
Due: none

fix(mise): use git credentials for GitHub API fallback
  mise/config.toml
Due: taplo

feat(bin): add copypath to copy a file/dir's absolute path
  bin/copypath
Due: none

fix(bin): strip trailing newline from copypath clipboard output
  bin/copypath
Due: none

feat(skills): add nix-dotfiles skill
  skills/nix-dotfiles/SKILL.md
  skills/nix-dotfiles/agents/openai.yaml
  skills/nix-dotfiles/references/architecture.md
  skills/nix-dotfiles/references/commands.md
  skills/nix-dotfiles/references/troubleshooting.md
  skills/nix-dotfiles/scripts/diagnose.sh
Due: yamllint, markdownlint, prettier

feat(skills): add zsh skill
  skills/zsh/SKILL.md
Due: markdownlint, prettier

feat(skills): add wezterm skill
  skills/wezterm/SKILL.md
  skills/wezterm/references/wezterm.md
Due: markdownlint, prettier

feat(skills): add nvim skill
  skills/nvim/SKILL.md
  skills/nvim/agents/openai.yaml
  skills/nvim/references/nvim.md
Due: yamllint, markdownlint, prettier

docs(nix-dotfiles): remove legacy Nix Agent Skills distribution docs
  skills/nix-dotfiles/SKILL.md
  skills/nix-dotfiles/references/architecture.md
  skills/nix-dotfiles/references/commands.md
  skills/nix-dotfiles/references/troubleshooting.md
  skills/nix-dotfiles/scripts/diagnose.sh
Due: markdownlint, prettier

feat(apm): add repo-local apm.yml and install skills
  .agents/skills/nix-dotfiles/SKILL.md
  .agents/skills/nix-dotfiles/agents/openai.yaml
  .agents/skills/nix-dotfiles/references/architecture.md
  .agents/skills/nix-dotfiles/references/commands.md
  .agents/skills/nix-dotfiles/references/troubleshooting.md
  .agents/skills/nix-dotfiles/scripts/diagnose.sh
  .agents/skills/nvim/SKILL.md
  .agents/skills/nvim/agents/openai.yaml
  .agents/skills/nvim/references/nvim.md
  .agents/skills/wezterm/SKILL.md
  .agents/skills/wezterm/references/wezterm.md
  .agents/skills/zsh/SKILL.md
  .claude/skills/nix-dotfiles/SKILL.md
  .claude/skills/nix-dotfiles/agents/openai.yaml
  .claude/skills/nix-dotfiles/references/architecture.md
  .claude/skills/nix-dotfiles/references/commands.md
  .claude/skills/nix-dotfiles/references/troubleshooting.md
  .claude/skills/nix-dotfiles/scripts/diagnose.sh
  .claude/skills/nvim/SKILL.md
  .claude/skills/nvim/agents/openai.yaml
  .claude/skills/nvim/references/nvim.md
  .claude/skills/wezterm/SKILL.md
  .claude/skills/wezterm/references/wezterm.md
  .claude/skills/zsh/SKILL.md
  .gitignore
  apm.lock.yaml
  apm.yml
Due: yamllint, markdownlint, prettier

build(apm): add repo-local Agent Skills for nix-dotfiles/zsh/wezterm/nvim
  apm.lock.yaml
  apm.yml
Due: yamllint, prettier

feat(mise): migrate dotfiles and launchd agents to mise bootstrap
  mise/config.default.toml
  mise/config.toml
  scripts/bootstrap-task.sh
  scripts/launchd-codex-gui-env.sh
  scripts/launchd-headroom-proxy.sh
Due: taplo

refactor(nix): retire home-manager deployment migrated to mise bootstrap
  users/current/home.nix
Due: none

docs: mark mise bootstrap as deployment path and track HM removal plan
  .claude/rules/home-manager.md
  .claude/rules/setup-and-env.md
  TODO.md
  docs/setup.md
Due: markdownlint, prettier

test: verify aic/oco copy distribution via mise dotfiles instead of HM activation
  scripts/dotfiles-materialized-entrypoints.test.ts
Due: none

refactor(nix): remove home-manager flake and migrated deployment code
  .mise.toml
  bash/.bashrc
  flake.lock
  flake.nix
  home.nix
  home/.gitconfig
  home/.tmux.conf
  home/.zshrc
  hosts/CA-20031129/default.nix
  mise/lib/home-manager.sh
  mise/local-tasks/home-manager.toml
  nix/darwin.nix
  nix/dotfiles-files.nix
  nix/dotfiles-module.nix
  nix/env-detect.nix
  scripts/bootstrap.sh
  scripts/dotfiles-materialized-entrypoints.test.ts
  shell/env.sh
  users/current/home.nix
  zsh/.zshenv
Due: taplo

Path conditions:
  beautysh: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  zsh-syntax: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdown-bold-headings: any of: ^agents/internal/.*\.md$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-format: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-check: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  taplo: any of: \.toml$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  biome: any of: \.(js|jsx|ts|tsx|json)$ and \.(js|mjs|cjs)$, \.json$ and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
