Repository jey3dayo/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: beautysh, zsh-syntax, yamllint, markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo, biome

Path conditions:
  beautysh: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  zsh-syntax: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdown-bold-headings: any of: ^agents/internal/.*\.md$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-format: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-check: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  taplo: any of: \.toml$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  biome: any of: \.(js|jsx|ts|tsx|json)$ and \.(js|mjs|cjs)$, \.json$ and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))

docs(rules): drop bold labels from tool-install layer list
  .claude/rules/tools/tool-install-policy.md
Due: markdownlint, prettier

chore(apm): bump repo-local skill pins to 9940887a
  .agents/skills/nvim/SKILL.md
  .agents/skills/wezterm/SKILL.md
  .agents/skills/zsh/SKILL.md
  .claude/skills/nvim/SKILL.md
  .claude/skills/wezterm/SKILL.md
  .claude/skills/zsh/SKILL.md
  apm.lock.yaml
  apm.yml
Due: yamllint, markdownlint, prettier

docs(performance): record the 72ms zsh baseline and drop the finished roadmap
  .claude/rules/performance.md
  docs/performance.md
Due: markdownlint, prettier

chore(brew): move pam-reattach to bootstrap.packages
  .claude/rules/tools/tool-install-policy.md
  Brewfile
  docs/setup.md
  mise/config.macos.toml
Due: markdownlint, prettier, taplo

docs(wezterm): reduce README to a pointer and fix stale SST entries
  .claude/rules/tools/wezterm.md
  docs/tools/wezterm.md
  wezterm/README.md
Due: markdownlint, prettier

docs(mise): reduce README to a pointer and complete the directory layout
  docs/tools/mise.md
  mise/README.md
Due: markdownlint, prettier

docs(skills): retire skill-local references in favor of docs/tools
  skills/nvim/SKILL.md
  skills/nvim/references/nvim.md
  skills/wezterm/SKILL.md
  skills/wezterm/references/wezterm.md
Due: markdownlint, prettier

chore(claude): remove review criteria superseded by /code-review
  .claude/commands/refactoring.md
  .claude/review-criteria.md
  .claude/rules/claude-code-usage.md
Due: markdownlint, prettier

chore(apm): bump repo-local skill pins to 9f3fe3ba
  .agents/skills/nvim/SKILL.md
  .agents/skills/nvim/references/nvim.md
  .agents/skills/wezterm/SKILL.md
  .agents/skills/wezterm/references/wezterm.md
  .claude/skills/nvim/SKILL.md
  .claude/skills/nvim/references/nvim.md
  .claude/skills/wezterm/SKILL.md
  .claude/skills/wezterm/references/wezterm.md
  apm.lock.yaml
  apm.yml
Due: yamllint, markdownlint, prettier

docs: remove performance.md and keep startup baselines in tool docs
  .claude/rules/claude-code-usage.md
  .claude/rules/documentation-rules.md
  .claude/rules/performance.md
  .claude/rules/project-context.md
  .claude/rules/tools/nvim.md
  .claude/rules/tools/zsh.md
  .claude/rules/workflows-and-maintenance.md
  README.md
  TOOLS.md
  docs/README.md
  docs/documentation.md
  docs/performance.md
  docs/setup.md
  docs/tools/fzf-integration.md
  docs/tools/nvim.md
  docs/tools/workflows.md
  docs/tools/zsh.md
  nvim/README.md
  skills/nvim/SKILL.md
Due: markdownlint, prettier

chore(apm): bump repo-local skill pins to 2f1b6d45
  .agents/skills/nvim/SKILL.md
  .claude/skills/nvim/SKILL.md
  apm.lock.yaml
  apm.yml
Due: yamllint, markdownlint, prettier

docs(ssh,nvim): reduce READMEs to pointers and move unique facts into docs/tools
  docs/tools/nvim.md
  docs/tools/ssh.md
  nvim/README.md
  ssh/README.md
Due: markdownlint, prettier

chore(claude): drop duplicate rules and commands superseded by mise and skills
  .claude/README.md
  .claude/commands/ci-local.sh
  .claude/commands/refactoring.md
  .claude/rules/claude-code-usage.md
  .claude/rules/documentation-rules.md
  .claude/rules/project-context.md
  .claude/rules/tools/claude-code.md
  .claude/rules/tools/git-and-ssh.md
  .claude/rules/troubleshooting.md
  .claude/rules/workflows-and-maintenance.md
Due: markdownlint, prettier

docs: fold TOOLS.md into docs/README and remove global_rules.md
  .gitignore
  README.md
  TOOLS.md
  docs/README.md
  docs/documentation.md
  global_rules.md
  llms.md
Due: markdownlint, prettier

chore(todo): update WSL2 dotfiles apply command to current mise config
  todo.txt
Due: none

docs(changelog): record the 2026-09-23 docs consolidation
  CHANGELOG.md
Due: markdownlint, prettier

docs(setup): make Package Management Philosophy the single policy text for tool layers
  .claude/rules/tools/mise.md
  .claude/rules/tools/tool-install-policy.md
  .claude/rules/workflows-and-maintenance.md
  CHANGELOG.md
  docs/setup.md
  docs/tools/mise-config.md
  docs/tools/mise.md
  docs/tools/workflows.md
  mise/README.md
Due: markdownlint, prettier

chore(claude): fold troubleshooting rule into agent-skills rule and workflows routing
  .claude/rules/agent-skills-source-of-truth.md
  .claude/rules/troubleshooting.md
  docs/tools/workflows.md
Due: markdownlint, prettier

docs: reduce README and entry docs to navigation and fix stale review command in AGENTS
  .claude/README.md
  .claude/rules/claude-code-usage.md
  .claude/rules/documentation-rules.md
  AGENTS.md
  README.md
  llms.md
Due: markdownlint, prettier

docs(rules): compact ssh/security rules and keep key bindings only in docs/tools
  .claude/rules/security.md
  .claude/rules/tools/fzf-integration.md
  .claude/rules/tools/ssh.md
  .claude/rules/tools/wezterm.md
  docs/tools/zsh.md
  zsh/README.md
Due: markdownlint, prettier

docs(skills): generalize nvim skill and point repo facts at docs/tools/nvim.md
  skills/nvim/SKILL.md
Due: markdownlint, prettier

chore(apm): bump repo-local skill pins to eace2d47
  .agents/skills/nvim/SKILL.md
  .claude/skills/nvim/SKILL.md
  apm.lock.yaml
  apm.yml
Due: yamllint, markdownlint, prettier

chore: import AGENTS.md from CLAUDE.md, dedupe numbered-choice rule, relax settings cleanup window
  .claude/settings.json
  AGENTS.md
  CLAUDE.md
Due: markdownlint, prettier, biome

chore(ccstatusline): show 5h session usage instead of block elapsed time
  ccstatusline/settings.json
Due: biome

chore(ccstatusline): add pace cursor to usage bars and drop I/O tokens
  ccstatusline/settings.json
Due: biome

chore(ccstatusline): add effort, cache timer, Claude status, and cached PR review widget
  ccstatusline/settings.json
Due: biome

chore: update Biome schema to v2.5.14
  biome.json
Due: biome

chore: remove JINA_API_KEY and its GUI env injection
  .env
  docs/tools/1password.md
  scripts/launchd/launchd-gui-env.sh
Due: markdownlint, prettier

chore: ignore pnpm global config
  .gitignore
Due: none

chore(mise): install herdr via official installer to enable live handoff
  .claude/rules/tools/tool-install-policy.md
  docs/setup.md
  docs/tools/mise-config.md
  docs/tools/mise.md
  mise/entry.workstation-unix.toml
  mise/lib/ensure-standalone.sh
Due: markdownlint, prettier, taplo

docs(mise): link self-updating tool list instead of enumerating it
  docs/tools/mise.md
Due: markdownlint, prettier

docs: record herdr standalone install in changelog and weekly updates
  CHANGELOG.md
  docs/tools/workflows.md
Due: markdownlint, prettier

docs: fix sheldon path and wezterm@nightly cask update steps, drop duplicate prohibition lines in wezterm/zsh skills
  .claude/rules/tools/fzf-integration.md
  .claude/rules/tools/wezterm.md
  docs/tools/fzf-integration.md
  docs/tools/wezterm.md
  skills/wezterm/SKILL.md
  skills/zsh/SKILL.md
Due: markdownlint, prettier

chore(apm): bump repo-local skill pins to 64976f21
  .agents/skills/wezterm/SKILL.md
  .agents/skills/zsh/SKILL.md
  .claude/skills/wezterm/SKILL.md
  .claude/skills/zsh/SKILL.md
  apm.lock.yaml
  apm.yml
Due: yamllint, markdownlint, prettier

chore(opencode): remove AGENTS symlink so OpenCode falls back to the shared global guide
  .fdignore
  .prettierignore
Due: none

docs(rules): drop duplicated review rule, stale path scopes, relative phrasing and redundant backup advice
  .claude/rules/claude-code-usage.md
  .claude/rules/tools/fzf-integration.md
  .claude/rules/tools/nvim.md
  .claude/rules/tools/wezterm.md
  opencode/AGENTS.md
Due: markdownlint, prettier

chore(mise): remove hunkdiff tool and its zsh abbreviations
  mise/config.toml
  mise/entry.workstation-unix.toml
  zsh-abbr/user-abbreviations
Due: taplo

chore: remove leftover hunk config and references
  bin/fix-mise-path
  biome.json
  hunk/config.toml
  hunk/state.json
Due: taplo, biome

chore(herdr): ignore runtime agent socket and session snapshots
  .gitignore
Due: none

chore(brew): remove arto cask and its tap
  Brewfile
  homebrew/trust.json
Due: biome
