Repository jey3dayo/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: beautysh, zsh-syntax, yamllint, markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo, biome

Path conditions:
  beautysh: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  zsh-syntax: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdown-bold-headings: any of: ^agents/internal/.*\.md$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-format: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-check: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  taplo: any of: \.toml$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  biome: any of: \.(js|jsx|ts|tsx|json)$ and \.(js|mjs|cjs)$, \.json$ and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))

docs(superpowers): add plan and design spec for external skills cleanup
  docs/superpowers/plans/2026-03-27-clean-up-unused-external-skills.md
  docs/superpowers/specs/2026-03-27-unify-external-skills-management-design.md
Due: markdownlint, prettier

fix(nix): correct discoverCatalog priority operator order and docs
  .claude/rules/home-manager.md
  agents/nix/lib.nix
Due: markdownlint, prettier

fix(docs): correct Nix // operator comment and stale line number references
  docs/superpowers/plans/2026-03-27-clean-up-unused-external-skills.md
  docs/tools/home-manager.md
Due: markdownlint, prettier

docs(specs): add design spec for renaming agents/internal to agents/src
  docs/superpowers/specs/2026-03-27-rename-agents-internal-to-src-design.md
Due: markdownlint, prettier

docs: remove stale agents/external cleanup plan and spec
  docs/superpowers/plans/2026-03-27-clean-up-unused-external-skills.md
  docs/superpowers/specs/2026-03-27-unify-external-skills-management-design.md
Due: markdownlint, prettier

docs: update agents/internal references to agents/src
  .claude/rules/agent-skills-source-of-truth.md
  .claude/rules/commands-deprecation.md
  .claude/rules/home-manager.md
  .kiro/steering/product.md
  .kiro/steering/tech.md
  agents/README.md
  docs/tools/home-manager.md
  docs/tools/mise-tasks.md
  docs/tools/mise.md
  docs/tools/nix.md
Due: markdownlint, prettier

docs(plans): add implementation plan for agents/internal -> agents/src rename
  docs/superpowers/plans/2026-03-27-rename-agents-internal-to-src.md
Due: markdownlint, prettier

fix(nix): update agents/internal path references to agents/src
  agents/nix/lib.nix
  agents/nix/module.nix
  agents/scripts/validate-src.sh
  agents/scripts/validate-src.test.ts
  flake.nix
  home.nix
Due: none

fix(scripts): rename validate-internal to validate-src and update path refs
  .github/workflows/validate.yml
  .pre-commit-config.yaml
  agents/scripts/validate-src.sh
  agents/scripts/validate-src.test.ts
  mise/tasks/skills.toml
Due: yamllint, prettier, taplo

docs(skills): update agents/internal path references to agents/src
  agents/src/skills/distributions-manager/SKILL.md
  agents/src/skills/distributions-manager/references/architecture.md
  agents/src/skills/distributions-manager/references/priority-mechanism.md
  agents/src/skills/distributions-manager/references/symlink-patterns.md
  agents/src/skills/docs-index/indexes/agents-index.md
  agents/src/skills/nix-dotfiles/README.md
  agents/src/skills/nix-dotfiles/SKILL.md
  agents/src/skills/nix-dotfiles/references/commands.md
  agents/src/skills/nix-dotfiles/references/troubleshooting.md
  agents/src/skills/task-to-pr/SKILL.md
Due: markdownlint, prettier

test: update code reviewer fixture path to the src agents directory
  agents/scripts/module-agents-priority.test.ts
Due: none

docs: update distributions manager nix docs
  agents/src/skills/distributions-manager/references/architecture.md
  agents/src/skills/distributions-manager/references/priority-mechanism.md
Due: markdownlint, prettier

fix: unify agent skill selection logic
  agents/nix/lib.nix
  agents/nix/module.nix
  flake.nix
Due: none

docs: update path references and terminology for agents/src rename
  .kiro/steering/product.md
  .kiro/steering/structure.md
  AGENTS.md
  agents/README.md
  agents/src/skills/distributions-manager/SKILL.md
  agents/src/skills/distributions-manager/references/creating-bundles.md
  agents/src/skills/distributions-manager/references/priority-mechanism.md
  agents/src/skills/distributions-manager/references/symlink-patterns.md
  agents/src/skills/distributions-manager/resources/checklist.md
  agents/src/skills/distributions-manager/resources/examples/default-bundle.md
  agents/src/skills/distributions-manager/resources/templates/README.template.md
  agents/src/skills/distributions-manager/resources/templates/bundle-structure.txt
  docs/superpowers/plans/2026-03-27-rename-agents-internal-to-src.md
  scripts/skills-check.sh
Due: markdownlint, prettier

feat: add gh-create-pr skill to generate PRs from templates
  agents/src/skills/gh-create-pr/SKILL.md
  agents/src/skills/gh-create-pr/agents/openai.yaml
Due: yamllint, markdownlint, prettier

chore: add LINEAR_TOKEN to environment configuration
  .env
Due: none

feat: add Linear project routing docs and Tauri icon generation skill
  agents/src/skills/linear-task-ops/SKILL.md
  agents/src/skills/linear-task-ops/references/linear-projects-jey.md
  agents/src/skills/tauri-icon-gen/SKILL.md
  agents/src/skills/tauri-icon-gen/scripts/remove_white_bg.py
Due: markdownlint, prettier, ruff-format, ruff-check

docs: clarify skill routing guidance and usage boundaries across agent skills
  agents/src/skills/git-worktree/SKILL.md
  agents/src/skills/mise/skills/SKILL.md
  agents/src/skills/nix-dotfiles/SKILL.md
  agents/src/skills/task-to-pr/SKILL.md
  agents/src/skills/tauri-icon-gen/SKILL.md
Due: markdownlint, prettier

build: add rtk and route biome and busted tasks through it
  AGENTS.md
  mise/config.default.toml
  mise/tasks/format.toml
  mise/tasks/lint.toml
  mise/tasks/test.toml
Due: markdownlint, prettier, taplo

Stop generating .keep placeholders
  agents/nix/module.nix
Due: none

feat: add atomic-commit skill for granular file commits
  agents/src/skills/atomic-commit/SKILL.md
Due: markdownlint, prettier

feat(skills): add dev-browser skill with comprehensive usage docs
  agents/src/skills/dev-browser/SKILL.md
Due: markdownlint, prettier

fix: guard rainbow delimiters global strategy when parser is unavailable
  nvim/lua/config/rainbow-delimiters.lua
Due: none

fix: remove rtk from mise tasks for CI compatibility
  mise/tasks/format.toml
  mise/tasks/lint.toml
  mise/tasks/test.toml
Due: taplo

chore(skills): add windows skill install tasks
  mise/tasks/skills.toml
  scripts/install-agent-skills.ps1
Due: taplo

chore(mise): enable windows config
  .mise.toml
  mise/config.toml
  mise/config.windows.toml
  mise/tasks/env.toml
  scripts/setup-env.ps1
Due: taplo

chore(mise): expand windows toolset
  mise/config.windows.toml
Due: taplo

Add RTK skill and fix Windows skill installation
  agents/src/skills/rtk/SKILL.md
  agents/src/skills/rtk/agents/openai.yaml
  agents/src/skills/rtk/references/command-reference.md
  mise/tasks/env.toml
  scripts/install-agent-skills.ps1
Due: yamllint, markdownlint, prettier, taplo

add codex plugin cc external source
  agents/scripts/skills-add/index-lib.ts
  agents/scripts/skills-add/index.test.ts
  agents/scripts/skills-add/index.ts
  agents/scripts/skills-add/types.ts
  agents/scripts/skills-add/utils.test.ts
  agents/scripts/skills-add/utils.ts
  flake.lock
  flake.nix
  nix/agent-skills-sources.nix
Due: none

unify windows skills install targets
  agents/src/skills/rtk/SKILL.md
  agents/src/skills/rtk/references/command-reference.md
  mise/tasks/skills.toml
  scripts/install-agent-skills.ps1
Due: markdownlint, prettier, taplo

Add external agent skill sources to Nix config
  flake.nix
  nix/agent-skills-sources.nix
Due: none

Split local and distributed agent guides
  .gitattributes
  CLAUDE.md
  agents/src/AGENTS.md
  flake.lock
  home.nix
Due: markdownlint, prettier

Simplify AGENTS docs and clarify Codex review handling
  AGENTS.md
  agents/src/AGENTS.md
Due: markdownlint, prettier

fix(skills): preserve utf-8 in windows installer
  scripts/install-agent-skills-lib.ps1
  scripts/install-agent-skills-lib.test.ts
  scripts/install-agent-skills.ps1
Due: none

Add bun to Windows mise config
  mise/config.windows.toml
Due: taplo

chore(mise): fix rtk source
  mise/config.default.toml
  mise/config.windows.toml
Due: taplo

fix(shell): harden mise startup in bash and zsh
  bash/.bashrc
  zsh/config/tools/mise-env.zsh
  zsh/config/tools/mise.zsh
Due: beautysh, zsh-syntax

feat: add materializedEntryPointFiles to handle CLIs that reject Home Manager symlinks
  nix/dotfiles-files.nix
  nix/dotfiles-module.nix
Due: none

feat: add materialization of keep files for target directories to prevent symlinking from home.file
  agents/nix/module.nix
  agents/scripts/module-agents-priority.test.ts
Due: none
