Repository jey3dayo/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: beautysh, zsh-syntax, yamllint, markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo, biome

Path conditions:
  beautysh: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  zsh-syntax: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdown-bold-headings: any of: ^agents/internal/.*\.md$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-format: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-check: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  taplo: any of: \.toml$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  biome: any of: \.(js|jsx|ts|tsx|json)$ and \.(js|mjs|cjs)$, \.json$ and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))

chore: switch default model to DeepSeek V4 Flash
  opencode/opencode.json
Due: biome

chore: add dependency lockfile for OpenCode plugin
  opencode/package-lock.json
Due: biome

fix: move witr to shared mise tools to keep config.toml settings-only
  mise/config.shared.toml
  mise/config.toml
  scripts/mise-config.test.ts
Due: taplo

test: trim over-specified and implementation-detail assertions
  nvim/spec/core/utils_spec.lua
  nvim/spec/lsp/formatter_selector_spec.lua
  nvim/spec/lsp/settings/tailwindcss_spec.lua
  nvim/spec/lsp/settings_factory_spec.lua
  nvim/spec/lsp/utils_spec.lua
  scripts/env-detect.test.ts
  scripts/replace-bold-headings.test.ts
  scripts/run-ts-tests-discovery.test.ts
  scripts/zsh-env-loading.test.ts
  spec/wezterm_os_spec.lua
  spec/zsh_performance_spec.lua
Due: none

docs: add why/what comments to core helpers
  mise/lib/pre-push-check.sh
  nvim/lua/core/ftplugin.lua
  nvim/lua/core/ftplugin_alias.lua
  nvim/lua/core/mise.lua
  nvim/lua/core/utils.lua
  nvim/lua/lsp/autoformat.lua
  nvim/lua/lsp/formatter_selector.lua
  nvim/lua/lsp/handlers.lua
  nvim/lua/lsp/settings/lua_ls.lua
  scripts/mise-ci.sh
  scripts/replace-bold-headings.ts
  wezterm/utils.lua
  zsh/lib/git-widgets.zsh
  zsh/lib/path.zsh
Due: beautysh, zsh-syntax

fix(test): guard the autosuggestion assertions behind the plugin load
  scripts/zsh-env-loading.test.ts
Due: none

chore(mise): remove gemini-cli
  mise/config.workstation.toml
Due: taplo

chore(homebrew): sync Brewfile with installed taps/casks and trust.json
  Brewfile
  homebrew/trust.json
Due: biome

feat(mise): add brewfile:diff task to report Brewfile drift
  mise/tasks/brewfile.toml
  scripts/brewfile-diff.sh
Due: taplo

docs(tools): document brewfile:diff and Terraform's move to mise
  .claude/rules/tools/tool-install-policy.md
  CHANGELOG.md
  TOOLS.md
  docs/tools/mise-tasks.md
  docs/tools/workflows.md
Due: markdownlint, prettier

refactor(nvim): remove tailwindcss LSP configuration
  nvim/README.md
  nvim/lua/core/filetypes.lua
  nvim/lua/lsp/config.lua
  nvim/lua/lsp/settings/tailwindcss.lua
  nvim/spec/lsp/settings/tailwindcss_spec.lua
  nvim/spec/lsp/settings_factory_spec.lua
Due: markdownlint, prettier

refactor(nvim): migrate LSP setup to native vim.lsp config
  nvim/README.md
  nvim/after/lsp/bashls.lua
  nvim/after/lsp/cssls.lua
  nvim/after/lsp/eslint.lua
  nvim/after/lsp/gopls.lua
  nvim/after/lsp/jsonls.lua
  nvim/after/lsp/lua_ls.lua
  nvim/after/lsp/marksman.lua
  nvim/after/lsp/taplo.lua
  nvim/after/lsp/ts_ls.lua
  nvim/after/lsp/typos_lsp.lua
  nvim/after/lsp/yamlls.lua
  nvim/lua/autocmds.lua
  nvim/lua/config/mason-lspconfig.lua
  nvim/lua/config/mini-clue.lua
  nvim/lua/keymaps.lua
  nvim/lua/lsp/capabilities.lua
  nvim/lua/lsp/compat.lua
  nvim/lua/lsp/config.lua
  nvim/lua/lsp/debug.lua
  nvim/lua/lsp/formatter.lua
  nvim/lua/lsp/formatter_selector.lua
  nvim/lua/lsp/handlers.lua
  nvim/lua/lsp/keymaps.lua
  nvim/lua/lsp/settings/eslint.lua
  nvim/lua/lsp/settings/pylsp.lua
  nvim/lua/lsp/settings/pyright.lua
  nvim/lua/lsp/settings/ruff_lsp.lua
  nvim/lua/lsp/settings/typescript-tools.lua
  nvim/lua/lsp/settings/vimls.lua
  nvim/lua/lsp/settings_factory.lua
  nvim/lua/lsp/setup.lua
  nvim/lua/plugins/lsp.lua
  nvim/lua/setup/mason.lua
  nvim/spec/lsp/formatter_selector_spec.lua
  nvim/spec/lsp/settings_factory_spec.lua
Due: markdownlint, prettier

refactor(nvim): drop format-on-save and nvim-lint
  nvim/README.md
  nvim/lua/autocmds.lua
  nvim/lua/lsp/config.lua
  nvim/lua/lsp/debug.lua
  nvim/lua/plugins/lsp.lua
  nvim/lua/setup/conform.lua
  nvim/lua/setup/nvim-lint.lua
Due: markdownlint, prettier

refactor(nvim): disable pylsp linters covered by ruff
  nvim/after/lsp/pylsp.lua
Due: none

refactor(nvim): consolidate plugin config under lua/config
  nvim/lua/config/conform.lua
  nvim/lua/config/lualine/init.lua
  nvim/lua/config/nvim-treesitter.lua
  nvim/lua/os.lua
  nvim/lua/plugins/lsp.lua
  nvim/lua/plugins/treesitter.lua
  nvim/lua/plugins/ui.lua
Due: none

refactor(nvim): trim LSP comments to why-only
  nvim/after/lsp/eslint.lua
  nvim/after/lsp/gopls.lua
  nvim/after/lsp/pylsp.lua
  nvim/after/lsp/yamlls.lua
  nvim/lua/autocmds.lua
  nvim/lua/lsp/capabilities.lua
  nvim/lua/lsp/handlers.lua
  nvim/lua/lsp/setup.lua
Due: none

docs(tools): drop nvim-lint and removed LSP references
  docs/tools/nvim.md
  docs/tools/workflows.md
Due: markdownlint, prettier

chore(nvim): drop supermaven-nvim and unmaintained plugins
  nvim/README.md
  nvim/lua/config/blink-cmp-simple.lua
  nvim/lua/config/nvim-projectconfig.lua
  nvim/lua/plugins/ai.lua
  nvim/lua/plugins/languages.lua
  nvim/lua/plugins/tools.lua
Due: markdownlint, prettier

docs(nvim): drop supermaven references
  README.md
  docs/performance.md
  docs/tools/nvim.md
Due: markdownlint, prettier

docs(nvim): sync canonical guide and rules after supermaven removal
  .agents/skills/nvim/references/nvim.md
  .claude/review-criteria.md
  .claude/rules/tools/nvim.md
  .claude/skills/nvim/references/nvim.md
  docs/tools/nvim.md
  skills/nvim/references/nvim.md
Due: markdownlint, prettier

chore(nvim): drop supermaven-nvim and unmaintained plugins (#178)
  .agents/skills/nvim/references/nvim.md
  .claude/review-criteria.md
  .claude/rules/tools/nvim.md
  .claude/skills/nvim/references/nvim.md
  README.md
  docs/performance.md
  docs/tools/nvim.md
  nvim/README.md
  nvim/lua/config/blink-cmp-simple.lua
  nvim/lua/config/nvim-projectconfig.lua
  nvim/lua/plugins/ai.lua
  nvim/lua/plugins/languages.lua
  nvim/lua/plugins/tools.lua
  skills/nvim/references/nvim.md
Due: markdownlint, prettier

chore(mise): drop unused workstation npm tools
  mise/config.workstation.toml
Due: taplo

docs(tools): sync mise workstation tool references
  docs/tools/mise-config.md
  docs/tools/mise.md
Due: markdownlint, prettier

docs(performance): align Neovim startup claims with measured values
  docs/performance.md
  docs/tools/nvim.md
Due: markdownlint, prettier

docs(performance): refresh metadata and nvim rule baseline links
  .claude/rules/tools/nvim.md
  docs/performance.md
Due: markdownlint, prettier

chore(mise): bump tools and disable go.mod idiomatic reads
  docs/tools/mise-config.md
  mise/config.shared.toml
  mise/config.workstation.toml
  mise/entry.workstation-unix.toml
Due: markdownlint, prettier, taplo

fix(mise): authenticate GitHub API via gh credential_command
  mise/config.toml
  mise/entry.workstation-unix.toml
Due: taplo

refactor(zsh): drop mise token wrapper superseded by credential_command
  scripts/zsh-env-loading.test.ts
  zsh/.zshrc
  zsh/lib/mise.zsh
Due: beautysh, zsh-syntax

fix(mise): update mise itself before upgrading managed tools
  docs/tools/mise-tasks.md
  mise/lib/self-update-mise.sh
  mise/local-tasks/updates.toml
  scripts/windows/mise-update.ps1
Due: markdownlint, prettier, taplo

docs(rules): rewrite tool-install policy around bootstrap.packages ownership
  .claude/rules/tools/tool-install-policy.md
  .claude/rules/workflows-and-maintenance.md
Due: markdownlint, prettier

docs(wezterm): align rules, docs, and skill with the OpenGL front end
  .claude/rules/tools/wezterm.md
  docs/tools/wezterm.md
  skills/wezterm/SKILL.md
Due: markdownlint, prettier

docs(zsh): drop phantom 6-stage and tiered loading from rules and skill
  .claude/rules/performance.md
  .claude/rules/tools/zsh.md
  skills/zsh/SKILL.md
Due: markdownlint, prettier

docs(nvim): describe the native vim.lsp setup in rule and skill
  .claude/rules/tools/nvim.md
  skills/nvim/SKILL.md
Due: markdownlint, prettier

docs(claude): fix stale paths and theme claims in refactoring and review criteria
  .claude/commands/refactoring.md
  .claude/review-criteria.md
Due: markdownlint, prettier

docs(zsh): match docs and README to the current lib load order
  README.md
  docs/tools/zsh.md
  scripts/bootstrap.sh
Due: markdownlint, prettier

docs(ssh): replace phantom config.d paths with the common/macos/linux layout
  docs/tools/ssh.md
  ssh/README.md
Due: markdownlint, prettier

docs(nvim): document after/lsp and native LSP activation
  docs/tools/nvim.md
  nvim/README.md
Due: markdownlint, prettier

docs(tools): drop stale rule line counts and fix the Git doc link
  TOOLS.md
  docs/tools/git.md
  docs/tools/wezterm.md
Due: markdownlint, prettier

docs(mise): point weekly updates at mise run update
  docs/tools/mise.md
  docs/tools/workflows.md
Due: markdownlint, prettier
