Repository jey3dayo/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: beautysh, zsh-syntax, yamllint, markdown-bold-headings, markdownlint, prettier, ruff-format, ruff-check, taplo, biome

beautysh:
  name: Format Zsh scripts with beautysh
  entry: beautysh
  args:
  - -i
  - '2'
  language: system
  pass_filenames: true

zsh-syntax:
  name: Check Zsh syntax
  entry: zsh
  args:
  - -n
  language: system
  pass_filenames: true

yamllint:
  name: Lint YAML files with yamllint
  entry: yamllint
  args:
  - -f
  - parsable
  language: system
  pass_filenames: true

markdown-bold-headings:
  name: Normalize internal Markdown bold headings
  entry: tsx ./agents/scripts/replace-bold-headings.ts
  language: system
  pass_filenames: true

markdownlint:
  name: Lint Markdown files with markdownlint-cli2
  entry: markdownlint-cli2
  args:
  - --fix
  language: system
  pass_filenames: true

prettier:
  name: Format Markdown/YAML with Prettier
  entry: prettier
  args:
  - --write
  - --ignore-unknown
  - --log-level
  - error
  language: system
  pass_filenames: true

ruff-format:
  name: Format Python files with ruff
  entry: bash
  args:
  - -c
  - uvx ruff format "$@"
  - --
  language: system
  pass_filenames: true

ruff-check:
  name: Lint Python files with ruff
  entry: bash
  args:
  - -c
  - uvx ruff check --fix "$@"
  - --
  language: system
  pass_filenames: true

taplo:
  name: Format TOML files with taplo
  entry: taplo
  args:
  - format
  language: system
  pass_filenames: true

biome:
  name: Format and lint JS/TS with Biome
  entry: biome
  args:
  - check
  - --write
  language: system
  pass_filenames: true

Add script test coverage and fix broken test
  agents/scripts/replace-bold-headings.test.ts
  agents/scripts/skills-add/index-lib.ts
  agents/scripts/skills-add/index.test.ts
  agents/scripts/skills-add/index.ts
  agents/scripts/skills-sync-inputs-lib.ts
  agents/scripts/skills-sync-inputs.test.ts
  agents/scripts/skills-sync-inputs.ts
  agents/scripts/validate-internal.test.ts
  mise/tasks/test.toml
  scripts/setup-env.test.ts
  scripts/setup-gitleaks.test.ts
Due: taplo

Fix CI mise task config resolution
  .github/workflows/ci.yml
Due: yamllint, prettier

Add fallback mise config filename for CI
  .github/workflows/ci.yml
Due: yamllint, prettier

Fix CI mise task include path
  .github/workflows/ci.yml
Due: yamllint, prettier

Add script test coverage and fix broken test (#124)
  .github/workflows/ci.yml
  agents/scripts/replace-bold-headings.test.ts
  agents/scripts/skills-add/index-lib.ts
  agents/scripts/skills-add/index.test.ts
  agents/scripts/skills-add/index.ts
  agents/scripts/skills-sync-inputs-lib.ts
  agents/scripts/skills-sync-inputs.test.ts
  agents/scripts/skills-sync-inputs.ts
  agents/scripts/validate-internal.test.ts
  mise/tasks/test.toml
  scripts/setup-env.test.ts
  scripts/setup-gitleaks.test.ts
Due: yamllint, prettier, taplo

fix: move npmrc auth token to dotenvx and deploy via Home Manager
  .env
  home/.npmrc
  nix/dotfiles-files.nix
Due: none

chore: add TODO for expired NODE_AUTH_TOKEN
  .env
Due: none

fix: npmrc auth token を dotenvx 管理に移行 (#125)
  .env
  home/.npmrc
  nix/dotfiles-files.nix
Due: none

Refactor mise TypeScript test task runner
  mise/tasks/lib/run-ts-tests.sh
  mise/tasks/test.toml
Due: taplo

Address PR comments for TS test discovery
  mise/tasks/lib/run-ts-tests.sh
Due: none

Add tsx availability check in run-ts-tests.sh
  mise/tasks/lib/run-ts-tests.sh
Due: none

Refactor mise TypeScript test task runner (#126)
  mise/tasks/lib/run-ts-tests.sh
  mise/tasks/test.toml
Due: taplo

chore: update Brewfile and config.default.toml
  Brewfile
  mise/config.default.toml
Due: taplo

chore: remove expired GitHub PAT TODO comment
  .env
Due: none

chore(Brewfile): update taps, brews, and casks list
  Brewfile
  mise/config.default.toml
Due: taplo

chore(env): update NODE_AUTH_TOKEN and .npmrc config
  .env
  home/.npmrc
Due: none

chore(Brewfile): remove Slack app entry
  Brewfile
Due: none

feat: add dotenvx shell integration and ghostty keybind fix
  ghostty/config
  zsh/config/loaders/tools.zsh
  zsh/config/tools/dotenvx.zsh
Due: beautysh, zsh-syntax

chore: Brewfile 整理と mise 移行
  Brewfile
  mise/config.default.toml
Due: taplo

chore: update .shellcheckrc to disable SC1090
  .shellcheckrc
Due: none

chore(Brewfile): remove unused taps and brews
  Brewfile
  zsh/config/loaders/tools.zsh
Due: beautysh, zsh-syntax

fix: address PR review comments for dotenvx eval and zsh nomatch glob
  zsh/config/loaders/tools.zsh
  zsh/config/tools/dotenvx.zsh
Due: beautysh, zsh-syntax

fix: exclude .zsh from shfmt/shellcheck, use (N) glob qualifier
  .claude/rules/tools/zsh.md
  .pre-commit-config.yaml
  zsh/config/loaders/tools.zsh
Due: beautysh, zsh-syntax, yamllint, markdownlint, prettier

chore(Brewfile): 不要パッケージ削除（gradle, julia, maven, pdfcrack, perl, tomcat, tunnelbear, vagrant, versions, xquartz, zulu@8）
  Brewfile
Due: none

fix: dotenvx.zsh から不要な shellcheck コメントを削除
  zsh/config/tools/dotenvx.zsh
Due: beautysh, zsh-syntax

fix: pre-commit 全ファイルチェック対応 - zsh dotfiles と各種 lint 修正
  .claude/commands/ci-local.sh
  .pre-commit-config.yaml
  .rubocop.yml
  bash/.bash_profile
  bash/.bashrc
  scripts/openclaw-cleanup
  zsh/.zprofile
  zsh/.zshenv
  zsh/lazy-sources/orbstack.zsh
  zsh/sources/config-loader.zsh
Due: beautysh, zsh-syntax, yamllint, prettier

chore: Brewfile 整理と mise 移行 (#127)
  .claude/commands/ci-local.sh
  .claude/rules/tools/zsh.md
  .env
  .pre-commit-config.yaml
  .rubocop.yml
  .shellcheckrc
  Brewfile
  bash/.bash_profile
  bash/.bashrc
  ghostty/config
  home/.npmrc
  mise/config.default.toml
  scripts/openclaw-cleanup
  zsh/.zprofile
  zsh/.zshenv
  zsh/config/loaders/tools.zsh
  zsh/config/tools/dotenvx.zsh
  zsh/lazy-sources/orbstack.zsh
  zsh/sources/config-loader.zsh
Due: beautysh, zsh-syntax, yamllint, markdownlint, prettier, taplo

fix(ssh): Protocol 2 削除、PasswordAuthentication を no に変更
  ssh/config.d/common/00-global.sshconfig
Due: none

fix(ssh): Protocol 2 削除、PasswordAuthentication を no に変更 (#128)
  ssh/config.d/common/00-global.sshconfig
Due: none

docs: update PR template for infra and checks
  .github/PULL_REQUEST_TEMPLATE.md
Due: markdownlint, prettier

fix: revert task_config.includes paths to config_root-relative
  .mise.toml
Due: taplo

fix: update task_config.includes for mise v2026.2.17 config_root change
  .mise.toml
Due: taplo

fix(nix): Pi検出を pathExists ベースに変更
  nix/env-detect.nix
Due: none

fix(nix): AND条件で誤検出防止 + 環境変数オーバーライド追加
  nix/env-detect.nix
Due: none

fix(nix): Pi検出を pathExists ベースに変更 (#130)
  nix/env-detect.nix
Due: none

docs: simplify and reorganize AGENTS.md
  AGENTS.md
  AGENTS.v1.md
Due: markdownlint, prettier

style: Remove bold from list items in AGENTS.md
  AGENTS.md
Due: markdownlint, prettier

fix(nix): remove dead code, add invalid env warning, fix outdated comments (#132)
  home.nix
  nix/env-detect.nix
Due: none

feat(ci): add flake.nix / agent-skills-sources.nix sync check (#131)
  .github/workflows/validate.yml
  mise/tasks/ci.toml
  mise/tasks/skills.toml
  scripts/check-flake-sync.sh
Due: yamllint, prettier, taplo

docs: document validate scope and add info display to mkValidateScript (#134)
  .claude/rules/home-manager.md
  agents/nix/lib.nix
Due: markdownlint, prettier

Path conditions:
  beautysh: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  zsh-syntax: any of: \.zsh$ and not (^(zsh/\.zinit|fisher)) and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdown-bold-headings: any of: ^agents/internal/.*\.md$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-format: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  ruff-check: any of: \.py$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  taplo: any of: \.toml$, but not: ^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/)
  biome: any of: \.(js|jsx|ts|tsx|json)$ and \.(js|mjs|cjs)$, \.json$ and not (^(agents/external/|\.worktrees/|result/|result-.*|\.luarocks/))
